Repository AgnostiqHQ/covalent, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AgnostiqHQ/aq-engineers, @santoshkumarradha, @mshkanth, @Prasy12, @AgnostiqHQ/aq-managers

Readme viewer alignment changes
  README.md
Owners: @AgnostiqHQ/aq-engineers

Redirection changes in tutorials
  README.md
Owners: @AgnostiqHQ/aq-engineers

Readme changes:svg method
  README.md
Owners: @AgnostiqHQ/aq-engineers

added anchor tag
  doc/readme-assets/tutorials.svg
Owners: @santoshkumarradha

current version of test_electron_pow_method
  tests/covalent_tests/workflow/electron_test.py
Owners: @AgnostiqHQ/aq-engineers

removing the _db/load.py file
  covalent_dispatcher/_db/load.py
  tests/covalent_dispatcher_tests/_db/load_test.py
Owners: @AgnostiqHQ/aq-engineers

fixing license
  covalent/executor/schemas.py
  covalent/executor/utils/enums.py
  covalent/executor/utils/serialize.py
  covalent_dispatcher/_core/runner_ng.py
  covalent_dispatcher/_service/runnersvc.py
  tests/covalent_dispatcher_tests/_core/runner_ng_test.py
  tests/covalent_dispatcher_tests/_service/runnersvc_test.py
  tests/covalent_tests/executor/__init__.py
  tests/covalent_tests/executor/executor_plugins/__init__.py
Owners: @AgnostiqHQ/aq-engineers

fixing test_electron_pow after a change request
  tests/covalent_tests/workflow/electron_test.py
Owners: @AgnostiqHQ/aq-engineers

fixing tests
  CHANGELOG.md
  covalent_dispatcher/_core/runner.py
  covalent_dispatcher/_core/runner_ng.py
  tests/covalent_tests/executor/base_test.py
Owners: @AgnostiqHQ/aq-engineers

fixes #1835 (#1837)
  CHANGELOG.md
  covalent/_workflow/electron.py
  tests/covalent_tests/workflow/electron_test.py
Owners: @AgnostiqHQ/aq-engineers

Updated nightly to run once a day, and added manual trigger
  .github/workflows/nightly.yml
  CHANGELOG.md
Owners: @AgnostiqHQ/aq-managers

removed manual triggering
  .github/workflows/nightly.yml
  CHANGELOG.md
Owners: @AgnostiqHQ/aq-managers

testing whether this unblocks the functional tests
  tests/functional_tests/local_executor_test.py
Owners: @AgnostiqHQ/aq-engineers

fixing tests
  covalent_dispatcher/_core/data_manager.py
  covalent_dispatcher/_core/runner_ng.py
  tests/covalent_tests/triggers/database_trigger_test.py
Owners: @AgnostiqHQ/aq-engineers

fixing tests
  covalent/_shared_files/utils.py
  covalent/executor/executor_plugins/dask.py
Owners: @AgnostiqHQ/aq-engineers

reverting dask related changes
  covalent/executor/executor_plugins/dask.py
Owners: @AgnostiqHQ/aq-engineers

fixed dask issue
  covalent/executor/executor_plugins/dask.py
Owners: @AgnostiqHQ/aq-engineers

Add filename asset map
  covalent/_shared_files/schemas/electron.py
Owners: @AgnostiqHQ/aq-engineers

skipping test as it requires rewriting it
  tests/covalent_dispatcher_tests/_core/execution_test.py
Owners: @AgnostiqHQ/aq-engineers

Update local_executor_test.py
  tests/functional_tests/local_executor_test.py
Owners: @AgnostiqHQ/aq-engineers

Added a get all results function
  covalent/_results_manager/results_manager.py
Owners: @AgnostiqHQ/aq-engineers

Update changelog
  CHANGELOG.md
Owners: none

update endpoint addresses to include job
  covalent/executor/utils/wrappers.py
Owners: @AgnostiqHQ/aq-engineers

modify sublattice endpoint defn
  covalent/_dispatcher_plugins/local.py
Owners: @AgnostiqHQ/aq-engineers

added test function
  tests/covalent_tests/shared_files/utils_test.py
Owners: @AgnostiqHQ/aq-engineers

updated test case
  tests/covalent_tests/shared_files/utils_test.py
Owners: @AgnostiqHQ/aq-engineers

Updated CRM to return installed plugin status.
  covalent/cloud_resource_manager/core.py
  covalent_dispatcher/_cli/groups/deploy.py
Owners: @AgnostiqHQ/aq-engineers

Fix - executor's deploy message for verbose
  covalent/cloud_resource_manager/core.py
  covalent_dispatcher/_cli/groups/deploy.py
Owners: @AgnostiqHQ/aq-engineers

DAL: Remember to update Record attrs on Record.update()
  covalent_dispatcher/_dal/controller.py
Owners: @AgnostiqHQ/aq-engineers

Tests: force task packing for ft
  tests/functional_tests/workflow_stack_test.py
Owners: @AgnostiqHQ/aq-engineers

fixes #1783 (#1810)
  CHANGELOG.md
  covalent/_shared_files/utils.py
  tests/covalent_tests/shared_files/utils_test.py
Owners: @AgnostiqHQ/aq-engineers

Tests: Revert force task packing for ft
  tests/functional_tests/workflow_stack_test.py
Owners: @AgnostiqHQ/aq-engineers

Tests: enable task packing during FT
  .github/workflows/tests.yml
Owners: @AgnostiqHQ/aq-managers

SDK: don't pickle lattice_imports or cova_imports
  covalent/_serialize/lattice.py
  covalent/_shared_files/schemas/lattice.py
  covalent/_shared_files/utils.py
  covalent/_workflow/lattice.py
  tests/covalent_dispatcher_tests/_db/write_result_to_db_test.py
  tests/covalent_tests/workflow/lattice_serialization_test.py
  tests/covalent_ui_backend_tests/utils/data/lattices.json
  tests/covalent_ui_backend_tests/utils/data/mock_files.py
Owners: @AgnostiqHQ/aq-engineers

[DEBUG] Print Covalent status after start server.
  .github/workflows/tests.yml
Owners: @AgnostiqHQ/aq-managers

Disable task packing during tests
  .github/workflows/tests.yml
Owners: @AgnostiqHQ/aq-managers

More logging
  .github/workflows/tests.yml
Owners: @AgnostiqHQ/aq-managers

Capturing failed deployment status on CRM
  covalent/cloud_resource_manager/core.py
Owners: @AgnostiqHQ/aq-engineers

Revert "Disable task packing during tests"
  .github/workflows/tests.yml
Owners: @AgnostiqHQ/aq-managers

Reload config before reading cluster admin address
  covalent_dispatcher/_cli/service.py
Owners: @AgnostiqHQ/aq-engineers

.github/CODEOWNERS:

# Copyright 2021 Agnostiq Inc.
#
# This file is part of Covalent.
#
# Licensed under the Apache License 2.0 (the "License"). A copy of the
# License may be obtained with this software package or at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Use of this file is prohibited except in compliance with the License.
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# CODEOWNERS

# Core code, docs, and tests are owned by the Agnostiq engineering team.
/covalent/		@AgnostiqHQ/aq-engineers
/covalent_dispatcher/	@AgnostiqHQ/aq-engineers
/doc/			@santoshkumarradha
/tests/			@AgnostiqHQ/aq-engineers
.flake8			@AgnostiqHQ/aq-engineers
.gitignore		@AgnostiqHQ/aq-engineers
.pre-commit-config.yaml	@AgnostiqHQ/aq-engineers
.prettierrc 		@AgnostiqHQ/aq-engineers
.pylintrc 		@AgnostiqHQ/aq-engineers
.readthedocs.yaml 	@AgnostiqHQ/aq-engineers
.wci.yaml 		@AgnostiqHQ/aq-engineers
CODE_OF_CONDUCT.md 	@AgnostiqHQ/aq-engineers
CONTRIBUTING.md 	@AgnostiqHQ/aq-engineers
README.md 		@AgnostiqHQ/aq-engineers
pyproject.toml 		@AgnostiqHQ/aq-engineers

# Covalent UI is owned by collaborators from Psiog.
/covalent_ui/**/*.js 		@mshkanth @Prasy12

# Modifying these requires additional approval.
Dockerfile		@AgnostiqHQ/aq-managers
.github/**		@AgnostiqHQ/aq-managers
LICENSE			@AgnostiqHQ/aq-managers
MANIFEST.in		@AgnostiqHQ/aq-managers
meta.yaml		@AgnostiqHQ/aq-managers
**/requirements.txt	@AgnostiqHQ/aq-managers
setup.py		@AgnostiqHQ/aq-managers
Makefile 		@AgnostiqHQ/aq-managers
