Repository AgnostiqHQ/covalent, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AgnostiqHQ/aq-engineers, @santoshkumarradha, @mshkanth, @Prasy12, @AgnostiqHQ/aq-managers

.github/CODEOWNERS:

# Copyright 2021 Agnostiq Inc.
#
# This file is part of Covalent.
#
# Licensed under the Apache License 2.0 (the "License"). A copy of the
# License may be obtained with this software package or at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Use of this file is prohibited except in compliance with the License.
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# CODEOWNERS

# Core code, docs, and tests are owned by the Agnostiq engineering team.
/covalent/		@AgnostiqHQ/aq-engineers
/covalent_dispatcher/	@AgnostiqHQ/aq-engineers
/doc/			@santoshkumarradha
/tests/			@AgnostiqHQ/aq-engineers
.flake8			@AgnostiqHQ/aq-engineers
.gitignore		@AgnostiqHQ/aq-engineers
.pre-commit-config.yaml	@AgnostiqHQ/aq-engineers
.prettierrc 		@AgnostiqHQ/aq-engineers
.pylintrc 		@AgnostiqHQ/aq-engineers
.readthedocs.yaml 	@AgnostiqHQ/aq-engineers
.wci.yaml 		@AgnostiqHQ/aq-engineers
CODE_OF_CONDUCT.md 	@AgnostiqHQ/aq-engineers
CONTRIBUTING.md 	@AgnostiqHQ/aq-engineers
README.md 		@AgnostiqHQ/aq-engineers
pyproject.toml 		@AgnostiqHQ/aq-engineers

# Covalent UI is owned by collaborators from Psiog.
/covalent_ui/**/*.js 		@mshkanth @Prasy12

# Modifying these requires additional approval.
Dockerfile		@AgnostiqHQ/aq-managers
.github/**		@AgnostiqHQ/aq-managers
LICENSE			@AgnostiqHQ/aq-managers
MANIFEST.in		@AgnostiqHQ/aq-managers
meta.yaml		@AgnostiqHQ/aq-managers
**/requirements.txt	@AgnostiqHQ/aq-managers
setup.py		@AgnostiqHQ/aq-managers
Makefile 		@AgnostiqHQ/aq-managers

Adding qelectron tests to the suite
  .github/workflows/tests.yml
  tests/qelectron_tests/core_tests/__init__.py
  tests/qelectron_tests/core_tests/test_decorator.py
  tests/qelectron_tests/core_tests/test_qelectron_db.py
  tests/qelectron_tests/core_tests/test_run_later.py
  tests/qelectron_tests/plugin_tests/__init__.py
  tests/qelectron_tests/plugin_tests/test_braket_plugin.py
  tests/qelectron_tests/plugin_tests/test_qiskit_plugin.py
  tests/qelectron_tests/plugin_tests/test_qiskit_plugin_runtime.py
Owners: @AgnostiqHQ/aq-managers, @AgnostiqHQ/aq-engineers

disabling qelectron tests as they are not working currently
  .github/workflows/tests.yml
Owners: @AgnostiqHQ/aq-managers

making qelectrons a feature users can opt out of
  .github/workflows/tests.yml
  .gitignore
  CHANGELOG.md
  MANIFEST.in
  covalent/__init__.py
  covalent/_shared_files/qelectron_utils.py
  covalent/_shared_files/utils.py
  covalent/_workflow/qelectron.py
  covalent/executor/__init__.py
  covalent/executor/quantum_plugins/qiskit_plugin/qiskit_plugin.py
  covalent/executor/utils/wrappers.py
  covalent/quantum/qclient/local_client.py
  covalent/quantum/qcluster/clusters.py
  covalent/quantum/qserver/core.py
  covalent_dispatcher/_cli/service.py
  covalent_ui/api/v1/data_layer/electron_dal.py
  requirements-qelectron.txt
  requirements.txt
  setup.py
Owners: @AgnostiqHQ/aq-managers, @AgnostiqHQ/aq-engineers

fixed basic dispatching
  covalent/_shared_files/utils.py
Owners: @AgnostiqHQ/aq-engineers

fixing boilerplate and requirements workflows
  .github/workflows/boilerplate.yml
  .github/workflows/requirements.yml
Owners: @AgnostiqHQ/aq-managers

fixing boilerplate and requirements workflows
  .github/workflows/boilerplate.yml
  .github/workflows/requirements.yml
Owners: @AgnostiqHQ/aq-managers

fixing tests
  tests/covalent_tests/shared_files/qelectron_utils_test.py
Owners: @AgnostiqHQ/aq-engineers

fixing tests and workflows
  .github/workflows/requirements.yml
  .github/workflows/tests.yml
Owners: @AgnostiqHQ/aq-managers

fixing requirements
  .github/workflows/requirements.yml
Owners: @AgnostiqHQ/aq-managers

fixing requirements
  .github/workflows/requirements.yml
Owners: @AgnostiqHQ/aq-managers

Fixed infra defaults for deploy commands
  CHANGELOG.md
  covalent/cloud_resource_manager/core.py
Owners: @AgnostiqHQ/aq-engineers

Fixed infra defaults for deploy commands (#1917)
  CHANGELOG.md
  covalent/cloud_resource_manager/core.py
Owners: @AgnostiqHQ/aq-engineers

Updated VERSION to 0.232.0.post1
  VERSION
Owners: none

Updated release.yml
  .github/workflows/release.yml
Owners: @AgnostiqHQ/aq-managers

Made qelectron an opt-in feature
  .github/workflows/tests.yml
  CHANGELOG.md
  covalent/executor/__init__.py
  setup.py
  tests/requirements.txt
Owners: @AgnostiqHQ/aq-managers, @AgnostiqHQ/aq-engineers

minor import fix
  covalent/_shared_files/qresult_utils.py
  covalent/_workflow/qnode.py
  tests/qelectron_tests/pennylane_tests/conftest.py
Owners: @AgnostiqHQ/aq-engineers

fixing tests
  .github/workflows/tests.yml
Owners: @AgnostiqHQ/aq-managers

fixing tests
  .github/workflows/tests.yml
Owners: @AgnostiqHQ/aq-managers

added executor back to init file
  covalent/__init__.py
Owners: @AgnostiqHQ/aq-engineers

add note for slurm ssh limit
  doc/source/api/executors/slurm.rst
Owners: @santoshkumarradha

update changelog
  CHANGELOG.md
Owners: none

update changelog
  CHANGELOG.md
Owners: none

Enabling qelectron tests and making qelectron opt-in only (#1916)
  .github/workflows/boilerplate.yml
  .github/workflows/requirements.yml
  .github/workflows/tests.yml
  .gitignore
  CHANGELOG.md
  MANIFEST.in
  covalent/__init__.py
  covalent/_shared_files/qelectron_utils.py
  covalent/_shared_files/qresult_utils.py
  covalent/_shared_files/utils.py
  covalent/_workflow/qelectron.py
  covalent/_workflow/qnode.py
  covalent/executor/__init__.py
  covalent/executor/quantum_plugins/qiskit_plugin/qiskit_plugin.py
  covalent/executor/utils/wrappers.py
  covalent/quantum/qclient/local_client.py
  covalent/quantum/qcluster/clusters.py
  covalent/quantum/qserver/core.py
  covalent_dispatcher/_cli/service.py
  covalent_ui/api/v1/data_layer/electron_dal.py
  requirements-qelectron.txt
  requirements.txt
  setup.py
  tests/covalent_tests/shared_files/qelectron_utils_test.py
  tests/qelectron_tests/core_tests/__init__.py
  tests/qelectron_tests/core_tests/test_decorator.py
  tests/qelectron_tests/core_tests/test_qelectron_db.py
  tests/qelectron_tests/core_tests/test_run_later.py
  tests/qelectron_tests/pennylane_tests/conftest.py
  tests/qelectron_tests/plugin_tests/__init__.py
  tests/qelectron_tests/plugin_tests/test_braket_plugin.py
  tests/qelectron_tests/plugin_tests/test_qiskit_plugin.py
  tests/qelectron_tests/plugin_tests/test_qiskit_plugin_runtime.py
  tests/requirements.txt
Owners: @AgnostiqHQ/aq-managers, @AgnostiqHQ/aq-engineers

method to handle various py-to-tf conversions
  covalent/cloud_resource_manager/core.py
Owners: @AgnostiqHQ/aq-engineers

update changelog
  CHANGELOG.md
Owners: none

make staticmethod
  covalent/cloud_resource_manager/core.py
Owners: @AgnostiqHQ/aq-engineers

add convert to tfvar test
  tests/covalent_tests/cloud_resource_manager/core_test.py
Owners: @AgnostiqHQ/aq-engineers

removed minor changes
  VERSION
  requirements.txt
Owners: @AgnostiqHQ/aq-managers

fixing tests.yml
  .github/workflows/tests.yml
Owners: @AgnostiqHQ/aq-managers

fixing tests.yml
  .github/workflows/tests.yml
Owners: @AgnostiqHQ/aq-managers

fixing tests.yml
  .github/workflows/tests.yml
Owners: @AgnostiqHQ/aq-managers

using local workflows instead of from the develop branch
  .github/workflows/man_0_assign_version.yml
  .github/workflows/man_1_push_to_master.yml
  .github/workflows/man_2_create_release.yml
  .github/workflows/nightly-tests.yml
  .github/workflows/tests.yml
Owners: @AgnostiqHQ/aq-managers

fixed release.yml
  .github/workflows/man_2_create_prerelease.yml
  .github/workflows/release.yml
  .github/workflows/upload_to_codecov_with_retry.yml
Owners: @AgnostiqHQ/aq-managers

fixed push_to_master workflow
  .github/workflows/man_1_push_to_master.yml
Owners: @AgnostiqHQ/aq-managers

added permissions to nightly-tests.yml
  .github/workflows/nightly-tests.yml
Owners: @AgnostiqHQ/aq-managers

updated changelog
  .github/workflows/changelog.yml
  .github/workflows/man_0_assign_version.yml
  CHANGELOG.md
Owners: @AgnostiqHQ/aq-managers

executor improvements part 01
  covalent/cloud_resource_manager/core.py
Owners: @AgnostiqHQ/aq-engineers

fix changelog typo
  CHANGELOG.md
Owners: none

remove getattr patch; assert new method called
  tests/covalent_tests/cloud_resource_manager/core_test.py
Owners: @AgnostiqHQ/aq-engineers

fake infra defaults to test conversion in `up`
  tests/covalent_tests/cloud_resource_manager/core_test.py
Owners: @AgnostiqHQ/aq-engineers
