Repository AgnostiqHQ/covalent, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AgnostiqHQ/aq-engineers, @santoshkumarradha, @mshkanth, @Prasy12, @AgnostiqHQ/aq-managers

.github/CODEOWNERS:

# Copyright 2021 Agnostiq Inc.
#
# This file is part of Covalent.
#
# Licensed under the Apache License 2.0 (the "License"). A copy of the
# License may be obtained with this software package or at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Use of this file is prohibited except in compliance with the License.
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# CODEOWNERS

# Core code, docs, and tests are owned by the Agnostiq engineering team.
/covalent/		@AgnostiqHQ/aq-engineers
/covalent_dispatcher/	@AgnostiqHQ/aq-engineers
/doc/			@santoshkumarradha
/tests/			@AgnostiqHQ/aq-engineers
.flake8			@AgnostiqHQ/aq-engineers
.gitignore		@AgnostiqHQ/aq-engineers
.pre-commit-config.yaml	@AgnostiqHQ/aq-engineers
.prettierrc 		@AgnostiqHQ/aq-engineers
.pylintrc 		@AgnostiqHQ/aq-engineers
.readthedocs.yaml 	@AgnostiqHQ/aq-engineers
.wci.yaml 		@AgnostiqHQ/aq-engineers
CODE_OF_CONDUCT.md 	@AgnostiqHQ/aq-engineers
CONTRIBUTING.md 	@AgnostiqHQ/aq-engineers
README.md 		@AgnostiqHQ/aq-engineers
pyproject.toml 		@AgnostiqHQ/aq-engineers

# Covalent UI is owned by collaborators from Psiog.
/covalent_ui/**/*.js 		@mshkanth @Prasy12

# Modifying these requires additional approval.
Dockerfile		@AgnostiqHQ/aq-managers
.github/**		@AgnostiqHQ/aq-managers
LICENSE			@AgnostiqHQ/aq-managers
MANIFEST.in		@AgnostiqHQ/aq-managers
meta.yaml		@AgnostiqHQ/aq-managers
**/requirements.txt	@AgnostiqHQ/aq-managers
setup.py		@AgnostiqHQ/aq-managers
Makefile 		@AgnostiqHQ/aq-managers

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

changed banner image (#1855)
  CHANGELOG.md
  doc/source/api/executors/Azure_Batch.png
  doc/source/api/executors/Azure_Batch.svg
  doc/source/api/executors/azurebatch.rst
Owners: @santoshkumarradha

explain package
  covalent/_programmatic/__init__.py
Owners: @AgnostiqHQ/aq-engineers

use poll function instead of while loop
  covalent/_programmatic/commands.py
Owners: @AgnostiqHQ/aq-engineers

`quiet` mode to suppress stdout; more docstrings
  covalent/_programmatic/commands.py
Owners: @AgnostiqHQ/aq-engineers

fix `covalent_is_running` to return bool
  covalent/_programmatic/commands.py
Owners: @AgnostiqHQ/aq-engineers

reorder `covalent_is_running` conditions
  covalent/_programmatic/commands.py
Owners: @AgnostiqHQ/aq-engineers

improve docstrings
  covalent/_programmatic/commands.py
Owners: @AgnostiqHQ/aq-engineers

add api docs entry
  doc/source/api/api.rst
Owners: @santoshkumarradha

update api docs
  doc/source/api/api.rst
Owners: @santoshkumarradha

restore import from `._programmatic`
  covalent/__init__.py
Owners: @AgnostiqHQ/aq-engineers

update api docs
  doc/source/api/api.rst
Owners: @santoshkumarradha

add test for new functions
  tests/covalent_tests/programmatic/__init__.py
  tests/covalent_tests/programmatic/commands_test.py
Owners: @AgnostiqHQ/aq-engineers

add test for `covalent_is_running`
  tests/covalent_tests/programmatic/commands_test.py
Owners: @AgnostiqHQ/aq-engineers

removing covalent's dependency on dispatcher
  covalent/__init__.py
  covalent/_programmatic/commands.py
Owners: @AgnostiqHQ/aq-engineers

ignore pip reqs in new package
  .github/workflows/requirements.yml
Owners: @AgnostiqHQ/aq-managers

refactor docstrings
  covalent/_programmatic/commands.py
Owners: @AgnostiqHQ/aq-engineers

update docs
  doc/source/api/api.rst
Owners: @santoshkumarradha

revert api docs
  doc/source/api/api.rst
Owners: @santoshkumarradha

include 'Returns' in docstrings so maybe docs will render 🤷 pls
  covalent/_programmatic/commands.py
Owners: @AgnostiqHQ/aq-engineers

remove useless 'Returns' from docstrings 🤦‍♂️
  covalent/_programmatic/commands.py
Owners: @AgnostiqHQ/aq-engineers

try autofunction refs to main namespace instead
  doc/source/api/api.rst
Owners: @santoshkumarradha

revert using main namespace refs
  doc/source/api/api.rst
Owners: @santoshkumarradha

add spaces in docstring to improve --help message
  covalent_dispatcher/_cli/groups/deploy.py
Owners: @AgnostiqHQ/aq-engineers

Updated changelog
  CHANGELOG.md
Owners: none

Updated changelog
  CHANGELOG.md
Owners: none

Updated changelogs
  CHANGELOG.md
Owners: none

Removed logs
  covalent_ui/webapp/src/components/settings/SettingsCard.js
Owners: @mshkanth, @Prasy12

add more logging and edit messages
  covalent/_programmatic/commands.py
Owners: @AgnostiqHQ/aq-engineers

refactor hanging tests
  tests/covalent_tests/programmatic/commands_test.py
Owners: @AgnostiqHQ/aq-engineers

refactor tests into functional tests
  tests/covalent_tests/programmatic/__init__.py
  tests/functional_tests/programmatic_commands_test.py
Owners: @AgnostiqHQ/aq-engineers

fixing metadata propagation to electron from lattice
  covalent/_workflow/electron.py
  covalent/_workflow/transport.py
Owners: @AgnostiqHQ/aq-engineers

Revert "refactor tests into functional tests"
  tests/covalent_tests/programmatic/__init__.py
  tests/covalent_tests/programmatic/commands_test.py
Owners: @AgnostiqHQ/aq-engineers

updated changelog
  CHANGELOG.md
  covalent/_workflow/transport.py
Owners: @AgnostiqHQ/aq-engineers

Fix failing tests
  covalent_ui/webapp/package.json
Owners: none

updated sublattice url
  covalent/_dispatcher_plugins/local.py
Owners: @AgnostiqHQ/aq-engineers

fixed ui backend test
  tests/covalent_ui_backend_tests/end_points/electrons_test.py
Owners: @AgnostiqHQ/aq-engineers

added fastapi min limit to be 0.100
  covalent/_shared_files/qinfo.py
  covalent/_shared_files/schemas/edge.py
  covalent/executor/qbase.py
  covalent/quantum/qcluster/base.py
  covalent_dispatcher/_service/models.py
  covalent_ui/api/v1/models/dispatch_model.py
  covalent_ui/api/v1/models/electrons_model.py
  covalent_ui/api/v1/models/logs_model.py
  covalent_ui/api/v1/routes/end_points/summary_routes.py
  requirements.txt
Owners: @AgnostiqHQ/aq-engineers, @AgnostiqHQ/aq-managers

running precommit hooks
  covalent/executor/qbase.py
  covalent/quantum/qcluster/base.py
  covalent_ui/api/v1/models/dispatch_model.py
  covalent_ui/api/v1/models/logs_model.py
Owners: @AgnostiqHQ/aq-engineers

added typing-extensions
  requirements.txt
Owners: @AgnostiqHQ/aq-managers
