Repository AgnostiqHQ/covalent, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AgnostiqHQ/aq-engineers, @santoshkumarradha, @mshkanth, @Prasy12, @AgnostiqHQ/aq-managers

.github/CODEOWNERS:

# Copyright 2021 Agnostiq Inc.
#
# This file is part of Covalent.
#
# Licensed under the Apache License 2.0 (the "License"). A copy of the
# License may be obtained with this software package or at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Use of this file is prohibited except in compliance with the License.
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# CODEOWNERS

# Core code, docs, and tests are owned by the Agnostiq engineering team.
/covalent/		@AgnostiqHQ/aq-engineers
/covalent_dispatcher/	@AgnostiqHQ/aq-engineers
/doc/			@santoshkumarradha
/tests/			@AgnostiqHQ/aq-engineers
.flake8			@AgnostiqHQ/aq-engineers
.gitignore		@AgnostiqHQ/aq-engineers
.pre-commit-config.yaml	@AgnostiqHQ/aq-engineers
.prettierrc 		@AgnostiqHQ/aq-engineers
.pylintrc 		@AgnostiqHQ/aq-engineers
.readthedocs.yaml 	@AgnostiqHQ/aq-engineers
.wci.yaml 		@AgnostiqHQ/aq-engineers
CODE_OF_CONDUCT.md 	@AgnostiqHQ/aq-engineers
CONTRIBUTING.md 	@AgnostiqHQ/aq-engineers
README.md 		@AgnostiqHQ/aq-engineers
pyproject.toml 		@AgnostiqHQ/aq-engineers

# Covalent UI is owned by collaborators from Psiog.
/covalent_ui/**/*.js 		@mshkanth @Prasy12

# Modifying these requires additional approval.
Dockerfile		@AgnostiqHQ/aq-managers
.github/**		@AgnostiqHQ/aq-managers
LICENSE			@AgnostiqHQ/aq-managers
MANIFEST.in		@AgnostiqHQ/aq-managers
meta.yaml		@AgnostiqHQ/aq-managers
**/requirements.txt	@AgnostiqHQ/aq-managers
setup.py		@AgnostiqHQ/aq-managers
Makefile 		@AgnostiqHQ/aq-managers

support 'links' as fallback key after 'edges' in extract_graph
  covalent_dispatcher/_db/dispatchdb.py
Owners: @AgnostiqHQ/aq-engineers

update changelog
  CHANGELOG.md
Owners: none

keep DaskCluster process alive by doing join on admin thread
  covalent_dispatcher/_service/app_dask.py
Owners: @AgnostiqHQ/aq-engineers

update some Python version references
  covalent_ui/README.md
  doc/source/getting_started/compatibility.rst
Owners: @AgnostiqHQ/aq-engineers, @santoshkumarradha

edit release.yaml PAUL_BLART: add ara, Js, venkat, tushar; remove departed users
  .github/workflows/release.yml
Owners: @AgnostiqHQ/aq-managers

manual version bump and changelog headers
  CHANGELOG.md
  VERSION
Owners: none

disable broken slack alert
  .github/workflows/release.yml
Owners: @AgnostiqHQ/aq-managers

remove slack alert from pypi step as well
  .github/workflows/release.yml
Owners: @AgnostiqHQ/aq-managers

add setuptools as explicit dependency for python 3.13 runner
  .github/workflows/release.yml
Owners: @AgnostiqHQ/aq-managers

Fix redispatch bug
  covalent/_shared_files/defaults.py
  covalent_dispatcher/_dal/importers/result.py
  covalent_dispatcher/_dal/tg_ops.py
  covalent_dispatcher/_service/app.py
  tests/covalent_dispatcher_tests/_dal/tg_ops_test.py
  tests/functional_tests/workflow_stack_test.py
Owners: @AgnostiqHQ/aq-engineers

Changelog
  CHANGELOG.md
Owners: none

fix: Rsync error for remote dispatcher
  CHANGELOG.md
  covalent/_file_transfer/strategies/rsync_strategy.py
  tests/covalent_tests/file_transfer/strategies/rsync_strategy_test.py
Owners: @AgnostiqHQ/aq-engineers

fix: Covalent commands stuck without any way to debug
  CHANGELOG.md
  covalent/_shared_files/config.py
  covalent/_shared_files/exceptions.py
  tests/covalent_tests/shared_files/config_test.py
Owners: @AgnostiqHQ/aq-engineers

fix: The `workdir` setting does not appear to work for the Dask/l...
  CHANGELOG.md
  covalent/executor/executor_plugins/dask.py
  covalent/executor/executor_plugins/local.py
  covalent/executor/utils/wrappers.py
  tests/covalent_tests/executor/executor_plugins/dask_test.py
  tests/covalent_tests/executor/executor_plugins/local_test.py
Owners: @AgnostiqHQ/aq-engineers

docs: add how-to notebook for DepsLocal local module dependencies
  doc/source/how_to/coding/add_pip_dependencies_to_electron.ipynb
  doc/source/how_to/execution/using_local_modules.ipynb
  doc/source/how_to/index.rst
Owners: @santoshkumarradha

ignored codegraph
  .gitignore
Owners: @AgnostiqHQ/aq-engineers
