Repository AgnostiqHQ/covalent, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AgnostiqHQ/aq-engineers, @santoshkumarradha, @mshkanth, @Prasy12, @AgnostiqHQ/aq-managers

will try to remove the qelectron_data_exists flag from data_manager.py
  covalent/_shared_files/qelectron_utils.py
  covalent_dispatcher/_core/data_manager.py
  covalent_ui/api/v1/data_layer/electron_dal.py
Owners: @AgnostiqHQ/aq-engineers

minor changes to the boilerplate
  covalent_dispatcher/_cli/groups/deploy.py
Owners: @AgnostiqHQ/aq-engineers

working but only by directly accessing the DB
  covalent/_shared_files/qelectron_utils.py
  covalent/quantum/qserver/database.py
  covalent_dispatcher/_core/data_manager.py
Owners: @AgnostiqHQ/aq-engineers

will need to add a special case for qelectron db
  covalent/_shared_files/qelectron_utils.py
  covalent/_shared_files/schemas/electron.py
  covalent/executor/executor_plugins/dask.py
  covalent/executor/executor_plugins/local.py
  covalent_dispatcher/_dal/importers/electron.py
  covalent_dispatcher/_db/models.py
  covalent_dispatcher/_db/upsert.py
  covalent_ui/api/v1/data_layer/electron_dal.py
  covalent_ui/api/v1/routes/end_points/electron_routes.py
Owners: @AgnostiqHQ/aq-engineers

Example of adding profiling info to local and dask executors
  covalent/_shared_files/defaults.py
  covalent/_workflow/electron.py
  covalent/_workflow/lattice.py
  covalent/executor/executor_plugins/dask.py
  covalent/executor/utils/wrappers.py
  covalent_dispatcher/_dal/importers/electron.py
  covalent_dispatcher/_object_store/local.py
  covalent_dispatcher/_service/models.py
Owners: @AgnostiqHQ/aq-engineers

trying new way of qelectron_db
  covalent/_serialize/common.py
  covalent/_serialize/electron.py
  covalent/_shared_files/qelectron_utils.py
  covalent/_shared_files/schemas/electron.py
  covalent/executor/executor_plugins/dask.py
  covalent/executor/utils/wrappers.py
  covalent/quantum/qserver/database.py
  covalent_dispatcher/_core/data_manager.py
  covalent_dispatcher/_core/runner.py
  covalent_dispatcher/_core/runner_ng.py
  covalent_dispatcher/_db/upsert.py
  covalent_dispatcher/_object_store/local.py
  covalent_ui/api/v1/data_layer/electron_dal.py
Owners: @AgnostiqHQ/aq-engineers

qelectron db is visible in UI now
  covalent/_shared_files/schemas/electron.py
  covalent/executor/executor_plugins/local.py
  covalent/executor/utils/wrappers.py
  covalent_ui/api/v1/data_layer/electron_dal.py
Owners: @AgnostiqHQ/aq-engineers

some cleaning up
  covalent_dispatcher/_core/runner.py
  covalent_ui/api/v1/data_layer/electron_dal.py
Owners: @AgnostiqHQ/aq-engineers

some cleaning up
  covalent/_shared_files/qelectron_utils.py
  covalent_ui/api/v1/data_layer/electron_dal.py
  covalent_ui/api/v1/routes/end_points/electron_routes.py
Owners: @AgnostiqHQ/aq-engineers

qelectron db is now accessible to the user from result object if required
  covalent/_results_manager/result.py
  covalent_dispatcher/_db/write_result_to_db.py
  tests/covalent_dispatcher_tests/_db/write_result_to_db_test.py
Owners: @AgnostiqHQ/aq-engineers

now working as expected
  covalent_dispatcher/_core/data_manager.py
  covalent_ui/api/v1/data_layer/electron_dal.py
  covalent_ui/api/v1/routes/end_points/electron_routes.py
Owners: @AgnostiqHQ/aq-engineers

Added test for recursion error
  tests/covalent_tests/results_manager_tests/results_manager_test.py
Owners: @AgnostiqHQ/aq-engineers

Gif changes for executor in readme
  README.md
Owners: @AgnostiqHQ/aq-engineers

Remove parameter "value" from deferred assets
  covalent/_results_manager/results_manager.py
Owners: @AgnostiqHQ/aq-engineers

Light Theme hero image change
  README.md
  doc/source/_static/aws_light.svg
  doc/source/_static/readme_hero_light.svg
Owners: @AgnostiqHQ/aq-engineers, @santoshkumarradha

Reverting back the theme change for hero image
  README.md
Owners: @AgnostiqHQ/aq-engineers

Light theme changes
  README.md
  doc/source/_static/ai_tutorial_light.svg
  doc/source/_static/azure_light.svg
  doc/source/_static/cloud_hpc_light.svg
  doc/source/_static/concepts_of_covalent_light.svg
  doc/source/_static/covalent_work_light.svg
  doc/source/_static/dask_light.svg
  doc/source/_static/development_light.svg
  doc/source/_static/google_light.svg
  doc/source/_static/ibmq_light.svg
  doc/source/_static/kubernetes_light.svg
  doc/source/_static/many_more_light.svg
  doc/source/_static/mnist_tutorial_light.svg
  doc/source/_static/quantum_tutorial_light.svg
  doc/source/_static/slurm_light.svg
  doc/source/_static/what_is_covalent_light.svg
Owners: @AgnostiqHQ/aq-engineers, @santoshkumarradha

Minor image name fix
  README.md
Owners: @AgnostiqHQ/aq-engineers

Updated README.md with introduction texts
  README.md
Owners: @AgnostiqHQ/aq-engineers

Redirection url change for installation
  README.md
Owners: @AgnostiqHQ/aq-engineers

email link changes
  README.md
Owners: @AgnostiqHQ/aq-engineers

asset change for tutorials
  doc/source/_static/ai_tutorial_light.svg
Owners: @santoshkumarradha

fixing tests
  covalent/_dispatcher_plugins/local.py
  covalent/_results_manager/result.py
  covalent/executor/utils/wrappers.py
  tests/covalent_tests/executor/executor_plugins/dask_test.py
  tests/covalent_tests/executor/executor_plugins/local_test.py
Owners: @AgnostiqHQ/aq-engineers

removed 'value' from deferred keys, added qelectron_db to deferred keys
  covalent/_results_manager/results_manager.py
Owners: @AgnostiqHQ/aq-engineers

removed qelectron_db_filename from the database column
  covalent_dispatcher/_dal/importers/electron.py
  covalent_dispatcher/_db/models.py
  covalent_dispatcher/_db/upsert.py
  covalent_dispatcher/_db/write_result_to_db.py
  covalent_migrations/versions/692b18f7b7de_add_qelectron_db_filename_to_electrons_.py
  covalent_ui/api/v1/data_layer/electron_dal.py
  covalent_ui/api/v1/database/schema/electron.py
  tests/covalent_dispatcher_tests/_db/write_result_to_db_test.py
Owners: @AgnostiqHQ/aq-engineers

added tests
  covalent/_shared_files/qelectron_utils.py
  tests/covalent_dispatcher_tests/_object_store/local_test.py
  tests/covalent_tests/executor/executor_plugins/dask_test.py
  tests/covalent_tests/quantum/qserver/__init__.py
  tests/covalent_tests/quantum/qserver/database_test.py
  tests/covalent_tests/shared_files/qelectron_utils_test.py
Owners: @AgnostiqHQ/aq-engineers

updated changelog
  CHANGELOG.md
Owners: none

fixed test
  tests/covalent_tests/shared_files/qelectron_utils_test.py
Owners: @AgnostiqHQ/aq-engineers

Post mem improvement Qelectron fixes (#1850)
  CHANGELOG.md
  covalent/_dispatcher_plugins/local.py
  covalent/_results_manager/result.py
  covalent/_results_manager/results_manager.py
  covalent/_serialize/common.py
  covalent/_serialize/electron.py
  covalent/_serialize/result.py
  covalent/_shared_files/qelectron_utils.py
  covalent/_shared_files/schemas/electron.py
  covalent/_shared_files/schemas/lattice.py
  covalent/executor/base.py
  covalent/executor/executor_plugins/dask.py
  covalent/executor/executor_plugins/local.py
  covalent/executor/utils/wrappers.py
  covalent/quantum/qserver/core.py
  covalent/quantum/qserver/database.py
  covalent_dispatcher/_core/data_manager.py
  covalent_dispatcher/_core/runner.py
  covalent_dispatcher/_core/runner_ng.py
  covalent_dispatcher/_dal/importers/electron.py
  covalent_dispatcher/_dal/importers/tg.py
  covalent_dispatcher/_db/upsert.py
  covalent_dispatcher/_object_store/local.py
  covalent_dispatcher/_service/models.py
  covalent_ui/api/v1/data_layer/electron_dal.py
  covalent_ui/api/v1/database/schema/electron.py
  covalent_ui/api/v1/routes/end_points/electron_routes.py
  tests/covalent_dispatcher_tests/_object_store/local_test.py
  tests/covalent_tests/executor/executor_plugins/dask_test.py
  tests/covalent_tests/executor/executor_plugins/local_test.py
  tests/covalent_tests/quantum/qserver/__init__.py
  tests/covalent_tests/quantum/qserver/database_test.py
  tests/covalent_tests/shared_files/qelectron_utils_test.py
Owners: @AgnostiqHQ/aq-engineers

export `covalent_start` and `covalent_stop`
  covalent_dispatcher/__init__.py
  covalent_dispatcher/programmatic.py
Owners: @AgnostiqHQ/aq-engineers

check server stopped
  covalent_dispatcher/programmatic.py
Owners: @AgnostiqHQ/aq-engineers

update changelog
  CHANGELOG.md
Owners: none

move commands to main namespace
  covalent/__init__.py
  covalent/_programmatic/__init__.py
  covalent/_programmatic/commands.py
Owners: @AgnostiqHQ/aq-engineers

changed banner image
  CHANGELOG.md
  doc/source/api/executors/Azure_Batch.png
  doc/source/api/executors/Azure_Batch.svg
  doc/source/api/executors/azurebatch.rst
Owners: @santoshkumarradha

Updated covalent resource manager test cases
  covalent/cloud_resource_manager/core.py
  tests/covalent_tests/cloud_resource_manager/core_test.py
Owners: @AgnostiqHQ/aq-engineers

Bug fix on settings page for Qelectron executor
  covalent_ui/webapp/src/components/settings/SettingsCard.js
Owners: @mshkanth, @Prasy12

pydantic deprecation related changes
  covalent/_serialize/transport_graph.py
  covalent/_shared_files/schemas/electron.py
  covalent/_shared_files/schemas/lattice.py
  covalent/executor/schemas.py
  covalent/quantum/qcluster/base.py
  covalent/quantum/qcluster/simulator.py
Owners: @AgnostiqHQ/aq-engineers

Fixed for docker validation
  tests/covalent_tests/cloud_resource_manager/core_test.py
Owners: @AgnostiqHQ/aq-engineers

updated cloudpickle version upper limit
  covalent/executor/qbase.py
  requirements-client.txt
  requirements.txt
Owners: @AgnostiqHQ/aq-engineers, @AgnostiqHQ/aq-managers

fixed executor_data propagation from lattice to default electrons
  covalent/_workflow/electron.py
  covalent/_workflow/lattice.py
Owners: @AgnostiqHQ/aq-engineers

.github/CODEOWNERS:

# Copyright 2021 Agnostiq Inc.
#
# This file is part of Covalent.
#
# Licensed under the Apache License 2.0 (the "License"). A copy of the
# License may be obtained with this software package or at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Use of this file is prohibited except in compliance with the License.
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# CODEOWNERS

# Core code, docs, and tests are owned by the Agnostiq engineering team.
/covalent/		@AgnostiqHQ/aq-engineers
/covalent_dispatcher/	@AgnostiqHQ/aq-engineers
/doc/			@santoshkumarradha
/tests/			@AgnostiqHQ/aq-engineers
.flake8			@AgnostiqHQ/aq-engineers
.gitignore		@AgnostiqHQ/aq-engineers
.pre-commit-config.yaml	@AgnostiqHQ/aq-engineers
.prettierrc 		@AgnostiqHQ/aq-engineers
.pylintrc 		@AgnostiqHQ/aq-engineers
.readthedocs.yaml 	@AgnostiqHQ/aq-engineers
.wci.yaml 		@AgnostiqHQ/aq-engineers
CODE_OF_CONDUCT.md 	@AgnostiqHQ/aq-engineers
CONTRIBUTING.md 	@AgnostiqHQ/aq-engineers
README.md 		@AgnostiqHQ/aq-engineers
pyproject.toml 		@AgnostiqHQ/aq-engineers

# Covalent UI is owned by collaborators from Psiog.
/covalent_ui/**/*.js 		@mshkanth @Prasy12

# Modifying these requires additional approval.
Dockerfile		@AgnostiqHQ/aq-managers
.github/**		@AgnostiqHQ/aq-managers
LICENSE			@AgnostiqHQ/aq-managers
MANIFEST.in		@AgnostiqHQ/aq-managers
meta.yaml		@AgnostiqHQ/aq-managers
**/requirements.txt	@AgnostiqHQ/aq-managers
setup.py		@AgnostiqHQ/aq-managers
Makefile 		@AgnostiqHQ/aq-managers
