Repository AgnostiqHQ/covalent, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AgnostiqHQ/aq-engineers, @santoshkumarradha, @mshkanth, @Prasy12, @AgnostiqHQ/aq-managers

.github/CODEOWNERS:

# Copyright 2021 Agnostiq Inc.
#
# This file is part of Covalent.
#
# Licensed under the GNU Affero General Public License 3.0 (the "License").
# A copy of the License may be obtained with this software package or at
#
#      https://www.gnu.org/licenses/agpl-3.0.en.html
#
# Use of this file is prohibited except in compliance with the License. Any
# modifications or derivative works of this file must retain this copyright
# notice, and modified files must contain a notice indicating that they have
# been altered from the originals.
#
# Covalent is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
# FITNESS FOR A PARTICULAR PURPOSE. See the License for more details.
#
# Relief from the License may be granted by purchasing a commercial license.

# CODEOWNERS

# Core code, docs, and tests are owned by the Agnostiq engineering team.
/covalent/		@AgnostiqHQ/aq-engineers
/covalent_dispatcher/	@AgnostiqHQ/aq-engineers
/doc/			@santoshkumarradha
/tests/			@AgnostiqHQ/aq-engineers
.flake8			@AgnostiqHQ/aq-engineers
.gitignore		@AgnostiqHQ/aq-engineers
.pre-commit-config.yaml	@AgnostiqHQ/aq-engineers
.prettierrc 		@AgnostiqHQ/aq-engineers
.pylintrc 		@AgnostiqHQ/aq-engineers
.readthedocs.yaml 	@AgnostiqHQ/aq-engineers
.wci.yaml 		@AgnostiqHQ/aq-engineers
CODE_OF_CONDUCT.md 	@AgnostiqHQ/aq-engineers
CONTRIBUTING.md 	@AgnostiqHQ/aq-engineers
README.md 		@AgnostiqHQ/aq-engineers
pyproject.toml 		@AgnostiqHQ/aq-engineers

# Covalent UI is owned by collaborators from Psiog.
/covalent_ui/**/*.js 		@mshkanth @Prasy12

# Modifying these requires additional approval.
Dockerfile		@AgnostiqHQ/aq-managers
.github/**		@AgnostiqHQ/aq-managers
LICENSE			@AgnostiqHQ/aq-managers
MANIFEST.in		@AgnostiqHQ/aq-managers
meta.yaml		@AgnostiqHQ/aq-managers
**/requirements.txt	@AgnostiqHQ/aq-managers
setup.py		@AgnostiqHQ/aq-managers
Makefile 		@AgnostiqHQ/aq-managers

add support to get additional classes export from executor plugins into covalent
  covalent/executor/__init__.py
Owners: @AgnostiqHQ/aq-engineers

check for both uppercase/lowercase executor plugin names, update log level to debug in developer mode start
  covalent/executor/__init__.py
  covalent/executor/executor_plugins/dask.py
  covalent/executor/executor_plugins/local.py
Owners: @AgnostiqHQ/aq-engineers

update assert call count check
  tests/covalent_dispatcher_tests/_cli/service_test.py
Owners: @AgnostiqHQ/aq-engineers

pre-commit ci fixes
  covalent/executor/__init__.py
Owners: @AgnostiqHQ/aq-engineers

update changelog
  CHANGELOG.md
Owners: none

update changelog
  CHANGELOG.md
Owners: none

Updated conda release workflow
  .github/workflows/conda_build.yml
  .github/workflows/release.yml
Owners: @AgnostiqHQ/aq-managers

moved convert platform statement in conda release worfklow
  .github/workflows/release.yml
Owners: @AgnostiqHQ/aq-managers

update changelog
  CHANGELOG.md
Owners: none

update changelog
  CHANGELOG.md
Owners: none

update changelog
  CHANGELOG.md
Owners: none

update executor plugin name validation + add tests
  covalent/executor/__init__.py
  tests/covalent_tests/executor/init_test.py
Owners: @AgnostiqHQ/aq-engineers

add test to improve coverage
  tests/covalent_tests/executor/init_test.py
Owners: @AgnostiqHQ/aq-engineers

add method to assert nonzero plugin classes
  covalent/executor/__init__.py
Owners: @AgnostiqHQ/aq-engineers

udpate test name
  tests/covalent_tests/executor/init_test.py
Owners: @AgnostiqHQ/aq-engineers

adding covalent config cli with tests (#987)
  CHANGELOG.md
  covalent_dispatcher/_cli/cli.py
  covalent_dispatcher/_cli/service.py
  tests/covalent_dispatcher_tests/_cli/cli_test.py
  tests/covalent_dispatcher_tests/_cli/service_test.py
Owners: @AgnostiqHQ/aq-engineers

The new version will be 0.169.0
  CHANGELOG.md
  VERSION
Owners: none

changelog update
  CHANGELOG.md
Owners: none

check for both uppercase/lowercase executor plugin names, update log … (#928)
  CHANGELOG.md
  covalent/executor/__init__.py
  covalent/executor/executor_plugins/dask.py
  covalent/executor/executor_plugins/local.py
  tests/covalent_dispatcher_tests/_cli/service_test.py
  tests/covalent_tests/executor/init_test.py
Owners: @AgnostiqHQ/aq-engineers

The new version will be 0.170.0
  CHANGELOG.md
  VERSION
Owners: none

Implemented suggestions
  covalent_dispatcher/_cli/service.py
Owners: @AgnostiqHQ/aq-engineers

Remove unwanted comments
  covalent_ui/webapp/src/components/dispatches/ResultListing.js
Owners: @mshkanth, @Prasy12

Editing tests
  tests/covalent_dispatcher_tests/_cli/service_test.py
Owners: @AgnostiqHQ/aq-engineers

Improving how-to
  doc/source/how_to/execution/creating_custom_executors.ipynb
Owners: @santoshkumarradha

trigger Slack alert for failed tests on workflow_run
  .github/workflows/tests.yml
  CHANGELOG.md
Owners: @AgnostiqHQ/aq-managers

fix set_config call count
  tests/covalent_dispatcher_tests/_cli/service_test.py
Owners: @AgnostiqHQ/aq-engineers

update changelog
  CHANGELOG.md
Owners: none

Updated file transfer how to guide, wip: updating concepts
  doc/source/concepts/concepts.rst
  doc/source/how_to/orchestration/file_transfers_for_workflows.ipynb
Owners: @santoshkumarradha

fix set_config call count (#992)
  CHANGELOG.md
  tests/covalent_dispatcher_tests/_cli/service_test.py
Owners: @AgnostiqHQ/aq-engineers

fix import bug
  CHANGELOG.md
  covalent/executor/__init__.py
Owners: @AgnostiqHQ/aq-engineers

fix import bug (#994)
  CHANGELOG.md
  covalent/executor/__init__.py
Owners: @AgnostiqHQ/aq-engineers

The new version will be 0.170.1
  CHANGELOG.md
  VERSION
Owners: none

WIP improving wait logic
  covalent/__init__.py
  covalent/_results_manager/results_manager.py
  covalent/_results_manager/wait.py
  tests/covalent_tests/results_manager_tests/results_manager_test.py
Owners: @AgnostiqHQ/aq-engineers

updating documentation with wait logic
  covalent/_dispatcher_plugins/local.py
  covalent/_results_manager/results_manager.py
  doc/source/tutorials/machine_learning/Covalent_pennylane_Iris_classification.ipynb
  doc/source/tutorials/machine_learning/Covalent_pennylane_Parity_classifier.ipynb
  doc/source/tutorials/machine_learning/Ensemble_pennylane.ipynb
  doc/source/tutorials/machine_learning/Kernel_pennylane.ipynb
  doc/source/tutorials/machine_learning/autoencoders.ipynb
  doc/source/tutorials/machine_learning/classical_quantum_svm.ipynb
  doc/source/tutorials/machine_learning/mnist_classifier.ipynb
  doc/source/tutorials/machine_learning/pennylane_hybrid.ipynb
  doc/source/tutorials/machine_learning/qaoa_maxcut.ipynb
  doc/source/tutorials/machine_learning/quantum_embedding_kernel.ipynb
  doc/source/tutorials/quantum_chemistry/nitrogen_copper_interaction.ipynb
  doc/source/tutorials/quantum_gravity/spacetime_classification.ipynb
Owners: @AgnostiqHQ/aq-engineers, @santoshkumarradha

test to cover the new wait logic
  covalent/_results_manager/results_manager.py
  tests/covalent_tests/results_manager_tests/results_manager_test.py
Owners: @AgnostiqHQ/aq-engineers

remove unused imports
  tests/covalent_tests/results_manager_tests/results_manager_test.py
Owners: @AgnostiqHQ/aq-engineers

changes to docs
  covalent/_workflow/depsbash.py
  covalent/_workflow/depscall.py
  covalent/_workflow/depspip.py
  doc/requirements.txt
  doc/source/_static/Covalent_Local_Microservices.png
  doc/source/api/api.rst
  doc/source/api/cli.rst
  doc/source/api/config.rst
  doc/source/api/covalent.rst
  doc/source/api/data_transfers.rst
  doc/source/api/deps.rst
  doc/source/api/dispatcher.rst
  doc/source/api/electrons.rst
  doc/source/api/executers/baseasync.rst
  doc/source/api/executers/basesync.rst
  doc/source/api/executers/cova_archi.png
  doc/source/api/executers/dask.rst
  doc/source/api/executers/index.rst
  doc/source/api/executers/local.rst
  doc/source/api/executers/slurm.rst
  doc/source/api/executers/ssh.rst
  doc/source/api/index.rst
  doc/source/api/lattice.rst
  doc/source/api/leptons.rst
  doc/source/api/microservices/microservices.rst
  doc/source/api/results.rst
  doc/source/conf.py
  doc/source/index.rst
  doc/source/plugins.rst
Owners: @AgnostiqHQ/aq-engineers, @AgnostiqHQ/aq-managers, @santoshkumarradha

renamed executer to executor
  doc/source/api/config.rst
  doc/source/api/executers/index.rst
  doc/source/plugins.rst
Owners: @santoshkumarradha

recomended changes
  doc/requirements.txt
  doc/source/api/executers/dask.rst
  doc/source/api/executers/index.rst
  doc/source/plugins.rst
Owners: @AgnostiqHQ/aq-managers, @santoshkumarradha

added changelog
  CHANGELOG.md
Owners: none
