Repository AgnostiqHQ/covalent, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AgnostiqHQ/aq-engineers, @santoshkumarradha, @mshkanth, @Prasy12, @AgnostiqHQ/aq-managers

Allow non-string infra defaults for plugins (#1921)
  CHANGELOG.md
  covalent/cloud_resource_manager/core.py
  tests/covalent_tests/cloud_resource_manager/core_test.py
Owners: @AgnostiqHQ/aq-engineers

clean up dirty resources on deploy up
  CHANGELOG.md
  covalent/cloud_resource_manager/core.py
Owners: @AgnostiqHQ/aq-engineers

Update nightly-tests.yml
  .github/workflows/nightly-tests.yml
Owners: @AgnostiqHQ/aq-managers

Modifying nightly CI to be more interactive and streamlined (#1869)
  .github/workflows/changelog.yml
  .github/workflows/man_0_assign_version.yml
  .github/workflows/man_1_push_to_master.yml
  .github/workflows/man_2_create_prerelease.yml
  .github/workflows/nightly-tests.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  CHANGELOG.md
Owners: @AgnostiqHQ/aq-managers

Unbreak task packing
  .github/workflows/tests.yml
  CHANGELOG.md
  covalent_dispatcher/_core/dispatcher.py
Owners: @AgnostiqHQ/aq-managers, @AgnostiqHQ/aq-engineers

Lock parent job record when persisting sublattices
  covalent_dispatcher/_dal/importers/result.py
  covalent_dispatcher/_dal/importers/tg.py
Owners: @AgnostiqHQ/aq-engineers

Update changelog
  CHANGELOG.md
Owners: none

Add framework for building sublattices inside new-style executors
  covalent/_dispatcher_plugins/local.py
  covalent/_file_transfer/strategies/shutil_strategy.py
  covalent/_workflow/electron.py
  covalent/executor/utils/wrappers.py
  covalent_dispatcher/_core/data_modules/importer.py
  tests/covalent_tests/file_transfer/strategies/shutil_strategy_test.py
  tests/covalent_tests/workflow/electron_test.py
Owners: @AgnostiqHQ/aq-engineers

Improve automatic file transfer strategy selection
  .gitignore
  covalent/_file_transfer/file_transfer.py
  tests/covalent_tests/file_transfer/file_transfer_test.py
Owners: @AgnostiqHQ/aq-engineers

Parse function string in Electron constructor
  covalent/_workflow/electron.py
  tests/covalent_tests/workflow/electron_test.py
Owners: @AgnostiqHQ/aq-engineers

Parse function string in Electron constructor
  covalent/_workflow/electron.py
  tests/covalent_tests/workflow/electron_test.py
Owners: @AgnostiqHQ/aq-engineers

Changelog
  CHANGELOG.md
Owners: none

fixing if condition
  .github/workflows/man_0_assign_version.yml
  .github/workflows/man_1_push_to_master.yml
  .github/workflows/man_2_create_prerelease.yml
  .github/workflows/nightly-tests.yml
  .github/workflows/tests.yml
Owners: @AgnostiqHQ/aq-managers

fixing if condition
  CHANGELOG.md
Owners: none

now added release as part of nightly tests
  .github/workflows/man_0_assign_version.yml
  .github/workflows/man_1_push_to_master.yml
  .github/workflows/man_2_create_prerelease.yml
  .github/workflows/nightly-tests.yml
Owners: @AgnostiqHQ/aq-managers

updated changelog
  CHANGELOG.md
Owners: none

Fixing the github workflows (#1927)
  .github/workflows/man_0_assign_version.yml
  .github/workflows/man_1_push_to_master.yml
  .github/workflows/man_2_create_prerelease.yml
  .github/workflows/nightly-tests.yml
  .github/workflows/tests.yml
  CHANGELOG.md
Owners: @AgnostiqHQ/aq-managers

The new version will be 0.234.0-rc.0
  CHANGELOG.md
  VERSION
Owners: none

Removing my email from the CHANGELOG
  CHANGELOG.md
Owners: none

Removing my email from the CHANGELOG (#1928)
  CHANGELOG.md
Owners: none

removing author email from changelog action
  .github/actions/changelog/index.js
Owners: @AgnostiqHQ/aq-managers

updated changelog
  CHANGELOG.md
Owners: none

implemented suggestions
  .github/actions/changelog/index.js
Owners: @AgnostiqHQ/aq-managers

Fixing scheduled nightly
  .github/workflows/nightly-tests.yml
  CHANGELOG.md
Owners: @AgnostiqHQ/aq-managers

non optimization related changes
  covalent_dispatcher/_cli/service.py
Owners: @AgnostiqHQ/aq-engineers

unrelated dask changes
  covalent_dispatcher/_service/app_dask.py
Owners: @AgnostiqHQ/aq-engineers

purge will clear up more stuff now
  covalent_dispatcher/_cli/service.py
Owners: @AgnostiqHQ/aq-engineers

fixing purge
  covalent_dispatcher/_cli/service.py
Owners: @AgnostiqHQ/aq-engineers

Fixing scheduled nightly (#1930)
  .github/workflows/nightly-tests.yml
  CHANGELOG.md
Owners: @AgnostiqHQ/aq-managers

added input values
  .github/workflows/nightly-tests.yml
Owners: @AgnostiqHQ/aq-managers

updated changelog
  CHANGELOG.md
Owners: none

Removing author email from changelog (#1929)
  .github/actions/changelog/index.js
  CHANGELOG.md
Owners: @AgnostiqHQ/aq-managers

Further scheduled nightly fixes (#1934)
  .github/workflows/nightly-tests.yml
  CHANGELOG.md
Owners: @AgnostiqHQ/aq-managers

Changelog file conflict fix
  CHANGELOG.md
Owners: none

Parse electron function strings at Electron construction (#1926)
  CHANGELOG.md
  covalent/_workflow/electron.py
  tests/covalent_tests/workflow/electron_test.py
Owners: @AgnostiqHQ/aq-engineers

Unbreak task packing
  .github/workflows/tests.yml
  CHANGELOG.md
  covalent_dispatcher/_core/dispatcher.py
Owners: @AgnostiqHQ/aq-managers, @AgnostiqHQ/aq-engineers

Lock parent job record when persisting sublattices
  covalent_dispatcher/_dal/importers/result.py
  covalent_dispatcher/_dal/importers/tg.py
  tests/covalent_dispatcher_tests/_dal/importers/result_import_test.py
Owners: @AgnostiqHQ/aq-engineers

Dictionary collector nodes no longer need keys to be `str`
  CHANGELOG.md
  covalent/_workflow/electron.py
Owners: @AgnostiqHQ/aq-engineers

Changelog
  CHANGELOG.md
Owners: none

Fix tests
  tests/covalent_dispatcher_tests/_core/dispatcher_db_integration_test.py
  tests/covalent_dispatcher_tests/_core/execution_test.py
  tests/covalent_tests/workflow/electron_test.py
  tests/functional_tests/workflow_stack_test.py
Owners: @AgnostiqHQ/aq-engineers

.github/CODEOWNERS:

# Copyright 2021 Agnostiq Inc.
#
# This file is part of Covalent.
#
# Licensed under the Apache License 2.0 (the "License"). A copy of the
# License may be obtained with this software package or at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Use of this file is prohibited except in compliance with the License.
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# CODEOWNERS

# Core code, docs, and tests are owned by the Agnostiq engineering team.
/covalent/		@AgnostiqHQ/aq-engineers
/covalent_dispatcher/	@AgnostiqHQ/aq-engineers
/doc/			@santoshkumarradha
/tests/			@AgnostiqHQ/aq-engineers
.flake8			@AgnostiqHQ/aq-engineers
.gitignore		@AgnostiqHQ/aq-engineers
.pre-commit-config.yaml	@AgnostiqHQ/aq-engineers
.prettierrc 		@AgnostiqHQ/aq-engineers
.pylintrc 		@AgnostiqHQ/aq-engineers
.readthedocs.yaml 	@AgnostiqHQ/aq-engineers
.wci.yaml 		@AgnostiqHQ/aq-engineers
CODE_OF_CONDUCT.md 	@AgnostiqHQ/aq-engineers
CONTRIBUTING.md 	@AgnostiqHQ/aq-engineers
README.md 		@AgnostiqHQ/aq-engineers
pyproject.toml 		@AgnostiqHQ/aq-engineers

# Covalent UI is owned by collaborators from Psiog.
/covalent_ui/**/*.js 		@mshkanth @Prasy12

# Modifying these requires additional approval.
Dockerfile		@AgnostiqHQ/aq-managers
.github/**		@AgnostiqHQ/aq-managers
LICENSE			@AgnostiqHQ/aq-managers
MANIFEST.in		@AgnostiqHQ/aq-managers
meta.yaml		@AgnostiqHQ/aq-managers
**/requirements.txt	@AgnostiqHQ/aq-managers
setup.py		@AgnostiqHQ/aq-managers
Makefile 		@AgnostiqHQ/aq-managers
