Repository AgnostiqHQ/covalent, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AgnostiqHQ/aq-engineers, @santoshkumarradha, @mshkanth, @Prasy12, @AgnostiqHQ/aq-managers

Do not require dictionary keys to be `str` (#1886)
  .github/workflows/tests.yml
  CHANGELOG.md
  covalent/_workflow/electron.py
  covalent_dispatcher/_core/dispatcher.py
  covalent_dispatcher/_dal/importers/result.py
  covalent_dispatcher/_dal/importers/tg.py
  tests/covalent_dispatcher_tests/_core/dispatcher_db_integration_test.py
  tests/covalent_dispatcher_tests/_core/execution_test.py
  tests/covalent_dispatcher_tests/_dal/importers/result_import_test.py
  tests/covalent_tests/workflow/electron_test.py
  tests/functional_tests/workflow_stack_test.py
Owners: @AgnostiqHQ/aq-managers, @AgnostiqHQ/aq-engineers

Improve automatic file transfer strategy selection
  .gitignore
  covalent/_file_transfer/file_transfer.py
  tests/covalent_tests/file_transfer/file_transfer_test.py
Owners: @AgnostiqHQ/aq-engineers

Add framework for building sublattices inside new-style executors
  covalent/_dispatcher_plugins/local.py
  covalent/_file_transfer/strategies/shutil_strategy.py
  covalent/_workflow/electron.py
  covalent/executor/utils/wrappers.py
  covalent_dispatcher/_core/data_modules/importer.py
  tests/covalent_tests/file_transfer/strategies/shutil_strategy_test.py
  tests/covalent_tests/workflow/electron_test.py
Owners: @AgnostiqHQ/aq-engineers

Changelog
  CHANGELOG.md
Owners: none

Reduce memory overhead for TransportableObject
  covalent/_workflow/transportable_object.py
  tests/covalent_dispatcher_tests/_service/assets_test.py
  tests/covalent_tests/workflow/transport_test.py
Owners: @AgnostiqHQ/aq-engineers

Add support for `pip install covalent[cloud]`
  setup.py
Owners: @AgnostiqHQ/aq-managers

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

The new version will be 0.234.1-rc.0
  CHANGELOG.md
  VERSION
Owners: none

update note
  doc/source/api/executors/slurm.rst
Owners: @santoshkumarradha

fix changelog
  CHANGELOG.md
Owners: none

add whitespace around operators for pre-commit check
  tests/covalent_dispatcher_tests/_db/write_result_to_db_test.py
  tests/stress_tests/scripts/mnist_sublattices.py
  tests/stress_tests/scripts/sublattices_mixed.py
  tests/stress_tests/scripts/tasks.py
Owners: @AgnostiqHQ/aq-engineers

more add whitespace
  covalent/_dispatcher_plugins/local.py
Owners: @AgnostiqHQ/aq-engineers

Note possible limit on concurrent electrons that use SSH-based executors (#1919)
  CHANGELOG.md
  covalent/_dispatcher_plugins/local.py
  doc/source/api/executors/slurm.rst
  tests/covalent_dispatcher_tests/_db/write_result_to_db_test.py
  tests/stress_tests/scripts/mnist_sublattices.py
  tests/stress_tests/scripts/sublattices_mixed.py
  tests/stress_tests/scripts/tasks.py
Owners: @AgnostiqHQ/aq-engineers, @santoshkumarradha

Fix usage of API client: don't existing truncate query string
  covalent/_dispatcher_plugins/local.py
Owners: @AgnostiqHQ/aq-engineers

Delay Sqlalchemy import in DB trigger
  covalent/triggers/database_trigger.py
  tests/covalent_tests/triggers/database_trigger_test.py
Owners: @AgnostiqHQ/aq-engineers

Allow attaching custom metadata to lattices and electrons
  covalent/_serialize/electron.py
  covalent/_serialize/lattice.py
  covalent/_shared_files/schemas/electron.py
  covalent/_shared_files/schemas/lattice.py
  covalent/_shared_files/schemas/result.py
  covalent_dispatcher/_dal/importers/electron.py
  covalent_dispatcher/_dal/importers/lattice.py
  tests/covalent_dispatcher_tests/_dal/importers/result_import_test.py
  tests/covalent_tests/serialize/lattice_serialization_test.py
Owners: @AgnostiqHQ/aq-engineers

Handle Covalent version mismatches more gracefully
  covalent/_workflow/electron.py
Owners: @AgnostiqHQ/aq-engineers

setup.py: allow installing a specific commit sha
  setup.py
Owners: @AgnostiqHQ/aq-managers

Abstract API entrypoint for sublattice dispatches
  covalent/_dispatcher_plugins/local.py
  covalent_dispatcher/_service/app.py
  tests/covalent_dispatcher_tests/_service/app_test.py
Owners: @AgnostiqHQ/aq-engineers

Minor fixes to API client
  covalent/_api/apiclient.py
Owners: @AgnostiqHQ/aq-engineers

Allow disabling legacy sublattice path
  covalent/_workflow/electron.py
Owners: @AgnostiqHQ/aq-engineers

Changelog
  CHANGELOG.md
Owners: none

Remove unused lattice attributes
  covalent/_results_manager/result.py
  covalent/_serialize/lattice.py
  covalent/_shared_files/schemas/lattice.py
  covalent/_workflow/lattice.py
  covalent_dispatcher/_cli/cli.py
  covalent_dispatcher/_cli/migrate.py
  covalent_dispatcher/_cli/service.py
  covalent_dispatcher/_dal/db_interfaces/lattice_utils.py
  covalent_dispatcher/_dal/importers/lattice.py
  covalent_dispatcher/_db/dispatchdb.py
  covalent_dispatcher/_db/models.py
  covalent_dispatcher/_db/upsert.py
  covalent_dispatcher/_db/write_result_to_db.py
  covalent_dispatcher/_service/models.py
  covalent_ui/result_webhook.py
  tests/covalent_dispatcher_tests/_cli/cli_test.py
  tests/covalent_dispatcher_tests/_cli/migrate_test.py
  tests/covalent_dispatcher_tests/_dal/lattice_test.py
  tests/covalent_dispatcher_tests/_db/update_test.py
  tests/covalent_dispatcher_tests/_db/write_result_to_db_test.py
  tests/covalent_tests/workflow/dispatch_source_test.py
  tests/covalent_tests/workflow/lattice_serialization_test.py
Owners: @AgnostiqHQ/aq-engineers

Fix reqs
  .github/workflows/requirements.yml
  requirements-client.txt
  requirements.txt
Owners: @AgnostiqHQ/aq-managers

Fix reqs
  .github/workflows/requirements.yml
  covalent_ui/app.py
  requirements-client.txt
  requirements.txt
Owners: @AgnostiqHQ/aq-managers

Remove unused lattice attributes
  covalent/_results_manager/result.py
  covalent/_serialize/lattice.py
  covalent/_shared_files/schemas/lattice.py
  covalent/_workflow/lattice.py
  covalent_dispatcher/_cli/cli.py
  covalent_dispatcher/_cli/migrate.py
  covalent_dispatcher/_cli/service.py
  covalent_dispatcher/_dal/db_interfaces/lattice_utils.py
  covalent_dispatcher/_dal/importers/lattice.py
  covalent_dispatcher/_db/dispatchdb.py
  covalent_dispatcher/_db/models.py
  covalent_dispatcher/_db/upsert.py
  covalent_dispatcher/_db/write_result_to_db.py
  covalent_dispatcher/_service/models.py
  covalent_ui/result_webhook.py
  tests/covalent_dispatcher_tests/_cli/cli_test.py
  tests/covalent_dispatcher_tests/_cli/migrate_test.py
  tests/covalent_dispatcher_tests/_dal/lattice_test.py
  tests/covalent_dispatcher_tests/_db/update_test.py
  tests/covalent_dispatcher_tests/_db/write_result_to_db_test.py
  tests/covalent_tests/workflow/dispatch_source_test.py
  tests/covalent_tests/workflow/lattice_serialization_test.py
Owners: @AgnostiqHQ/aq-engineers

Remove references to migrate-pickled-result-object cmd
  covalent/_workflow/electron.py
  doc/source/api/cli.rst
  doc/source/version_migrations/index.rst
  tests/covalent_dispatcher_tests/_cli/sample_results_dir/652dc473-fa37-4846-85f3-b314204fd432/result.pkl
  tests/covalent_tests/workflow/electron_test.py
  tests/covalent_tests/workflow/lattice_test.py
Owners: @AgnostiqHQ/aq-engineers, @santoshkumarradha

Changelog
  CHANGELOG.md
Owners: none

Re-enable test
  tests/covalent_tests/workflow/lattice_test.py
  tests/covalent_ui_backend_tests/functional_tests/webhook_test.py
Owners: @AgnostiqHQ/aq-engineers

The new version will be 0.235.0-rc.0
  CHANGELOG.md
  VERSION
Owners: none

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

feat: added changes to dockerfile and requirements
  Dockerfile
  covalent_ui/webapp/package.json
  requirements.txt
Owners: @AgnostiqHQ/aq-managers

moving supression of import error to try to deal with other errors until we update pennylane for qelectron
  covalent/__init__.py
Owners: @AgnostiqHQ/aq-engineers

updated changelog
  CHANGELOG.md
  covalent/__init__.py
Owners: @AgnostiqHQ/aq-engineers

Making qelectron import within try except. (#1954)
  CHANGELOG.md
  covalent/__init__.py
Owners: @AgnostiqHQ/aq-engineers

The new version will be 0.235.1-rc.0
  CHANGELOG.md
  VERSION
Owners: none

add __main__.py
  CHANGELOG.md
  covalent/__main__.py
Owners: @AgnostiqHQ/aq-engineers

Update recommended platform to Debian 12 / Python 3.10
  .github/workflows/test_matrix.json
  .github/workflows/tests.yml
  CHANGELOG.md
  doc/source/getting_started/compatibility.rst
Owners: @AgnostiqHQ/aq-managers, @santoshkumarradha

Update recommended platform to Debian 12 / Python 3.10 (#1968)
  .github/workflows/test_matrix.json
  .github/workflows/tests.yml
  CHANGELOG.md
  doc/source/getting_started/compatibility.rst
Owners: @AgnostiqHQ/aq-managers, @santoshkumarradha

Default workflow_executor to lattice-default executor
  CHANGELOG.md
  covalent/_shared_files/defaults.py
  covalent/_workflow/electron.py
  covalent/_workflow/lattice.py
  tests/covalent_tests/workflow/electron_metadata_test.py
  tests/covalent_tests/workflow/lattice_test.py
Owners: @AgnostiqHQ/aq-engineers

.github/CODEOWNERS:

# Copyright 2021 Agnostiq Inc.
#
# This file is part of Covalent.
#
# Licensed under the Apache License 2.0 (the "License"). A copy of the
# License may be obtained with this software package or at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Use of this file is prohibited except in compliance with the License.
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# CODEOWNERS

# Core code, docs, and tests are owned by the Agnostiq engineering team.
/covalent/		@AgnostiqHQ/aq-engineers
/covalent_dispatcher/	@AgnostiqHQ/aq-engineers
/doc/			@santoshkumarradha
/tests/			@AgnostiqHQ/aq-engineers
.flake8			@AgnostiqHQ/aq-engineers
.gitignore		@AgnostiqHQ/aq-engineers
.pre-commit-config.yaml	@AgnostiqHQ/aq-engineers
.prettierrc 		@AgnostiqHQ/aq-engineers
.pylintrc 		@AgnostiqHQ/aq-engineers
.readthedocs.yaml 	@AgnostiqHQ/aq-engineers
.wci.yaml 		@AgnostiqHQ/aq-engineers
CODE_OF_CONDUCT.md 	@AgnostiqHQ/aq-engineers
CONTRIBUTING.md 	@AgnostiqHQ/aq-engineers
README.md 		@AgnostiqHQ/aq-engineers
pyproject.toml 		@AgnostiqHQ/aq-engineers

# Covalent UI is owned by collaborators from Psiog.
/covalent_ui/**/*.js 		@mshkanth @Prasy12

# Modifying these requires additional approval.
Dockerfile		@AgnostiqHQ/aq-managers
.github/**		@AgnostiqHQ/aq-managers
LICENSE			@AgnostiqHQ/aq-managers
MANIFEST.in		@AgnostiqHQ/aq-managers
meta.yaml		@AgnostiqHQ/aq-managers
**/requirements.txt	@AgnostiqHQ/aq-managers
setup.py		@AgnostiqHQ/aq-managers
Makefile 		@AgnostiqHQ/aq-managers
