Repository AgnostiqHQ/covalent, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AgnostiqHQ/aq-engineers, @santoshkumarradha, @mshkanth, @Prasy12, @AgnostiqHQ/aq-managers

.github/CODEOWNERS:

# Copyright 2021 Agnostiq Inc.
#
# This file is part of Covalent.
#
# Licensed under the Apache License 2.0 (the "License"). A copy of the
# License may be obtained with this software package or at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Use of this file is prohibited except in compliance with the License.
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# CODEOWNERS

# Core code, docs, and tests are owned by the Agnostiq engineering team.
/covalent/		@AgnostiqHQ/aq-engineers
/covalent_dispatcher/	@AgnostiqHQ/aq-engineers
/doc/			@santoshkumarradha
/tests/			@AgnostiqHQ/aq-engineers
.flake8			@AgnostiqHQ/aq-engineers
.gitignore		@AgnostiqHQ/aq-engineers
.pre-commit-config.yaml	@AgnostiqHQ/aq-engineers
.prettierrc 		@AgnostiqHQ/aq-engineers
.pylintrc 		@AgnostiqHQ/aq-engineers
.readthedocs.yaml 	@AgnostiqHQ/aq-engineers
.wci.yaml 		@AgnostiqHQ/aq-engineers
CODE_OF_CONDUCT.md 	@AgnostiqHQ/aq-engineers
CONTRIBUTING.md 	@AgnostiqHQ/aq-engineers
README.md 		@AgnostiqHQ/aq-engineers
pyproject.toml 		@AgnostiqHQ/aq-engineers

# Covalent UI is owned by collaborators from Psiog.
/covalent_ui/**/*.js 		@mshkanth @Prasy12

# Modifying these requires additional approval.
Dockerfile		@AgnostiqHQ/aq-managers
.github/**		@AgnostiqHQ/aq-managers
LICENSE			@AgnostiqHQ/aq-managers
MANIFEST.in		@AgnostiqHQ/aq-managers
meta.yaml		@AgnostiqHQ/aq-managers
**/requirements.txt	@AgnostiqHQ/aq-managers
setup.py		@AgnostiqHQ/aq-managers
Makefile 		@AgnostiqHQ/aq-managers

More logging
  covalent_dispatcher/_service/app_dask.py
  covalent_ui/api/v1/routes/routes.py
Owners: @AgnostiqHQ/aq-engineers

Add logging
  .github/workflows/tests.yml
Owners: @AgnostiqHQ/aq-managers

Write dask cluser state from main process
  covalent_dispatcher/_service/app_dask.py
  covalent_ui/app.py
Owners: @AgnostiqHQ/aq-engineers

Stringify objects sent through pipe
  covalent_dispatcher/_service/app_dask.py
Owners: @AgnostiqHQ/aq-engineers

Refresh CLI ConfigManager after server start
  covalent_dispatcher/_cli/service.py
Owners: @AgnostiqHQ/aq-engineers

Expand comment
  covalent_dispatcher/_cli/service.py
Owners: @AgnostiqHQ/aq-engineers

Fix race condition when recording Dask cluster state
  .github/workflows/tests.yml
  covalent_dispatcher/_cli/service.py
  covalent_dispatcher/_service/app_dask.py
  covalent_ui/api/v1/routes/routes.py
  covalent_ui/app.py
Owners: @AgnostiqHQ/aq-managers, @AgnostiqHQ/aq-engineers

Fix race condition when recording Dask cluster state
  .github/workflows/tests.yml
  covalent_dispatcher/_cli/service.py
  covalent_dispatcher/_service/app_dask.py
  covalent_ui/app.py
Owners: @AgnostiqHQ/aq-managers, @AgnostiqHQ/aq-engineers

readme changes
  README.md
  doc/source/_static/ai_tutorial.svg
  doc/source/_static/aws.svg
  doc/source/_static/azure.svg
  doc/source/_static/cloud_hpc.svg
  doc/source/_static/code_snippet.svg
  doc/source/_static/concepts_of_covalent.svg
  doc/source/_static/covalent_work.svg
  doc/source/_static/dask.svg
  doc/source/_static/development.svg
  doc/source/_static/documentation.svg
  doc/source/_static/examples.svg
  doc/source/_static/getting_started.svg
  doc/source/_static/google.svg
  doc/source/_static/ibm.svg
  doc/source/_static/kubernetes.svg
  doc/source/_static/many_more.svg
  doc/source/_static/mnist_tutorial.svg
  doc/source/_static/quantum_tutorial.svg
  doc/source/_static/slack.svg
  doc/source/_static/slurm.svg
  doc/source/_static/tutorial_heading.svg
  doc/source/_static/what_is_covalent.svg
Owners: @AgnostiqHQ/aq-engineers, @santoshkumarradha

added more dask tests
  covalent/executor/executor_plugins/dask.py
  tests/covalent_tests/executor/executor_plugins/dask_test.py
Owners: @AgnostiqHQ/aq-engineers

changed executor image
  README.md
  doc/source/_static/readme_executor.svg
Owners: @AgnostiqHQ/aq-engineers, @santoshkumarradha

executors position chage
  README.md
Owners: @AgnostiqHQ/aq-engineers

Pinning pennylane version
  requirements.txt
Owners: @AgnostiqHQ/aq-managers

added local executor tests
  covalent/executor/executor_plugins/local.py
  tests/covalent_dispatcher_tests/_core/runner_ng_test.py
  tests/covalent_tests/executor/executor_plugins/local_test.py
Owners: @AgnostiqHQ/aq-engineers

added more local executor tests
  covalent/_workflow/lattice.py
  tests/covalent_tests/executor/executor_plugins/local_test.py
Owners: @AgnostiqHQ/aq-engineers

Reset develop
  CHANGELOG.md
Owners: none

added video
  README.md
Owners: @AgnostiqHQ/aq-engineers

Update changelog
  CHANGELOG.md
Owners: none

Updated changelog
  CHANGELOG.md
Owners: none

Memory improvements (3/3): Introduce new runner and executor API (#1690)
  .github/workflows/tests.yml
  CHANGELOG.md
  covalent/_serialize/lattice.py
  covalent/_shared_files/schemas/lattice.py
  covalent/_shared_files/utils.py
  covalent/_workflow/lattice.py
  covalent/executor/__init__.py
  covalent/executor/base.py
  covalent/executor/executor_plugins/dask.py
  covalent/executor/executor_plugins/local.py
  covalent/executor/schemas.py
  covalent/executor/utils/__init__.py
  covalent/executor/utils/enums.py
  covalent/executor/utils/serialize.py
  covalent/executor/utils/wrappers.py
  covalent_dispatcher/_cli/service.py
  covalent_dispatcher/_core/data_manager.py
  covalent_dispatcher/_core/dispatcher.py
  covalent_dispatcher/_core/runner.py
  covalent_dispatcher/_core/runner_ng.py
  covalent_dispatcher/_dal/controller.py
  covalent_dispatcher/_service/app.py
  covalent_dispatcher/_service/app_dask.py
  covalent_dispatcher/_service/runnersvc.py
  covalent_ui/api/v1/routes/routes.py
  covalent_ui/app.py
  tests/covalent_dispatcher_tests/_core/dispatcher_test.py
  tests/covalent_dispatcher_tests/_core/execution_test.py
  tests/covalent_dispatcher_tests/_core/runner_ng_test.py
  tests/covalent_dispatcher_tests/_db/write_result_to_db_test.py
  tests/covalent_dispatcher_tests/_service/runnersvc_test.py
  tests/covalent_tests/executor/base_test.py
  tests/covalent_tests/executor/executor_plugins/__init__.py
  tests/covalent_tests/executor/executor_plugins/dask_test.py
  tests/covalent_tests/executor/executor_plugins/local_test.py
  tests/covalent_tests/triggers/database_trigger_test.py
  tests/covalent_tests/workflow/lattice_serialization_test.py
  tests/covalent_ui_backend_tests/utils/data/lattices.json
  tests/covalent_ui_backend_tests/utils/data/mock_files.py
Owners: @AgnostiqHQ/aq-managers, @AgnostiqHQ/aq-engineers

Edited video name
  README.md
Owners: @AgnostiqHQ/aq-engineers

Edited video name
  README.md
Owners: @AgnostiqHQ/aq-engineers

Minor redirection fixes
  README.md
Owners: @AgnostiqHQ/aq-engineers

code block change and redirection fixes
  README.md
Owners: @AgnostiqHQ/aq-engineers

Update README.md for code block
  README.md
Owners: @AgnostiqHQ/aq-engineers

Redirection fixes for plugins
  README.md
Owners: @AgnostiqHQ/aq-engineers

Redirection for badges
  README.md
Owners: @AgnostiqHQ/aq-engineers

Pinning pennylane version (#1846)
  CHANGELOG.md
  requirements.txt
Owners: @AgnostiqHQ/aq-managers

Updated nightly to run once a day (#1838)
  .github/workflows/nightly.yml
  CHANGELOG.md
Owners: @AgnostiqHQ/aq-managers

replacing deprecated pydantic methods
  covalent/_dispatcher_plugins/local.py
  covalent/_results_manager/result.py
  covalent/_results_manager/results_manager.py
  covalent/_serialize/result.py
Owners: @AgnostiqHQ/aq-engineers

added qelectron_db asset in more places
  covalent/_dispatcher_plugins/local.py
  covalent/_serialize/electron.py
  covalent/_shared_files/schemas/electron.py
  covalent/_shared_files/schemas/lattice.py
  covalent/executor/utils/wrappers.py
  covalent_dispatcher/_core/runner.py
  covalent_dispatcher/_dal/importers/electron.py
  covalent_dispatcher/_dal/importers/tg.py
  covalent_dispatcher/_service/models.py
Owners: @AgnostiqHQ/aq-engineers

updated electron schema
  covalent_ui/api/v1/data_layer/electron_dal.py
  covalent_ui/api/v1/database/schema/electron.py
  covalent_ui/api/v1/routes/end_points/electron_routes.py
Owners: none

Fix propagation of lattice-default attributes to electrons
  CHANGELOG.md
  covalent/_workflow/electron.py
  covalent/_workflow/postprocessing.py
  tests/covalent_tests/workflow/electron_test.py
  tests/covalent_tests/workflow/postprocessing_test.py
  tests/functional_tests/workflow_stack_test.py
Owners: @AgnostiqHQ/aq-engineers

made files None as well in accordance to the new changes
  covalent/_workflow/electron.py
Owners: @AgnostiqHQ/aq-engineers

reverted the files change, since it's purpose is different
  covalent/_workflow/electron.py
Owners: @AgnostiqHQ/aq-engineers

Fix propagation of lattice-default attributes to electrons (#1849)
  CHANGELOG.md
  covalent/_workflow/electron.py
  covalent/_workflow/postprocessing.py
  tests/covalent_tests/workflow/electron_test.py
  tests/covalent_tests/workflow/postprocessing_test.py
  tests/functional_tests/workflow_stack_test.py
Owners: @AgnostiqHQ/aq-engineers

added qelectron db as an asset in more places
  covalent/_shared_files/qelectron_utils.py
  covalent/executor/base.py
  covalent/executor/executor_plugins/dask.py
  covalent/executor/executor_plugins/local.py
  covalent/executor/utils/context.py
  covalent/executor/utils/wrappers.py
  covalent_dispatcher/_core/data_manager.py
Owners: @AgnostiqHQ/aq-engineers

Handled RecursionError on get results with wait
  covalent/_results_manager/results_manager.py
Owners: @AgnostiqHQ/aq-engineers

working without qelectrons afteer the changes
  covalent/_shared_files/qelectron_utils.py
  covalent/executor/utils/wrappers.py
  covalent/quantum/qserver/database.py
  covalent_migrations/versions/692b18f7b7de_add_qelectron_db_filename_to_electrons_.py
  covalent_ui/api/v1/data_layer/electron_dal.py
  covalent_ui/api/v1/routes/end_points/electron_routes.py
Owners: @AgnostiqHQ/aq-engineers

converting qelectron_db to tobj for transferring
  covalent/_serialize/electron.py
  covalent/_shared_files/qelectron_utils.py
  covalent/_shared_files/schemas/electron.py
  covalent/executor/executor_plugins/dask.py
  covalent/executor/executor_plugins/local.py
  covalent/executor/utils/wrappers.py
  covalent/quantum/qserver/core.py
Owners: @AgnostiqHQ/aq-engineers
