Repository AgnostiqHQ/covalent, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AgnostiqHQ/aq-engineers, @santoshkumarradha, @mshkanth, @Prasy12, @AgnostiqHQ/aq-managers

Add sample legacy result pickles
  tests/covalent_tests/utils/sample_results_dir/652dc473-fa37-4846-85f3-b314204fd432/result.pkl
  tests/covalent_tests/utils/sample_results_dir/652dc473-fa37-4846-85f3-b314204fd432/result_info.yaml
  tests/covalent_tests/utils/sample_results_dir/652dc473-fa37-4846-85f3-b314204fd432/stderr.log
  tests/covalent_tests/utils/sample_results_dir/652dc473-fa37-4846-85f3-b314204fd432/stdout.log
  tests/covalent_tests/utils/sample_results_dir/daf6ca8a-d377-4ed3-a230-675fc7383bc7/result.pkl
  tests/covalent_tests/utils/sample_results_dir/daf6ca8a-d377-4ed3-a230-675fc7383bc7/result_info.yaml
  tests/covalent_tests/utils/sample_results_dir/daf6ca8a-d377-4ed3-a230-675fc7383bc7/stderr.log
  tests/covalent_tests/utils/sample_results_dir/daf6ca8a-d377-4ed3-a230-675fc7383bc7/stdout.log
Owners: @AgnostiqHQ/aq-engineers

Add missing metadata entries to nodes and lattice
  covalent/utils/migrate.py
  tests/covalent_tests/utils/migrate_test.py
Owners: @AgnostiqHQ/aq-engineers

Add function to migrate a result pickle file to the DataStore
  covalent/utils/migrate.py
  tests/covalent_tests/utils/migrate_test.py
Owners: @AgnostiqHQ/aq-engineers

add iam role policy in dropdown
  doc/source/api/executers/awslambda.rst
Owners: @santoshkumarradha

Expose migrate function via CLI
  covalent_dispatcher/_cli/cli.py
  covalent_dispatcher/_cli/service.py
  tests/covalent_dispatcher_tests/_cli/service_test.py
Owners: @AgnostiqHQ/aq-engineers

Document `migrate_legacy_result_object` CLI command
  doc/source/api/api.rst
Owners: @santoshkumarradha

Update changelog
  CHANGELOG.md
Owners: none

Fix cli test
  tests/covalent_dispatcher_tests/_cli/cli_test.py
Owners: @AgnostiqHQ/aq-engineers

Fix RTD
  covalent_dispatcher/_cli/service.py
  doc/source/api/api.rst
Owners: @AgnostiqHQ/aq-engineers, @santoshkumarradha

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

Re-enable unit tests
  .github/workflows/tests.yml
Owners: @AgnostiqHQ/aq-managers

add executor image and dropdowns for IAM
  doc/source/api/executers/AWS_Lambda.jpg
  doc/source/api/executers/awslambda.rst
Owners: @santoshkumarradha

update changelog, add rtd for awsbatch
  CHANGELOG.md
  doc/source/api/executers/awsbatch.rst
  doc/source/api/executers/index.rst
  doc/source/plugins.rst
Owners: @santoshkumarradha

fix typo
  doc/source/api/executers/awsbatch.rst
Owners: @santoshkumarradha

add dropdown + batch plugin logo
  doc/source/api/executers/AWS_Batch.jpg
  doc/source/api/executers/awsbatch.rst
Owners: @santoshkumarradha

Remove workflow_pool and tasks_pool check in `/submit`
  covalent_dispatcher/_service/app.py
Owners: @AgnostiqHQ/aq-engineers

Updated changelog
  CHANGELOG.md
  covalent_dispatcher/_cli/service.py
Owners: @AgnostiqHQ/aq-engineers

Add command to migrate legacy pickled Result objects to datastore (#976)
  CHANGELOG.md
  covalent/_workflow/electron.py
  covalent/utils/__init__.py
  covalent/utils/migrate.py
  covalent_dispatcher/_cli/cli.py
  covalent_dispatcher/_cli/service.py
  doc/source/api/api.rst
  tests/.gitignore
  tests/covalent_dispatcher_tests/_cli/cli_test.py
  tests/covalent_dispatcher_tests/_cli/service_test.py
  tests/covalent_tests/utils/migrate_test.py
  tests/covalent_tests/utils/sample_results_dir/652dc473-fa37-4846-85f3-b314204fd432/result.pkl
  tests/covalent_tests/utils/sample_results_dir/652dc473-fa37-4846-85f3-b314204fd432/result_info.yaml
  tests/covalent_tests/utils/sample_results_dir/652dc473-fa37-4846-85f3-b314204fd432/stderr.log
  tests/covalent_tests/utils/sample_results_dir/652dc473-fa37-4846-85f3-b314204fd432/stdout.log
  tests/covalent_tests/utils/sample_results_dir/daf6ca8a-d377-4ed3-a230-675fc7383bc7/result.pkl
  tests/covalent_tests/utils/sample_results_dir/daf6ca8a-d377-4ed3-a230-675fc7383bc7/result_info.yaml
  tests/covalent_tests/utils/sample_results_dir/daf6ca8a-d377-4ed3-a230-675fc7383bc7/stderr.log
  tests/covalent_tests/utils/sample_results_dir/daf6ca8a-d377-4ed3-a230-675fc7383bc7/stdout.log
  tests/covalent_tests/utils/sample_results_dir/legacy_workflow.py
  tests/covalent_tests/workflow/electron_test.py
Owners: @AgnostiqHQ/aq-engineers, @santoshkumarradha

The new version will be 0.171.0
  CHANGELOG.md
  VERSION
Owners: none

Undo more changes
  .github/workflows/tests.yml
  covalent_dispatcher/_service/app.py
Owners: @AgnostiqHQ/aq-managers, @AgnostiqHQ/aq-engineers

Add dummy changelog entry to retrigger tests
  CHANGELOG.md
Owners: none

Fixed changelog
  CHANGELOG.md
Owners: none

minor changelog update
  CHANGELOG.md
Owners: none

Disable --develop flag
  .github/workflows/tests.yml
Owners: @AgnostiqHQ/aq-managers

Grep logs for `shutdown`
  .github/workflows/tests.yml
Owners: @AgnostiqHQ/aq-managers

Undo previous change
  .github/workflows/tests.yml
Owners: @AgnostiqHQ/aq-managers

test_sync
  CHANGELOG.md
  covalent/_results_manager/results_manager.py
  tests/covalent_tests/results_manager_tests/results_manager_test.py
Owners: @AgnostiqHQ/aq-engineers

Updated S3 how to guide
  doc/source/how_to/orchestration/file_transfers_for_workflows.ipynb
Owners: @santoshkumarradha

Adding a logs test due to decreasing coverage
  covalent_dispatcher/_cli/service.py
  tests/covalent_dispatcher_tests/_cli/service_test.py
Owners: @AgnostiqHQ/aq-engineers

Restore workflow_pool and tasks_pool check
  covalent_dispatcher/_service/app.py
Owners: @AgnostiqHQ/aq-engineers

Add logging
  covalent_dispatcher/_service/app.py
Owners: @AgnostiqHQ/aq-engineers

Force uvicorn debug and reloading
  covalent_ui/app.py
Owners: none

disable reload in uvicorn
  covalent_ui/app.py
Owners: none

removing socketio mount
  covalent_ui/app.py
Owners: none

removing socketio, removing build webapp step from workflow
  .github/workflows/tests.yml
  covalent_ui/api/main.py
  covalent_ui/app.py
Owners: @AgnostiqHQ/aq-managers

updated IP
  covalent_ui/app.py
Owners: none

Revert "removing socketio mount"
  covalent_ui/app.py
Owners: none

Revert "removing socketio, removing build webapp step from workflow"
  .github/workflows/tests.yml
  covalent_ui/api/main.py
  covalent_ui/app.py
Owners: @AgnostiqHQ/aq-managers

updating hero image
  doc/source/_static/covalent_platform.png
  doc/source/_static/covalent_platform.svg
  doc/source/index.rst
Owners: @santoshkumarradha

.github/CODEOWNERS:

# Copyright 2021 Agnostiq Inc.
#
# This file is part of Covalent.
#
# Licensed under the GNU Affero General Public License 3.0 (the "License").
# A copy of the License may be obtained with this software package or at
#
#      https://www.gnu.org/licenses/agpl-3.0.en.html
#
# Use of this file is prohibited except in compliance with the License. Any
# modifications or derivative works of this file must retain this copyright
# notice, and modified files must contain a notice indicating that they have
# been altered from the originals.
#
# Covalent is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
# FITNESS FOR A PARTICULAR PURPOSE. See the License for more details.
#
# Relief from the License may be granted by purchasing a commercial license.

# CODEOWNERS

# Core code, docs, and tests are owned by the Agnostiq engineering team.
/covalent/		@AgnostiqHQ/aq-engineers
/covalent_dispatcher/	@AgnostiqHQ/aq-engineers
/doc/			@santoshkumarradha
/tests/			@AgnostiqHQ/aq-engineers
.flake8			@AgnostiqHQ/aq-engineers
.gitignore		@AgnostiqHQ/aq-engineers
.pre-commit-config.yaml	@AgnostiqHQ/aq-engineers
.prettierrc 		@AgnostiqHQ/aq-engineers
.pylintrc 		@AgnostiqHQ/aq-engineers
.readthedocs.yaml 	@AgnostiqHQ/aq-engineers
.wci.yaml 		@AgnostiqHQ/aq-engineers
CODE_OF_CONDUCT.md 	@AgnostiqHQ/aq-engineers
CONTRIBUTING.md 	@AgnostiqHQ/aq-engineers
README.md 		@AgnostiqHQ/aq-engineers
pyproject.toml 		@AgnostiqHQ/aq-engineers

# Covalent UI is owned by collaborators from Psiog.
/covalent_ui/**/*.js 		@mshkanth @Prasy12

# Modifying these requires additional approval.
Dockerfile		@AgnostiqHQ/aq-managers
.github/**		@AgnostiqHQ/aq-managers
LICENSE			@AgnostiqHQ/aq-managers
MANIFEST.in		@AgnostiqHQ/aq-managers
meta.yaml		@AgnostiqHQ/aq-managers
**/requirements.txt	@AgnostiqHQ/aq-managers
setup.py		@AgnostiqHQ/aq-managers
Makefile 		@AgnostiqHQ/aq-managers
