Repository AgnostiqHQ/covalent, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AgnostiqHQ/aq-engineers, @santoshkumarradha, @mshkanth, @Prasy12, @AgnostiqHQ/aq-managers

.github/CODEOWNERS:

# Copyright 2021 Agnostiq Inc.
#
# This file is part of Covalent.
#
# Licensed under the Apache License 2.0 (the "License"). A copy of the
# License may be obtained with this software package or at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Use of this file is prohibited except in compliance with the License.
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# CODEOWNERS

# Core code, docs, and tests are owned by the Agnostiq engineering team.
/covalent/		@AgnostiqHQ/aq-engineers
/covalent_dispatcher/	@AgnostiqHQ/aq-engineers
/doc/			@santoshkumarradha
/tests/			@AgnostiqHQ/aq-engineers
.flake8			@AgnostiqHQ/aq-engineers
.gitignore		@AgnostiqHQ/aq-engineers
.pre-commit-config.yaml	@AgnostiqHQ/aq-engineers
.prettierrc 		@AgnostiqHQ/aq-engineers
.pylintrc 		@AgnostiqHQ/aq-engineers
.readthedocs.yaml 	@AgnostiqHQ/aq-engineers
.wci.yaml 		@AgnostiqHQ/aq-engineers
CODE_OF_CONDUCT.md 	@AgnostiqHQ/aq-engineers
CONTRIBUTING.md 	@AgnostiqHQ/aq-engineers
README.md 		@AgnostiqHQ/aq-engineers
pyproject.toml 		@AgnostiqHQ/aq-engineers

# Covalent UI is owned by collaborators from Psiog.
/covalent_ui/**/*.js 		@mshkanth @Prasy12

# Modifying these requires additional approval.
Dockerfile		@AgnostiqHQ/aq-managers
.github/**		@AgnostiqHQ/aq-managers
LICENSE			@AgnostiqHQ/aq-managers
MANIFEST.in		@AgnostiqHQ/aq-managers
meta.yaml		@AgnostiqHQ/aq-managers
**/requirements.txt	@AgnostiqHQ/aq-managers
setup.py		@AgnostiqHQ/aq-managers
Makefile 		@AgnostiqHQ/aq-managers

Redirection fix
  README.md
Owners: @AgnostiqHQ/aq-engineers

Remove duplicate `boto3` requirement (#1875)
  CHANGELOG.md
  tests/requirements.txt
Owners: @AgnostiqHQ/aq-managers

ran precommit
  CHANGELOG.md
  covalent/_workflow/depscall.py
  covalent/_workflow/depsmodule.py
  covalent/_workflow/electron.py
  covalent_dispatcher/_db/datastore.py
  covalent_migrations/env.py
  covalent_migrations/versions/1142d81b29b8_schema_updates_for_new_dal.py
  covalent_migrations/versions/26d71848a404_v12.py
  covalent_migrations/versions/97202f5f47cb_v13.py
  covalent_migrations/versions/9b9d58f02985_v11.py
  covalent_migrations/versions/b60c5ecdf927_init.py
  covalent_migrations/versions/de0a6c0a3e3d_add_qelectron_data_exists_flag_to_db.py
  covalent_migrations/versions/f64ecaa040d5_add_jobs_db_table.py
Owners: @AgnostiqHQ/aq-engineers

first draft of modeule deps
  covalent/_workflow/depsmodule.py
  covalent/_workflow/electron.py
Owners: @AgnostiqHQ/aq-engineers

updated changelog
  CHANGELOG.md
Owners: none

added support for directly adding modules
  covalent/__init__.py
  covalent/_workflow/__init__.py
  covalent/_workflow/depsmodule.py
  covalent/_workflow/electron.py
Owners: @AgnostiqHQ/aq-engineers

minor edit
  covalent/_workflow/electron.py
Owners: @AgnostiqHQ/aq-engineers

Update README.md
  README.md
Owners: @AgnostiqHQ/aq-engineers

Update README.md
  README.md
Owners: @AgnostiqHQ/aq-engineers

Allow for `cloudpickle>=3.0.0` (#1873)
  CHANGELOG.md
  requirements.txt
Owners: @AgnostiqHQ/aq-managers

debugging and trying
  covalent/_workflow/depsmodule.py
Owners: @AgnostiqHQ/aq-engineers

now working as expected except for postprocess
  covalent/_workflow/depsmodule.py
  covalent/_workflow/transport.py
Owners: @AgnostiqHQ/aq-engineers

some significant size improvements
  covalent/_workflow/depsmodule.py
  covalent/_workflow/lattice.py
  covalent/_workflow/transport.py
Owners: @AgnostiqHQ/aq-engineers

fixed postprocess issue
  covalent/_workflow/electron.py
  covalent/_workflow/lattice.py
  covalent/_workflow/postprocessing.py
  covalent/_workflow/transport.py
Owners: @AgnostiqHQ/aq-engineers

removed unnecesary moduledeps additions
  covalent/_workflow/electron.py
  covalent/_workflow/lattice.py
  covalent/_workflow/transport.py
Owners: @AgnostiqHQ/aq-engineers

fixed one electron metadata issue
  covalent/_workflow/transport.py
Owners: @AgnostiqHQ/aq-engineers

removed some unneeded changes
  CHANGELOG.md
  covalent/_workflow/electron.py
  covalent/_workflow/lattice.py
  covalent/_workflow/transport.py
Owners: @AgnostiqHQ/aq-engineers

Reduce the number of assets to upload during dispatch
  CHANGELOG.md
  covalent/_dispatcher_plugins/local.py
  covalent/_results_manager/result.py
  covalent/_results_manager/results_manager.py
  covalent/_serialize/common.py
  covalent/_serialize/electron.py
  covalent/_serialize/lattice.py
  covalent/_shared_files/schemas/asset.py
  covalent/executor/executor_plugins/dask.py
  covalent/executor/executor_plugins/local.py
  covalent/executor/utils/wrappers.py
  covalent_dispatcher/_core/data_modules/asset_manager.py
  covalent_dispatcher/_dal/asset.py
  covalent_dispatcher/_dal/base.py
  covalent_dispatcher/_db/upsert.py
  covalent_dispatcher/_object_store/base.py
  covalent_dispatcher/_object_store/local.py
  covalent_dispatcher/_service/assets.py
  covalent_ui/api/v1/routes/end_points/electron_routes.py
  tests/covalent_dispatcher_tests/_core/data_modules/asset_manager_db_integration_test.py
  tests/covalent_dispatcher_tests/_core/runner_ng_test.py
  tests/covalent_dispatcher_tests/_dal/asset_test.py
  tests/covalent_dispatcher_tests/_dal/electron_test.py
  tests/covalent_dispatcher_tests/_dal/importers/result_import_test.py
  tests/covalent_dispatcher_tests/_db/update_test.py
  tests/covalent_dispatcher_tests/_db/upsert_test.py
  tests/covalent_dispatcher_tests/_object_store/local_test.py
  tests/covalent_tests/dispatcher_plugins/local_test.py
  tests/covalent_tests/executor/executor_plugins/dask_test.py
  tests/functional_tests/local_executor_test.py
  tests/functional_tests/workflow_stack_test.py
Owners: @AgnostiqHQ/aq-engineers

removed TG size printing
  CHANGELOG.md
  covalent/_workflow/lattice.py
Owners: @AgnostiqHQ/aq-engineers

added transport.py tests
  tests/covalent_tests/workflow/transport_test.py
Owners: @AgnostiqHQ/aq-engineers

added tests for electron file changes
  covalent/_workflow/electron.py
  tests/covalent_tests/workflow/electron_test.py
  tests/covalent_tests/workflow/transport_test.py
Owners: @AgnostiqHQ/aq-engineers

Reduce the number of assets to upload during dispatch (#1879)
  CHANGELOG.md
  covalent/_dispatcher_plugins/local.py
  covalent/_results_manager/result.py
  covalent/_results_manager/results_manager.py
  covalent/_serialize/common.py
  covalent/_serialize/electron.py
  covalent/_serialize/lattice.py
  covalent/_shared_files/schemas/asset.py
  covalent/executor/executor_plugins/dask.py
  covalent/executor/executor_plugins/local.py
  covalent/executor/utils/wrappers.py
  covalent_dispatcher/_core/data_modules/asset_manager.py
  covalent_dispatcher/_dal/asset.py
  covalent_dispatcher/_dal/base.py
  covalent_dispatcher/_db/upsert.py
  covalent_dispatcher/_object_store/base.py
  covalent_dispatcher/_object_store/local.py
  covalent_dispatcher/_service/assets.py
  covalent_ui/api/v1/routes/end_points/electron_routes.py
  tests/covalent_dispatcher_tests/_core/data_modules/asset_manager_db_integration_test.py
  tests/covalent_dispatcher_tests/_core/runner_ng_test.py
  tests/covalent_dispatcher_tests/_dal/asset_test.py
  tests/covalent_dispatcher_tests/_dal/electron_test.py
  tests/covalent_dispatcher_tests/_dal/importers/result_import_test.py
  tests/covalent_dispatcher_tests/_db/update_test.py
  tests/covalent_dispatcher_tests/_db/upsert_test.py
  tests/covalent_dispatcher_tests/_object_store/local_test.py
  tests/covalent_tests/dispatcher_plugins/local_test.py
  tests/covalent_tests/executor/executor_plugins/dask_test.py
  tests/functional_tests/local_executor_test.py
  tests/functional_tests/workflow_stack_test.py
Owners: @AgnostiqHQ/aq-engineers

fixed tests
  covalent/_workflow/transport.py
  tests/covalent_tests/workflow/transport_test.py
Owners: @AgnostiqHQ/aq-engineers

fixing more tests
  tests/covalent_tests/workflow/electron_test.py
Owners: @AgnostiqHQ/aq-engineers

Minor fixes encountered recently
  covalent/__init__.py
  covalent/_shared_files/schemas/electron.py
  covalent/_shared_files/schemas/lattice.py
  covalent/_workflow/transport.py
  requirements-client.txt
Owners: @AgnostiqHQ/aq-engineers

changelog updated
  CHANGELOG.md
Owners: none

removed import error suppression from covalent init for qelectrons
  covalent/__init__.py
Owners: @AgnostiqHQ/aq-engineers

Minor fixes to pydantic models (#1884)
  CHANGELOG.md
  covalent/_shared_files/schemas/electron.py
  covalent/_shared_files/schemas/lattice.py
  covalent/_workflow/transport.py
  requirements-client.txt
Owners: @AgnostiqHQ/aq-engineers

Adding Module Dependencies feature (#1876)
  CHANGELOG.md
  covalent/__init__.py
  covalent/_workflow/__init__.py
  covalent/_workflow/depscall.py
  covalent/_workflow/depsmodule.py
  covalent/_workflow/electron.py
  covalent/_workflow/lattice.py
  covalent/_workflow/postprocessing.py
  covalent/_workflow/transport.py
  tests/covalent_tests/workflow/electron_test.py
  tests/covalent_tests/workflow/transport_test.py
Owners: @AgnostiqHQ/aq-engineers

added version assigner to release
  .github/workflows/release.yml
Owners: @AgnostiqHQ/aq-managers

fixed some stuff
  .github/workflows/release.yml
  VERSION
Owners: @AgnostiqHQ/aq-managers

fixed some stuff
  .github/workflows/release.yml
Owners: @AgnostiqHQ/aq-managers

fixed some stuff
  .github/workflows/release.yml
Owners: @AgnostiqHQ/aq-managers

fixed some stuff
  .github/workflows/release.yml
Owners: @AgnostiqHQ/aq-managers

Coverage improvements on core
  tests/covalent_tests/cloud_resource_manager/core_test.py
Owners: @AgnostiqHQ/aq-engineers

Update README.md
  README.md
Owners: @AgnostiqHQ/aq-engineers

Unbreak task packing
  .github/workflows/tests.yml
  CHANGELOG.md
  covalent_dispatcher/_core/dispatcher.py
Owners: @AgnostiqHQ/aq-managers, @AgnostiqHQ/aq-engineers

Fix file transfer test
  tests/functional_tests/file_transfer_test.py
Owners: @AgnostiqHQ/aq-engineers

minor fixes to result attributes
  covalent/_serialize/common.py
Owners: @AgnostiqHQ/aq-engineers

minor fixes
  CHANGELOG.md
  VERSION
Owners: none
