Repository AgnostiqHQ/covalent, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AgnostiqHQ/aq-engineers, @santoshkumarradha, @mshkanth, @Prasy12, @AgnostiqHQ/aq-managers

.github/CODEOWNERS:

# Copyright 2021 Agnostiq Inc.
#
# This file is part of Covalent.
#
# Licensed under the Apache License 2.0 (the "License"). A copy of the
# License may be obtained with this software package or at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Use of this file is prohibited except in compliance with the License.
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# CODEOWNERS

# Core code, docs, and tests are owned by the Agnostiq engineering team.
/covalent/		@AgnostiqHQ/aq-engineers
/covalent_dispatcher/	@AgnostiqHQ/aq-engineers
/doc/			@santoshkumarradha
/tests/			@AgnostiqHQ/aq-engineers
.flake8			@AgnostiqHQ/aq-engineers
.gitignore		@AgnostiqHQ/aq-engineers
.pre-commit-config.yaml	@AgnostiqHQ/aq-engineers
.prettierrc 		@AgnostiqHQ/aq-engineers
.pylintrc 		@AgnostiqHQ/aq-engineers
.readthedocs.yaml 	@AgnostiqHQ/aq-engineers
.wci.yaml 		@AgnostiqHQ/aq-engineers
CODE_OF_CONDUCT.md 	@AgnostiqHQ/aq-engineers
CONTRIBUTING.md 	@AgnostiqHQ/aq-engineers
README.md 		@AgnostiqHQ/aq-engineers
pyproject.toml 		@AgnostiqHQ/aq-engineers

# Covalent UI is owned by collaborators from Psiog.
/covalent_ui/**/*.js 		@mshkanth @Prasy12

# Modifying these requires additional approval.
Dockerfile		@AgnostiqHQ/aq-managers
.github/**		@AgnostiqHQ/aq-managers
LICENSE			@AgnostiqHQ/aq-managers
MANIFEST.in		@AgnostiqHQ/aq-managers
meta.yaml		@AgnostiqHQ/aq-managers
**/requirements.txt	@AgnostiqHQ/aq-managers
setup.py		@AgnostiqHQ/aq-managers
Makefile 		@AgnostiqHQ/aq-managers

more changes for CI tests
  tests/covalent_tests/cloud_resource_manager/core_test.py
Owners: @AgnostiqHQ/aq-engineers

complete coverage for test_tf_version_error
  tests/covalent_tests/cloud_resource_manager/core_test.py
Owners: @AgnostiqHQ/aq-engineers

rename to avoid module vs. function conflict
  covalent_dispatcher/_cli/groups/__init__.py
  covalent_dispatcher/_cli/groups/db_group.py
  covalent_dispatcher/_cli/groups/deploy_group.py
  covalent_dispatcher/_cli/groups/deploy_group_print_callbacks.py
  tests/covalent_dispatcher_tests/_cli/cli_test.py
  tests/covalent_dispatcher_tests/_cli/groups/db_test.py
Owners: @AgnostiqHQ/aq-engineers

add comment
  covalent_dispatcher/_cli/groups/deploy_group.py
Owners: @AgnostiqHQ/aq-engineers

add tests for deploy up, down, status
  tests/covalent_dispatcher_tests/_cli/cli_test.py
Owners: @AgnostiqHQ/aq-engineers

fix typo
  tests/covalent_dispatcher_tests/_cli/cli_test.py
Owners: @AgnostiqHQ/aq-engineers

fix paths since rename
  tests/covalent_dispatcher_tests/_cli/groups/db_test.py
Owners: @AgnostiqHQ/aq-engineers

use importlib for right path of -e install (awsbatch issue)
  covalent_dispatcher/_cli/groups/deploy_group.py
Owners: @AgnostiqHQ/aq-engineers

Modifying CI to be more interactive
  .github/workflows/man_0_assign_version.yml
  .github/workflows/man_1_push_to_master.yml
  .github/workflows/man_2_create_release.yml
  .github/workflows/nightly-tests.yml
  .github/workflows/nightly.yml
  .github/workflows/tests.yml
Owners: @AgnostiqHQ/aq-managers

removed conda release
  .github/workflows/release.yml
Owners: @AgnostiqHQ/aq-managers

added on trigger and warning description
  .github/workflows/man_0_assign_version.yml
  .github/workflows/man_1_push_to_master.yml
  .github/workflows/man_2_create_release.yml
Owners: @AgnostiqHQ/aq-managers

added the create release workflow as well
  .github/workflows/man_0_assign_version.yml
  .github/workflows/man_2_create_release.yml
Owners: @AgnostiqHQ/aq-managers

updated changelog
  .github/workflows/man_0_assign_version.yml
  .github/workflows/man_1_push_to_master.yml
  .github/workflows/man_2_create_release.yml
  .github/workflows/nightly-tests.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  CHANGELOG.md
Owners: @AgnostiqHQ/aq-managers

Capture terraform errors from deploy command, use scrolling buffer (#1868)
  CHANGELOG.md
  covalent/cloud_resource_manager/core.py
  covalent_dispatcher/_cli/groups/__init__.py
  covalent_dispatcher/_cli/groups/db_group.py
  covalent_dispatcher/_cli/groups/deploy_group.py
  covalent_dispatcher/_cli/groups/deploy_group_print_callbacks.py
  tests/covalent_dispatcher_tests/_cli/cli_test.py
  tests/covalent_dispatcher_tests/_cli/groups/db_test.py
  tests/covalent_tests/cloud_resource_manager/core_test.py
Owners: @AgnostiqHQ/aq-engineers

temp changes to make a pre-release
  .github/workflows/release.yml
Owners: @AgnostiqHQ/aq-managers

updated workflows
  .github/workflows/man_1_push_to_master.yml
  .github/workflows/man_2_create_release.yml
Owners: @AgnostiqHQ/aq-managers

Retry on RecursionError
  covalent/_results_manager/results_manager.py
  tests/covalent_tests/results_manager_tests/results_manager_test.py
Owners: @AgnostiqHQ/aq-engineers

patch executor manager to ignore extra plugins
  tests/covalent_dispatcher_tests/_cli/cli_test.py
Owners: @AgnostiqHQ/aq-engineers

update changelog
  CHANGELOG.md
Owners: none

Patch executor manager to ignore extra plugins discovered during CI tests (#1870)
  CHANGELOG.md
  tests/covalent_dispatcher_tests/_cli/cli_test.py
Owners: @AgnostiqHQ/aq-engineers

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

added retry mechanism to uploading to codecov
  .github/workflows/tests.yml
  .github/workflows/upload_to_codecov_with_retry.yml
Owners: @AgnostiqHQ/aq-managers

The new version will be 0.232.0-rc.0
  CHANGELOG.md
  VERSION
Owners: none

using pre-release version from workflow dispatch
  .github/workflows/release.yml
Owners: @AgnostiqHQ/aq-managers

removed a saas only result function
  covalent/_results_manager/result.py
Owners: @AgnostiqHQ/aq-engineers

made python version and covalent version fields optional in lattice metadata schema
  covalent/_shared_files/schemas/lattice.py
Owners: @AgnostiqHQ/aq-engineers

made some fields optional due to cloud server
  covalent/_shared_files/schemas/electron.py
  covalent/_workflow/transport.py
Owners: @AgnostiqHQ/aq-engineers

[Not for merge] Testing behavior of `cloudpickle` 3.0.0
  requirements.txt
Owners: @AgnostiqHQ/aq-managers

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

[Not for merge] Find out where QEDevice.operations is being used
  covalent/_workflow/qdevice.py
Owners: @AgnostiqHQ/aq-engineers

Update requirements.txt
  requirements.txt
Owners: @AgnostiqHQ/aq-managers

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

Update requirements.txt
  requirements.txt
Owners: @AgnostiqHQ/aq-managers

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

Remove duplicate `boto3` requirement
  tests/requirements.txt
Owners: @AgnostiqHQ/aq-managers

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

Feedback changes for rearrangement of some images
  README.md
  doc/source/_static/ai_tutorial.svg
  doc/source/_static/quantum_tutorial.svg
Owners: @AgnostiqHQ/aq-engineers, @santoshkumarradha

Redirection changes based on feedback
  README.md
  doc/source/_static/cloud_hosted.svg
  doc/source/_static/onprem_hosted.svg
Owners: @AgnostiqHQ/aq-engineers, @santoshkumarradha

Resizing the executor gif
  doc/source/_static/executor.gif
Owners: @santoshkumarradha

Reducing the executor gif size
  doc/source/_static/executor.gif
Owners: @santoshkumarradha
