Repository AgnostiqHQ/covalent, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AgnostiqHQ/aq-engineers, @santoshkumarradha, @mshkanth, @Prasy12, @AgnostiqHQ/aq-managers

.github/CODEOWNERS:

# Copyright 2021 Agnostiq Inc.
#
# This file is part of Covalent.
#
# Licensed under the Apache License 2.0 (the "License"). A copy of the
# License may be obtained with this software package or at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Use of this file is prohibited except in compliance with the License.
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# CODEOWNERS

# Core code, docs, and tests are owned by the Agnostiq engineering team.
/covalent/		@AgnostiqHQ/aq-engineers
/covalent_dispatcher/	@AgnostiqHQ/aq-engineers
/doc/			@santoshkumarradha
/tests/			@AgnostiqHQ/aq-engineers
.flake8			@AgnostiqHQ/aq-engineers
.gitignore		@AgnostiqHQ/aq-engineers
.pre-commit-config.yaml	@AgnostiqHQ/aq-engineers
.prettierrc 		@AgnostiqHQ/aq-engineers
.pylintrc 		@AgnostiqHQ/aq-engineers
.readthedocs.yaml 	@AgnostiqHQ/aq-engineers
.wci.yaml 		@AgnostiqHQ/aq-engineers
CODE_OF_CONDUCT.md 	@AgnostiqHQ/aq-engineers
CONTRIBUTING.md 	@AgnostiqHQ/aq-engineers
README.md 		@AgnostiqHQ/aq-engineers
pyproject.toml 		@AgnostiqHQ/aq-engineers

# Covalent UI is owned by collaborators from Psiog.
/covalent_ui/**/*.js 		@mshkanth @Prasy12

# Modifying these requires additional approval.
Dockerfile		@AgnostiqHQ/aq-managers
.github/**		@AgnostiqHQ/aq-managers
LICENSE			@AgnostiqHQ/aq-managers
MANIFEST.in		@AgnostiqHQ/aq-managers
meta.yaml		@AgnostiqHQ/aq-managers
**/requirements.txt	@AgnostiqHQ/aq-managers
setup.py		@AgnostiqHQ/aq-managers
Makefile 		@AgnostiqHQ/aq-managers

asset split lambda fixes
  covalent/executor/__init__.py
  covalent/executor/qbase.py
  covalent/quantum/qcluster/base.py
Owners: @AgnostiqHQ/aq-engineers

fixed serialization of output
  covalent/_serialize/common.py
Owners: @AgnostiqHQ/aq-engineers

updated changelog
  CHANGELOG.md
  VERSION
Owners: none

fixing tests
  tests/functional_tests/file_transfer_test.py
Owners: @AgnostiqHQ/aq-engineers

updated changelog
  CHANGELOG.md
Owners: none

limiting cloudpickle
  requirements.txt
Owners: @AgnostiqHQ/aq-managers

trying to limit cloudpickle
  requirements.txt
Owners: @AgnostiqHQ/aq-managers

Assets: support range requests for alt representations
  CHANGELOG.md
  covalent_dispatcher/_service/assets.py
  tests/covalent_dispatcher_tests/_service/assets_test.py
Owners: @AgnostiqHQ/aq-engineers

move line to satisfy ci test
  CHANGELOG.md
Owners: none

1539 inevitable recursion error from inside get result (#1859)
  CHANGELOG.md
  covalent/_results_manager/results_manager.py
  tests/covalent_tests/results_manager_tests/results_manager_test.py
Owners: @AgnostiqHQ/aq-engineers

Coverage improvements on deploy group and added cases for tf error validate
  tests/covalent_dispatcher_tests/_cli/groups/__init__.py
  tests/covalent_dispatcher_tests/_cli/groups/deploy_group_test.py
  tests/covalent_tests/cloud_resource_manager/core_test.py
Owners: @AgnostiqHQ/aq-engineers

Update README.md
  README.md
Owners: @AgnostiqHQ/aq-engineers

added in deployment
  README.md
  doc/source/_static/cloud_hosted.svg
  doc/source/_static/local-laptop.svg
  doc/source/_static/onprem_hosted.svg
Owners: @AgnostiqHQ/aq-engineers, @santoshkumarradha

Removed comments
  tests/covalent_tests/cloud_resource_manager/core_test.py
Owners: @AgnostiqHQ/aq-engineers

Modified changelog
  CHANGELOG.md
Owners: none

update
  README.md
Owners: @AgnostiqHQ/aq-engineers

update
  README.md
Owners: @AgnostiqHQ/aq-engineers

update
  README.md
Owners: @AgnostiqHQ/aq-engineers

update
  README.md
Owners: @AgnostiqHQ/aq-engineers

update
  README.md
Owners: @AgnostiqHQ/aq-engineers

update
  README.md
Owners: @AgnostiqHQ/aq-engineers

update
  README.md
Owners: @AgnostiqHQ/aq-engineers

update
  README.md
Owners: @AgnostiqHQ/aq-engineers

update
  README.md
Owners: @AgnostiqHQ/aq-engineers

update simple
  README.md
Owners: @AgnostiqHQ/aq-engineers

update
  README.md
Owners: @AgnostiqHQ/aq-engineers

update
  README.md
  doc/source/_static/abstract_infra.png
Owners: @AgnostiqHQ/aq-engineers, @santoshkumarradha

update
  README.md
  doc/source/_static/executors_ship.png
Owners: @AgnostiqHQ/aq-engineers, @santoshkumarradha

update
  README.md
Owners: @AgnostiqHQ/aq-engineers

Update README.md
  README.md
Owners: @AgnostiqHQ/aq-engineers

Update cloudpickle reqs for SDK-only install
  CHANGELOG.md
  requirements-client.txt
Owners: none

Don't limit cloudpickle
  requirements-client.txt
  requirements.txt
Owners: @AgnostiqHQ/aq-managers

Fix FT
  tests/functional_tests/file_transfer_test.py
Owners: @AgnostiqHQ/aq-engineers

Improve APIClient and handling of sublattice dispatches
  covalent/_api/apiclient.py
  covalent/_dispatcher_plugins/local.py
  covalent/_workflow/electron.py
Owners: @AgnostiqHQ/aq-engineers

Fix FT
  tests/functional_tests/file_transfer_test.py
Owners: @AgnostiqHQ/aq-engineers

Removed commented lines and added Tests header
  CHANGELOG.md
  tests/covalent_tests/cloud_resource_manager/core_test.py
Owners: @AgnostiqHQ/aq-engineers

Improve APIClient and handling of sublattice dispatches
  covalent/_api/apiclient.py
  covalent/_dispatcher_plugins/local.py
  covalent/_workflow/electron.py
  tests/covalent_tests/api/apiclient_test.py
  tests/covalent_tests/workflow/electron_test.py
Owners: @AgnostiqHQ/aq-engineers

Fixing failing tests (#1888)
  CHANGELOG.md
  tests/functional_tests/file_transfer_test.py
Owners: @AgnostiqHQ/aq-engineers

fixed some file transfer notebooks
  doc/source/how_to/coding/file_transfers_for_workflows_from_remote.ipynb
  doc/source/how_to/coding/file_transfers_for_workflows_local.ipynb
  doc/source/how_to/coding/file_transfers_to_from_s3.ipynb
Owners: @santoshkumarradha

removing some more redundant notebooks
  doc/source/how_to/coding/file_transfers_for_workflows_to_remote.ipynb
  doc/source/how_to/coding/file_transfers_to_from_remote.ipynb
  doc/source/how_to/coding/file_transfers_to_remote.ipynb
Owners: @santoshkumarradha
