Repository AgnostiqHQ/covalent, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AgnostiqHQ/aq-engineers, @santoshkumarradha, @mshkanth, @Prasy12, @AgnostiqHQ/aq-managers

create global var for timeout
  covalent/_programmatic/commands.py
Owners: @AgnostiqHQ/aq-engineers

use mock start and stop commands
  tests/covalent_tests/programmatic/commands_test.py
Owners: @AgnostiqHQ/aq-engineers

Fix for editing of Qelectron on settings page (#1858)
  CHANGELOG.md
  covalent_ui/webapp/src/components/settings/SettingsCard.js
Owners: @mshkanth, @Prasy12

Stabilizing changes (#1856)
  CHANGELOG.md
  covalent/_serialize/transport_graph.py
  covalent/_shared_files/qinfo.py
  covalent/_shared_files/schemas/edge.py
  covalent/_shared_files/schemas/electron.py
  covalent/_shared_files/schemas/lattice.py
  covalent/_workflow/electron.py
  covalent/_workflow/lattice.py
  covalent/_workflow/transport.py
  covalent/executor/qbase.py
  covalent/executor/schemas.py
  covalent/quantum/qcluster/base.py
  covalent/quantum/qcluster/simulator.py
  covalent_dispatcher/_service/models.py
  covalent_ui/api/v1/models/dispatch_model.py
  covalent_ui/api/v1/models/electrons_model.py
  covalent_ui/api/v1/models/logs_model.py
  covalent_ui/api/v1/routes/end_points/summary_routes.py
  requirements-client.txt
  requirements.txt
  tests/covalent_ui_backend_tests/end_points/electrons_test.py
Owners: @AgnostiqHQ/aq-engineers, @AgnostiqHQ/aq-managers

Executor resource deployment UX implementation (#1617)
  CHANGELOG.md
  covalent/cloud_resource_manager/core.py
  covalent_dispatcher/_cli/cli.py
  covalent_dispatcher/_cli/groups/__init__.py
  covalent_dispatcher/_cli/groups/deploy.py
  tests/covalent_dispatcher_tests/_cli/cli_test.py
  tests/covalent_tests/cloud_resource_manager/core_test.py
Owners: @AgnostiqHQ/aq-engineers

more frequent nightlies
  .github/workflows/nightly.yml
  CHANGELOG.md
Owners: @AgnostiqHQ/aq-managers

more frequent nightlies (#1862)
  .github/workflows/nightly.yml
  CHANGELOG.md
Owners: @AgnostiqHQ/aq-managers

renamed server check function and added import error check tests
  covalent/__init__.py
  covalent/_programmatic/commands.py
  doc/source/api/api.rst
  tests/covalent_tests/programmatic/commands_test.py
Owners: @AgnostiqHQ/aq-engineers, @santoshkumarradha

enabling centos and macos tests
  .github/workflows/test_matrix.json
Owners: @AgnostiqHQ/aq-managers

removing centos from the test matrix
  .github/workflows/test_matrix.json
Owners: @AgnostiqHQ/aq-managers

None wasn't an acceptable value to redirect_stdout
  covalent/_programmatic/commands.py
Owners: @AgnostiqHQ/aq-engineers

stripping unneeded tests
  .github/workflows/test_matrix.json
  .github/workflows/tests.yml
Owners: @AgnostiqHQ/aq-managers

further stripping tests
  .github/workflows/tests.yml
Owners: @AgnostiqHQ/aq-managers

fixed tests
  tests/covalent_dispatcher_tests/_dal/asset_test.py
Owners: @AgnostiqHQ/aq-engineers

enabling the workflows back again since now its working
  .github/workflows/tests.yml
Owners: @AgnostiqHQ/aq-managers

updated changelog
  CHANGELOG.md
Owners: none

updated permissions tag in the nightly and release workflows
  .github/workflows/nightly.yml
  .github/workflows/release.yml
Owners: @AgnostiqHQ/aq-managers

refactor to use subprocess
  covalent/_programmatic/commands.py
Owners: @AgnostiqHQ/aq-engineers

refactor as multiple tests w/ patched start/stop
  covalent/_programmatic/commands.py
  tests/covalent_tests/programmatic/commands_test.py
Owners: @AgnostiqHQ/aq-engineers

add nopycln inside new tests
  tests/covalent_tests/programmatic/commands_test.py
Owners: @AgnostiqHQ/aq-engineers

removing macos test from PR trigger
  .github/workflows/test_matrix.json
Owners: @AgnostiqHQ/aq-managers

Fixing nightly (#1863)
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  .github/workflows/test_matrix.json
  .github/workflows/tests.yml
  CHANGELOG.md
  tests/covalent_dispatcher_tests/_dal/asset_test.py
Owners: @AgnostiqHQ/aq-managers, @AgnostiqHQ/aq-engineers

renaming things a bit
  covalent/_programmatic/commands.py
  tests/covalent_tests/programmatic/commands_test.py
Owners: @AgnostiqHQ/aq-engineers

Expose programmatic equivalent of CLI commands (#1854)
  .github/workflows/requirements.yml
  CHANGELOG.md
  covalent/__init__.py
  covalent/_programmatic/__init__.py
  covalent/_programmatic/commands.py
  doc/source/api/api.rst
  tests/covalent_tests/programmatic/__init__.py
  tests/covalent_tests/programmatic/commands_test.py
Owners: @AgnostiqHQ/aq-managers, @AgnostiqHQ/aq-engineers, @santoshkumarradha

The new version will be 0.230.0-rc.0
  CHANGELOG.md
  VERSION
Owners: none

Remove upper bound on pennylane
  requirements.txt
Owners: @AgnostiqHQ/aq-managers

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

Update requirements.txt
  tests/requirements.txt
Owners: @AgnostiqHQ/aq-managers

Update requirements.txt
  requirements.txt
Owners: @AgnostiqHQ/aq-managers

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

Update requirements.txt
  requirements.txt
Owners: @AgnostiqHQ/aq-managers

Change `pennylane==0.33.1` to `pennylane>=0.31.1,<0.33.0` and remove redundant version from `tests/requirements.txt` (#1864)
  CHANGELOG.md
  requirements.txt
  tests/requirements.txt
Owners: @AgnostiqHQ/aq-managers

fixing the SDK only installs
  covalent/__init__.py
  covalent/_shared_files/utils.py
  covalent/executor/__init__.py
  covalent/executor/utils/wrappers.py
  covalent/triggers/database_trigger.py
  requirements-client.txt
Owners: @AgnostiqHQ/aq-engineers

check for bash OR sh
  covalent/_workflow/lepton.py
Owners: @AgnostiqHQ/aq-engineers

update changelog
  CHANGELOG.md
Owners: none

clarify error message
  covalent/_workflow/lepton.py
Owners: @AgnostiqHQ/aq-engineers

.github/CODEOWNERS:

# Copyright 2021 Agnostiq Inc.
#
# This file is part of Covalent.
#
# Licensed under the Apache License 2.0 (the "License"). A copy of the
# License may be obtained with this software package or at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Use of this file is prohibited except in compliance with the License.
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# CODEOWNERS

# Core code, docs, and tests are owned by the Agnostiq engineering team.
/covalent/		@AgnostiqHQ/aq-engineers
/covalent_dispatcher/	@AgnostiqHQ/aq-engineers
/doc/			@santoshkumarradha
/tests/			@AgnostiqHQ/aq-engineers
.flake8			@AgnostiqHQ/aq-engineers
.gitignore		@AgnostiqHQ/aq-engineers
.pre-commit-config.yaml	@AgnostiqHQ/aq-engineers
.prettierrc 		@AgnostiqHQ/aq-engineers
.pylintrc 		@AgnostiqHQ/aq-engineers
.readthedocs.yaml 	@AgnostiqHQ/aq-engineers
.wci.yaml 		@AgnostiqHQ/aq-engineers
CODE_OF_CONDUCT.md 	@AgnostiqHQ/aq-engineers
CONTRIBUTING.md 	@AgnostiqHQ/aq-engineers
README.md 		@AgnostiqHQ/aq-engineers
pyproject.toml 		@AgnostiqHQ/aq-engineers

# Covalent UI is owned by collaborators from Psiog.
/covalent_ui/**/*.js 		@mshkanth @Prasy12

# Modifying these requires additional approval.
Dockerfile		@AgnostiqHQ/aq-managers
.github/**		@AgnostiqHQ/aq-managers
LICENSE			@AgnostiqHQ/aq-managers
MANIFEST.in		@AgnostiqHQ/aq-managers
meta.yaml		@AgnostiqHQ/aq-managers
**/requirements.txt	@AgnostiqHQ/aq-managers
setup.py		@AgnostiqHQ/aq-managers
Makefile 		@AgnostiqHQ/aq-managers
