Repository AgnostiqHQ/covalent, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AgnostiqHQ/aq-engineers, @santoshkumarradha, @mshkanth, @Prasy12, @AgnostiqHQ/aq-managers

fixed to-from remote FT notebook
  doc/source/how_to/coding/file_transfers_to_from_remote.ipynb
  doc/source/how_to/coding/processed_file.png
Owners: @santoshkumarradha

fixed azure blob and gcp storage FT notebooks
  doc/source/how_to/coding/file_transfers_to_from_azure_blob.ipynb
  doc/source/how_to/coding/file_transfers_to_from_gcp_storage.ipynb
Owners: @santoshkumarradha

fixed and tested gcp storage FT notebook
  covalent/_file_transfer/strategies/gcloud_strategy.py
  doc/source/how_to/coding/file_transfers_to_from_gcp_storage.ipynb
Owners: @AgnostiqHQ/aq-engineers, @santoshkumarradha

updated changelog
  CHANGELOG.md
Owners: none

Results manager get_all_results implementation
  covalent/_results_manager/results_manager.py
Owners: @AgnostiqHQ/aq-engineers

Revert "Results manager get_all_results implementation"
  covalent/_results_manager/results_manager.py
Owners: @AgnostiqHQ/aq-engineers

Get all Results implementation
  covalent/_results_manager/results_manager.py
Owners: @AgnostiqHQ/aq-engineers

made sure DirTrigger is working as expected
  doc/source/how_to/execution/trigger_dir.ipynb
Owners: @santoshkumarradha

The new version will be 0.233.0-rc.0
  CHANGELOG.md
  VERSION
Owners: none

fixed database trigger notebook
  doc/source/how_to/execution/trigger_database.ipynb
  doc/source/how_to/execution/trigger_dir.ipynb
Owners: @santoshkumarradha

updated changelog
  CHANGELOG.md
Owners: none

updated dynamic quantum chemistry tutorial
  doc/source/tutorials/3_QuantumChemistry/dynamic_quantum_chemistry/requirements.txt
  doc/source/tutorials/3_QuantumChemistry/dynamic_quantum_chemistry/source.ipynb
Owners: @AgnostiqHQ/aq-managers, @santoshkumarradha

updated mac requirements to the tutorial
  doc/source/tutorials/3_QuantumChemistry/dynamic_quantum_chemistry/source.ipynb
Owners: @santoshkumarradha

fixed draw method and verified notebook
  covalent_dispatcher/_db/dispatchdb.py
  doc/source/tutorials/3_QuantumChemistry/nitrogen_copper_interaction/source.ipynb
Owners: @AgnostiqHQ/aq-engineers, @santoshkumarradha

added instruction to nitrogen-cu notebook for numpy
  doc/source/tutorials/3_QuantumChemistry/nitrogen_copper_interaction/source.ipynb
Owners: @santoshkumarradha

removed pennylane from requirements of the tutorials
  doc/source/tutorials/1_QuantumMachineLearning/pennylane_ensemble_classification/assets/requirements.txt
  doc/source/tutorials/1_QuantumMachineLearning/pennylane_hybrid/requirements.txt
  doc/source/tutorials/1_QuantumMachineLearning/pennylane_iris_classification/requirements.txt
  doc/source/tutorials/1_QuantumMachineLearning/pennylane_kernel/requirements.txt
  doc/source/tutorials/1_QuantumMachineLearning/pennylane_parity_classifier/requirements.txt
  doc/source/tutorials/1_QuantumMachineLearning/qaoa_maxcut/requirements.txt
  doc/source/tutorials/1_QuantumMachineLearning/quantum_embedding_kernel/requirements.txt
Owners: @AgnostiqHQ/aq-managers

removed unneeded notebook
  doc/source/tutorials/1_QuantumMachineLearning/pennylane_ensemble_classification/source-jvsc-b1861ceb-413c-44fd-9049-76f027265d183c7f2d69-2f7c-43b9-9202-d5b51c50bb22.ipynb
Owners: @santoshkumarradha

updated cloudpickle since 3 is not compatible with 2
  requirements.txt
Owners: @AgnostiqHQ/aq-managers

removed cloudpickle upperbound
  requirements.txt
Owners: @AgnostiqHQ/aq-managers

updated changelog
  CHANGELOG.md
Owners: none

Fixing notebooks (#1900)
  CHANGELOG.md
  covalent/_file_transfer/strategies/gcloud_strategy.py
  covalent_dispatcher/_db/dispatchdb.py
  doc/source/how_to/coding/file_transfers_for_workflows_from_remote.ipynb
  doc/source/how_to/coding/file_transfers_for_workflows_local.ipynb
  doc/source/how_to/coding/file_transfers_for_workflows_to_remote.ipynb
  doc/source/how_to/coding/file_transfers_to_from_azure_blob.ipynb
  doc/source/how_to/coding/file_transfers_to_from_gcp_storage.ipynb
  doc/source/how_to/coding/file_transfers_to_from_remote.ipynb
  doc/source/how_to/coding/file_transfers_to_from_s3.ipynb
  doc/source/how_to/coding/file_transfers_to_remote.ipynb
  doc/source/how_to/coding/processed_file.png
  doc/source/how_to/execution/trigger_database.ipynb
  doc/source/how_to/execution/trigger_dir.ipynb
  doc/source/tutorials/1_QuantumMachineLearning/pennylane_ensemble_classification/assets/requirements.txt
  doc/source/tutorials/1_QuantumMachineLearning/pennylane_ensemble_classification/source-jvsc-b1861ceb-413c-44fd-9049-76f027265d183c7f2d69-2f7c-43b9-9202-d5b51c50bb22.ipynb
  doc/source/tutorials/1_QuantumMachineLearning/pennylane_hybrid/requirements.txt
  doc/source/tutorials/1_QuantumMachineLearning/pennylane_iris_classification/requirements.txt
  doc/source/tutorials/1_QuantumMachineLearning/pennylane_kernel/requirements.txt
  doc/source/tutorials/1_QuantumMachineLearning/pennylane_parity_classifier/requirements.txt
  doc/source/tutorials/1_QuantumMachineLearning/qaoa_maxcut/requirements.txt
  doc/source/tutorials/1_QuantumMachineLearning/quantum_embedding_kernel/requirements.txt
  doc/source/tutorials/3_QuantumChemistry/dynamic_quantum_chemistry/requirements.txt
  doc/source/tutorials/3_QuantumChemistry/dynamic_quantum_chemistry/source.ipynb
  doc/source/tutorials/3_QuantumChemistry/nitrogen_copper_interaction/source.ipynb
Owners: @AgnostiqHQ/aq-engineers, @santoshkumarradha, @AgnostiqHQ/aq-managers

updated gif
  README.md
  doc/source/_static/banner_executor.gif
Owners: @AgnostiqHQ/aq-engineers, @santoshkumarradha

update
  README.md
Owners: @AgnostiqHQ/aq-engineers

update
  README.md
Owners: @AgnostiqHQ/aq-engineers

updated version
  VERSION
Owners: none

doing a prerelease for now
  .github/workflows/release.yml
Owners: @AgnostiqHQ/aq-managers

Update VERSION
  VERSION
Owners: none

Add voice cloning tutorial
  CHANGELOG.md
  doc/source/tutorials/tutorials.rst
  doc/source/tutorials/voice_cloning/Dockerfile_gcp
  doc/source/tutorials/voice_cloning/requirements.txt
  doc/source/tutorials/voice_cloning/source.ipynb
Owners: @santoshkumarradha, @AgnostiqHQ/aq-managers

update
  README.md
  doc/source/_static/serverless-illustration.png
Owners: @AgnostiqHQ/aq-engineers, @santoshkumarradha

updated gif
  doc/source/_static/banner_executor.gif
Owners: @santoshkumarradha

update
  README.md
Owners: @AgnostiqHQ/aq-engineers

Add gifs
  doc/source/tutorials/voice_cloning/assets/streamlit_gcp.gif
  doc/source/tutorials/voice_cloning/assets/workflow.gif
  doc/source/tutorials/voice_cloning/source.ipynb
Owners: @santoshkumarradha

Add voice cloning tutorial (#1903)
  CHANGELOG.md
  doc/source/tutorials/tutorials.rst
  doc/source/tutorials/voice_cloning/Dockerfile_gcp
  doc/source/tutorials/voice_cloning/assets/streamlit_gcp.gif
  doc/source/tutorials/voice_cloning/assets/workflow.gif
  doc/source/tutorials/voice_cloning/requirements.txt
  doc/source/tutorials/voice_cloning/source.ipynb
Owners: @santoshkumarradha, @AgnostiqHQ/aq-managers

Update README.md
  README.md
Owners: @AgnostiqHQ/aq-engineers

Update README.md
  README.md
Owners: @AgnostiqHQ/aq-engineers

updated changelog
  CHANGELOG.md
Owners: none

fixed deploy commands failing in case of non-deployable plugin installation
  CHANGELOG.md
  covalent_dispatcher/_cli/groups/deploy_group.py
Owners: @AgnostiqHQ/aq-engineers

fixed cli test
  tests/covalent_dispatcher_tests/_cli/cli_test.py
Owners: @AgnostiqHQ/aq-engineers

fixed cli test
  CHANGELOG.md
  tests/covalent_dispatcher_tests/_cli/cli_test.py
Owners: @AgnostiqHQ/aq-engineers

Fixed deploy command failure (#1915)
  CHANGELOG.md
  covalent_dispatcher/_cli/groups/deploy_group.py
  tests/covalent_dispatcher_tests/_cli/cli_test.py
Owners: @AgnostiqHQ/aq-engineers

.github/CODEOWNERS:

# Copyright 2021 Agnostiq Inc.
#
# This file is part of Covalent.
#
# Licensed under the Apache License 2.0 (the "License"). A copy of the
# License may be obtained with this software package or at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Use of this file is prohibited except in compliance with the License.
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# CODEOWNERS

# Core code, docs, and tests are owned by the Agnostiq engineering team.
/covalent/		@AgnostiqHQ/aq-engineers
/covalent_dispatcher/	@AgnostiqHQ/aq-engineers
/doc/			@santoshkumarradha
/tests/			@AgnostiqHQ/aq-engineers
.flake8			@AgnostiqHQ/aq-engineers
.gitignore		@AgnostiqHQ/aq-engineers
.pre-commit-config.yaml	@AgnostiqHQ/aq-engineers
.prettierrc 		@AgnostiqHQ/aq-engineers
.pylintrc 		@AgnostiqHQ/aq-engineers
.readthedocs.yaml 	@AgnostiqHQ/aq-engineers
.wci.yaml 		@AgnostiqHQ/aq-engineers
CODE_OF_CONDUCT.md 	@AgnostiqHQ/aq-engineers
CONTRIBUTING.md 	@AgnostiqHQ/aq-engineers
README.md 		@AgnostiqHQ/aq-engineers
pyproject.toml 		@AgnostiqHQ/aq-engineers

# Covalent UI is owned by collaborators from Psiog.
/covalent_ui/**/*.js 		@mshkanth @Prasy12

# Modifying these requires additional approval.
Dockerfile		@AgnostiqHQ/aq-managers
.github/**		@AgnostiqHQ/aq-managers
LICENSE			@AgnostiqHQ/aq-managers
MANIFEST.in		@AgnostiqHQ/aq-managers
meta.yaml		@AgnostiqHQ/aq-managers
**/requirements.txt	@AgnostiqHQ/aq-managers
setup.py		@AgnostiqHQ/aq-managers
Makefile 		@AgnostiqHQ/aq-managers
