Repository AgnostiqHQ/covalent, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AgnostiqHQ/aq-engineers, @santoshkumarradha, @mshkanth, @Prasy12, @AgnostiqHQ/aq-managers

.github/CODEOWNERS:

# Copyright 2021 Agnostiq Inc.
#
# This file is part of Covalent.
#
# Licensed under the GNU Affero General Public License 3.0 (the "License").
# A copy of the License may be obtained with this software package or at
#
#      https://www.gnu.org/licenses/agpl-3.0.en.html
#
# Use of this file is prohibited except in compliance with the License. Any
# modifications or derivative works of this file must retain this copyright
# notice, and modified files must contain a notice indicating that they have
# been altered from the originals.
#
# Covalent is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
# FITNESS FOR A PARTICULAR PURPOSE. See the License for more details.
#
# Relief from the License may be granted by purchasing a commercial license.

# CODEOWNERS

# Core code, docs, and tests are owned by the Agnostiq engineering team.
/covalent/		@AgnostiqHQ/aq-engineers
/covalent_dispatcher/	@AgnostiqHQ/aq-engineers
/doc/			@santoshkumarradha
/tests/			@AgnostiqHQ/aq-engineers
.flake8			@AgnostiqHQ/aq-engineers
.gitignore		@AgnostiqHQ/aq-engineers
.pre-commit-config.yaml	@AgnostiqHQ/aq-engineers
.prettierrc 		@AgnostiqHQ/aq-engineers
.pylintrc 		@AgnostiqHQ/aq-engineers
.readthedocs.yaml 	@AgnostiqHQ/aq-engineers
.wci.yaml 		@AgnostiqHQ/aq-engineers
CODE_OF_CONDUCT.md 	@AgnostiqHQ/aq-engineers
CONTRIBUTING.md 	@AgnostiqHQ/aq-engineers
README.md 		@AgnostiqHQ/aq-engineers
pyproject.toml 		@AgnostiqHQ/aq-engineers

# Covalent UI is owned by collaborators from Psiog.
/covalent_ui/**/*.js 		@mshkanth @Prasy12

# Modifying these requires additional approval.
Dockerfile		@AgnostiqHQ/aq-managers
.github/**		@AgnostiqHQ/aq-managers
LICENSE			@AgnostiqHQ/aq-managers
MANIFEST.in		@AgnostiqHQ/aq-managers
meta.yaml		@AgnostiqHQ/aq-managers
**/requirements.txt	@AgnostiqHQ/aq-managers
setup.py		@AgnostiqHQ/aq-managers
Makefile 		@AgnostiqHQ/aq-managers

Update demo webiste with new changes in develop branch
  covalent_ui/webapp/build-demo/asset-manifest.json
  covalent_ui/webapp/build-demo/index.html
  covalent_ui/webapp/build-demo/static/js/2.9ef15d14.chunk.js
  covalent_ui/webapp/build-demo/static/js/2.9ef15d14.chunk.js.LICENSE.txt
  covalent_ui/webapp/build-demo/static/js/2.bc4359f0.chunk.js
  covalent_ui/webapp/build-demo/static/js/2.bc4359f0.chunk.js.LICENSE.txt
  covalent_ui/webapp/build-demo/static/js/main.2c98d331.chunk.js
  covalent_ui/webapp/build-demo/static/js/main.2c98d331.chunk.js.map
  covalent_ui/webapp/build-demo/static/js/main.f3f96265.chunk.js
  covalent_ui/webapp/build-demo/static/js/main.f3f96265.chunk.js.map
  covalent_ui/webapp/build-demo/static/js/runtime-main.58ea3bae.js
  covalent_ui/webapp/build-demo/static/js/runtime-main.58ea3bae.js.map
  covalent_ui/webapp/build-demo/static/js/runtime-main.c90d6939.js
  covalent_ui/webapp/build-demo/static/js/runtime-main.c90d6939.js.map
Owners: @mshkanth, @Prasy12

start resource tracker
  covalent_ui/app.py
Owners: none

Still fixing purge tests
  covalent_dispatcher/_cli/service.py
  tests/covalent_dispatcher_tests/_cli/service_test.py
Owners: @AgnostiqHQ/aq-engineers

minimal resource tracking implementation
  covalent_dispatcher/_service/app_resource_tracker.py
Owners: @AgnostiqHQ/aq-engineers

Added missing config dir in removal list
  covalent_dispatcher/_cli/service.py
  tests/covalent_dispatcher_tests/_cli/service_test.py
Owners: @AgnostiqHQ/aq-engineers

websockets import fix
  covalent_ui/app.py
Owners: none

pre-commit formatting
  covalent/_file_transfer/strategies/s3_strategy.py
  tests/covalent_tests/file_transfer/strategies/s3_strategy_test.py
Owners: @AgnostiqHQ/aq-engineers

add abstract setup/teardown executor hooks
  covalent/executor/base.py
Owners: @AgnostiqHQ/aq-engineers

update local and dask executors
  covalent/executor/executor_plugins/dask.py
Owners: @AgnostiqHQ/aq-engineers

remove setup/teardown from abstract
  covalent/executor/base.py
Owners: @AgnostiqHQ/aq-engineers

fix pre-commit issues, remove unsed import
  covalent/executor/base.py
Owners: @AgnostiqHQ/aq-engineers

remove hard requirement for setup/teardown methods
  covalent/executor/executor_plugins/dask.py
Owners: @AgnostiqHQ/aq-engineers

Added test init S3 strategy
  tests/covalent_tests/file_transfer/strategies/s3_strategy_test.py
Owners: @AgnostiqHQ/aq-engineers

add dummy setup and teardown methods for patch coverage
  tests/covalent_tests/executor/base_test.py
Owners: @AgnostiqHQ/aq-engineers

update setup/teardown hooks to receive task_metadata
  covalent/executor/base.py
Owners: @AgnostiqHQ/aq-engineers

Updated test init for S3 strategy
  tests/covalent_tests/file_transfer/strategies/s3_strategy_test.py
Owners: @AgnostiqHQ/aq-engineers

#882 S3 File Transfer Strategy (#907)
  CHANGELOG.md
  covalent/_file_transfer/strategies/__init__.py
  covalent/_file_transfer/strategies/s3_strategy.py
  doc/source/concepts/concepts.rst
  doc/source/how_to/orchestration/file_transfers_for_workflows.ipynb
  setup.py
  tests/covalent_tests/file_transfer/strategies/s3_strategy_test.py
Owners: @AgnostiqHQ/aq-engineers, @santoshkumarradha, @AgnostiqHQ/aq-managers

The new version will be 0.167.0
  CHANGELOG.md
  VERSION
Owners: none

removing redundant conda forge channel append
  .github/workflows/conda_build.yml
Owners: @AgnostiqHQ/aq-managers

tests/covalent_tests/executor/base_test.py
  tests/covalent_tests/executor/base_test.py
Owners: @AgnostiqHQ/aq-engineers

update changelog
  CHANGELOG.md
Owners: none

tests/covalent_tests/executor/base_test.py
  tests/covalent_tests/executor/base_test.py
Owners: @AgnostiqHQ/aq-engineers

update setup/teardown hooks to receive task_metadata
  covalent/executor/base.py
Owners: @AgnostiqHQ/aq-engineers

fix pre-commit issues, remove unsed import
  covalent/executor/base.py
Owners: @AgnostiqHQ/aq-engineers

add dummy setup and teardown methods for patch coverage
  tests/covalent_tests/executor/base_test.py
Owners: @AgnostiqHQ/aq-engineers

remove setup/teardown from abstract
  covalent/executor/base.py
Owners: @AgnostiqHQ/aq-engineers

update local and dask executors
  covalent/executor/executor_plugins/dask.py
Owners: @AgnostiqHQ/aq-engineers

add abstract setup/teardown executor hooks
  covalent/executor/base.py
Owners: @AgnostiqHQ/aq-engineers

remove hard requirement for setup/teardown methods
  covalent/executor/executor_plugins/dask.py
Owners: @AgnostiqHQ/aq-engineers

update changelog
  CHANGELOG.md
Owners: none

CI: build webapp if `build == 'true'`
  .github/workflows/tests.yml
  CHANGELOG.md
Owners: @AgnostiqHQ/aq-managers

Install Yarn on CentOS7 if build=true
  .github/workflows/tests.yml
Owners: @AgnostiqHQ/aq-managers

add abstract setup/teardown executor hooks (#897)
  CHANGELOG.md
  covalent/executor/base.py
  covalent/executor/executor_plugins/dask.py
  tests/covalent_tests/executor/base_test.py
Owners: @AgnostiqHQ/aq-engineers

The new version will be 0.168.0
  CHANGELOG.md
  VERSION
Owners: none

adding doc string
  covalent_dispatcher/_cli/service.py
Owners: @AgnostiqHQ/aq-engineers

pre-commit Ci fixes
  covalent_dispatcher/_cli/cli.py
  covalent_dispatcher/_cli/service.py
  tests/covalent_dispatcher_tests/_cli/cli_test.py
  tests/covalent_dispatcher_tests/_cli/service_test.py
Owners: @AgnostiqHQ/aq-engineers

adding covalent config cli with tests
  covalent_dispatcher/_cli/cli.py
  covalent_dispatcher/_cli/service.py
  tests/covalent_dispatcher_tests/_cli/cli_test.py
  tests/covalent_dispatcher_tests/_cli/service_test.py
Owners: @AgnostiqHQ/aq-engineers

rebase and update changelog
  CHANGELOG.md
Owners: none

update changelog
  CHANGELOG.md
Owners: none

update assert call count check
  tests/covalent_dispatcher_tests/_cli/service_test.py
Owners: @AgnostiqHQ/aq-engineers
