Repository AgnostiqHQ/covalent, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AgnostiqHQ/aq-engineers, @santoshkumarradha, @mshkanth, @Prasy12, @AgnostiqHQ/aq-managers

Fix test
  tests/covalent_tests/workflow/lepton_test.py
Owners: @AgnostiqHQ/aq-engineers

The new version will be 0.238.0-rc.0
  CHANGELOG.md
  VERSION
Owners: none

Reduce memory overhead for TransportableObject
  CHANGELOG.md
  covalent/_workflow/transportable_object.py
  tests/covalent_dispatcher_tests/_service/assets_test.py
  tests/covalent_tests/workflow/transport_test.py
Owners: @AgnostiqHQ/aq-engineers

Add framework for building sublattices inside new-style executors
  covalent/_dispatcher_plugins/local.py
  covalent/_file_transfer/strategies/shutil_strategy.py
  covalent/_workflow/electron.py
  covalent/executor/utils/wrappers.py
  covalent_dispatcher/_core/data_modules/importer.py
  tests/covalent_tests/file_transfer/strategies/shutil_strategy_test.py
  tests/covalent_tests/workflow/electron_test.py
Owners: @AgnostiqHQ/aq-engineers

Improve automatic file transfer strategy selection
  .gitignore
  covalent/_file_transfer/file_transfer.py
  tests/covalent_tests/file_transfer/file_transfer_test.py
Owners: @AgnostiqHQ/aq-engineers

Changelog
  CHANGELOG.md
Owners: none

Don't use internal TransportableObject attributes
  covalent_ui/api/v1/utils/file_handle.py
  tests/functional_tests/workflow_stack_test.py
Owners: @AgnostiqHQ/aq-engineers

bumping version
  VERSION
Owners: none

Use central threadpool for db access
  CHANGELOG.md
  covalent_dispatcher/_core/dispatcher.py
  covalent_dispatcher/_core/dispatcher_modules/caches.py
  covalent_dispatcher/_core/dispatcher_modules/store.py
  covalent_dispatcher/_dal/controller.py
  covalent_dispatcher/_dal/dispatcher_state.py
  covalent_dispatcher/_db/datastore.py
  covalent_dispatcher/_db/models.py
  covalent_migrations/versions/7e9fb153ecfb_add_task_group_table.py
  tests/covalent_dispatcher_tests/_core/dispatcher_db_integration_test.py
  tests/covalent_dispatcher_tests/_core/dispatcher_test.py
Owners: @AgnostiqHQ/aq-engineers

Remove typing_extensions dep
  covalent_dispatcher/_service/app.py
  covalent_ui/api/v1/models/dispatch_model.py
  covalent_ui/api/v1/models/logs_model.py
  covalent_ui/api/v1/routes/end_points/summary_routes.py
  requirements.txt
Owners: @AgnostiqHQ/aq-engineers, @AgnostiqHQ/aq-managers

Move in-memory dispatcher state to the main DB (#1982)
  CHANGELOG.md
  covalent_dispatcher/_core/dispatcher.py
  covalent_dispatcher/_core/dispatcher_modules/caches.py
  covalent_dispatcher/_core/dispatcher_modules/store.py
  covalent_dispatcher/_dal/controller.py
  covalent_dispatcher/_dal/dispatcher_state.py
  covalent_dispatcher/_db/datastore.py
  covalent_dispatcher/_db/models.py
  covalent_dispatcher/_service/app.py
  covalent_migrations/versions/7e9fb153ecfb_add_task_group_table.py
  covalent_ui/api/v1/models/dispatch_model.py
  covalent_ui/api/v1/models/logs_model.py
  covalent_ui/api/v1/routes/end_points/summary_routes.py
  requirements.txt
  tests/covalent_dispatcher_tests/_core/dispatcher_db_integration_test.py
  tests/covalent_dispatcher_tests/_core/dispatcher_test.py
Owners: @AgnostiqHQ/aq-engineers, @AgnostiqHQ/aq-managers

Update license.yml
  .github/workflows/license.yml
Owners: @AgnostiqHQ/aq-managers

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

Update license.yml (#1988)
  .github/workflows/license.yml
  CHANGELOG.md
Owners: @AgnostiqHQ/aq-managers

Reduce memory overhead for TransportableObject
  CHANGELOG.md
  covalent/_workflow/transportable_object.py
  tests/covalent_dispatcher_tests/_service/assets_test.py
  tests/covalent_tests/workflow/transport_test.py
Owners: @AgnostiqHQ/aq-engineers

Don't use internal TransportableObject attributes
  covalent_ui/api/v1/utils/file_handle.py
  tests/functional_tests/workflow_stack_test.py
Owners: @AgnostiqHQ/aq-engineers

The new version will be 0.239.0-rc.0
  CHANGELOG.md
  VERSION
Owners: none

Changelog
  CHANGELOG.md
Owners: none

Fix local executor tests
  covalent/executor/executor_plugins/local.py
  covalent/executor/utils/wrappers.py
  tests/covalent_tests/executor/executor_plugins/local_test.py
Owners: @AgnostiqHQ/aq-engineers

More pre-commit fixes
  covalent/_file_transfer/file.py
  covalent/_file_transfer/file_transfer.py
  covalent_dispatcher/_dal/tg_ops.py
  tests/covalent_tests/file_transfer/file_test.py
  tests/covalent_tests/file_transfer/file_transfer_test.py
Owners: @AgnostiqHQ/aq-engineers

Delete obsolete test
  tests/covalent_dispatcher_tests/_service/app_test.py
Owners: @AgnostiqHQ/aq-engineers

Small fix to electron asset importer
  covalent_dispatcher/_dal/base.py
  covalent_dispatcher/_dal/importers/electron.py
  covalent_dispatcher/_dal/importers/lattice.py
  covalent_dispatcher/_object_store/local.py
Owners: @AgnostiqHQ/aq-engineers

Fix test
  tests/covalent_dispatcher_tests/_dal/importers/result_import_test.py
Owners: @AgnostiqHQ/aq-engineers

Fix lepton test
  tests/covalent_tests/workflow/lepton_test.py
Owners: @AgnostiqHQ/aq-engineers

Introduce dedicated file server API
  covalent_dispatcher/_dal/utils/uri_filters.py
  covalent_dispatcher/_object_store/local.py
  covalent_dispatcher/_service/files.py
  covalent_ui/api/v1/routes/routes.py
Owners: @AgnostiqHQ/aq-engineers

Cleanup: parameterize api base endpoint everywhere in SDK
  covalent/_dispatcher_plugins/local.py
  covalent/_results_manager/results_manager.py
Owners: @AgnostiqHQ/aq-engineers

File API: sanitize paths
  covalent_dispatcher/_service/files.py
Owners: @AgnostiqHQ/aq-engineers

Refactor URI filtering and demo new upload/download pattern
  covalent/_shared_files/defaults.py
  covalent/executor/utils/wrappers.py
  covalent_dispatcher/_dal/asset.py
  covalent_dispatcher/_dal/exporters/electron.py
  covalent_dispatcher/_dal/exporters/lattice.py
  covalent_dispatcher/_dal/exporters/result.py
  covalent_dispatcher/_dal/importers/electron.py
  covalent_dispatcher/_dal/importers/lattice.py
  covalent_dispatcher/_dal/importers/result.py
  covalent_dispatcher/_dal/utils/uri_filters.py
  covalent_dispatcher/_object_store/base.py
  covalent_dispatcher/_object_store/local.py
  covalent_dispatcher/_service/assets.py
  covalent_dispatcher/_service/files.py
  tests/covalent_dispatcher_tests/_dal/importers/result_import_test.py
  tests/covalent_dispatcher_tests/_dal/tg_ops_test.py
  tests/covalent_dispatcher_tests/_service/assets_test.py
Owners: @AgnostiqHQ/aq-engineers

Remove terminal references in docs
  doc/source/webapp_ui/index.rst
  doc/source/webapp_ui/terminal/index.rst
Owners: @santoshkumarradha

Refresh yarn lockfile
  covalent_ui/webapp/yarn.lock
Owners: none

Whitelist Python-2.0 license for front end deps
  .github/workflows/license.yml
Owners: @AgnostiqHQ/aq-managers

Whitelist BSD license for front end
  .github/workflows/license.yml
Owners: @AgnostiqHQ/aq-managers

Remove debugging output
  covalent_ui/webapp/src/components/dispatch/DispatchLayout.js
  covalent_ui/webapp/src/components/graph/LatticeGraph.js
Owners: @mshkanth, @Prasy12

Whitelist Blue-Oak-1.0 license for front end
  .github/workflows/license.yml
Owners: @AgnostiqHQ/aq-managers

Fix dask cluster cli test
  tests/functional_tests/dask_cluster_cli_test.py
Owners: @AgnostiqHQ/aq-engineers

Removed rich upper limit
  CHANGELOG.md
  requirements.txt
Owners: @AgnostiqHQ/aq-managers

tested and working
  .github/workflows/license.yml
  covalent_ui/.gitignore
Owners: @AgnostiqHQ/aq-managers, @AgnostiqHQ/aq-engineers

updating stuff
  .pre-commit-config.yaml
Owners: @AgnostiqHQ/aq-engineers

fixing license workflow
  .github/workflows/license.yml
Owners: @AgnostiqHQ/aq-managers

Removed rich upper limit (#1992)
  .github/workflows/license.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  covalent_ui/.gitignore
  requirements.txt
Owners: @AgnostiqHQ/aq-managers, @AgnostiqHQ/aq-engineers

.github/CODEOWNERS:

# Copyright 2021 Agnostiq Inc.
#
# This file is part of Covalent.
#
# Licensed under the Apache License 2.0 (the "License"). A copy of the
# License may be obtained with this software package or at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Use of this file is prohibited except in compliance with the License.
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# CODEOWNERS

# Core code, docs, and tests are owned by the Agnostiq engineering team.
/covalent/		@AgnostiqHQ/aq-engineers
/covalent_dispatcher/	@AgnostiqHQ/aq-engineers
/doc/			@santoshkumarradha
/tests/			@AgnostiqHQ/aq-engineers
.flake8			@AgnostiqHQ/aq-engineers
.gitignore		@AgnostiqHQ/aq-engineers
.pre-commit-config.yaml	@AgnostiqHQ/aq-engineers
.prettierrc 		@AgnostiqHQ/aq-engineers
.pylintrc 		@AgnostiqHQ/aq-engineers
.readthedocs.yaml 	@AgnostiqHQ/aq-engineers
.wci.yaml 		@AgnostiqHQ/aq-engineers
CODE_OF_CONDUCT.md 	@AgnostiqHQ/aq-engineers
CONTRIBUTING.md 	@AgnostiqHQ/aq-engineers
README.md 		@AgnostiqHQ/aq-engineers
pyproject.toml 		@AgnostiqHQ/aq-engineers

# Covalent UI is owned by collaborators from Psiog.
/covalent_ui/**/*.js 		@mshkanth @Prasy12

# Modifying these requires additional approval.
Dockerfile		@AgnostiqHQ/aq-managers
.github/**		@AgnostiqHQ/aq-managers
LICENSE			@AgnostiqHQ/aq-managers
MANIFEST.in		@AgnostiqHQ/aq-managers
meta.yaml		@AgnostiqHQ/aq-managers
**/requirements.txt	@AgnostiqHQ/aq-managers
setup.py		@AgnostiqHQ/aq-managers
Makefile 		@AgnostiqHQ/aq-managers
