Repository AgnostiqHQ/covalent, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AgnostiqHQ/aq-engineers, @santoshkumarradha, @mshkanth, @Prasy12, @AgnostiqHQ/aq-managers

Support Python 3.12 and drop Python <3.10
  .github/workflows/requirements.yml
  .github/workflows/test_matrix.json
  .pre-commit-config.yaml
  CHANGELOG.md
  covalent/executor/__init__.py
Owners: @AgnostiqHQ/aq-managers, @AgnostiqHQ/aq-engineers

Remove Codecov from CI
  .github/workflows/tests.yml
  codecov.yml
Owners: @AgnostiqHQ/aq-managers

API: refactor and fix `get_result(wait=True)`
  CHANGELOG.md
  covalent/_dispatcher_plugins/local.py
  covalent/_results_manager/results_manager.py
  covalent/_shared_files/defaults.py
  covalent/triggers/base.py
  covalent_dispatcher/_dal/controller.py
  covalent_dispatcher/_dal/result.py
  covalent_dispatcher/_service/app.py
  covalent_dispatcher/_service/models.py
  tests/covalent_dispatcher_tests/_dal/result_test.py
  tests/covalent_dispatcher_tests/_service/app_test.py
  tests/covalent_tests/dispatcher_plugins/local_test.py
  tests/covalent_tests/results_manager_tests/results_manager_test.py
  tests/covalent_tests/triggers/base_test.py
Owners: @AgnostiqHQ/aq-engineers

Remove unused code
  covalent_dispatcher/_dal/result.py
  tests/covalent_dispatcher_tests/_dal/result_test.py
Owners: @AgnostiqHQ/aq-engineers

Update more python versions
  .github/workflows/release.yml
  .github/workflows/requirements.yml
  setup.py
Owners: @AgnostiqHQ/aq-managers

Fix
  .github/workflows/requirements.yml
Owners: @AgnostiqHQ/aq-managers

Update more versions
  covalent_ui/README.md
Owners: @AgnostiqHQ/aq-engineers

Update pyproject.toml
  pyproject.toml
Owners: @AgnostiqHQ/aq-engineers

Quote py version
  .github/workflows/release.yml
Owners: @AgnostiqHQ/aq-managers

Fix `get_result(wait=True)` and support Python 3.12 (#1949)
  .github/workflows/release.yml
  .github/workflows/requirements.yml
  .github/workflows/test_matrix.json
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  codecov.yml
  covalent/_dispatcher_plugins/local.py
  covalent/_results_manager/results_manager.py
  covalent/_shared_files/defaults.py
  covalent/executor/__init__.py
  covalent/triggers/base.py
  covalent_dispatcher/_dal/controller.py
  covalent_dispatcher/_dal/result.py
  covalent_dispatcher/_service/app.py
  covalent_dispatcher/_service/models.py
  covalent_ui/README.md
  pyproject.toml
  setup.py
  tests/covalent_dispatcher_tests/_dal/exporters/result_export_test.py
  tests/covalent_dispatcher_tests/_dal/import_export_test.py
  tests/covalent_dispatcher_tests/_dal/importers/result_import_test.py
  tests/covalent_dispatcher_tests/_dal/result_test.py
  tests/covalent_dispatcher_tests/_service/app_test.py
  tests/covalent_tests/dispatcher_plugins/local_test.py
  tests/covalent_tests/results_manager_tests/results_manager_test.py
  tests/covalent_tests/triggers/base_test.py
Owners: @AgnostiqHQ/aq-managers, @AgnostiqHQ/aq-engineers

Remove qelectron tests from CI
  .github/workflows/tests.yml
  CHANGELOG.md
Owners: @AgnostiqHQ/aq-managers

Raise an error if one tries to import qelectron on python >=3.12
  covalent/quantum/__init__.py
  tests/covalent_tests/cloud_resource_manager/core_test.py
  tests/covalent_tests/quantum/qserver/__init__.py
  tests/covalent_tests/quantum/qserver/database_test.py
  tests/covalent_tests/shared_files/qelectron_utils_test.py
Owners: @AgnostiqHQ/aq-engineers

Test Python 3.10-3.12 in PR checks
  .github/workflows/test_matrix.json
  .github/workflows/tests.yml
Owners: @AgnostiqHQ/aq-managers

Remove more qelectrons tests
  tests/covalent_ui_backend_tests/end_points/electrons_test.py
Owners: @AgnostiqHQ/aq-engineers

Update test
  tests/functional_tests/qa_deps_workflow_test.py
Owners: @AgnostiqHQ/aq-engineers

Debug tests
  .github/workflows/tests.yml
Owners: @AgnostiqHQ/aq-managers

Don't change cloudpickle version during FT
  tests/functional_tests/lepton_test.py
Owners: @AgnostiqHQ/aq-engineers

Fix executor manager test
  tests/covalent_tests/executor/init_test.py
Owners: @AgnostiqHQ/aq-engineers

Fix test
  tests/covalent_tests/executor/init_test.py
Owners: @AgnostiqHQ/aq-engineers

Fix test
  tests/covalent_tests/file_transfer/strategies/s3_strategy_test.py
Owners: @AgnostiqHQ/aq-engineers

Fix test
  tests/covalent_tests/shared_files/config_test.py
Owners: @AgnostiqHQ/aq-engineers

Fix brittle test
  tests/covalent_dispatcher_tests/_cli/service_test.py
Owners: @AgnostiqHQ/aq-engineers

Disable QElectron on Python >=3.12 (#1975)
  .github/workflows/test_matrix.json
  .github/workflows/tests.yml
  CHANGELOG.md
  covalent/quantum/__init__.py
  tests/covalent_dispatcher_tests/_cli/service_test.py
  tests/covalent_tests/cloud_resource_manager/core_test.py
  tests/covalent_tests/executor/init_test.py
  tests/covalent_tests/file_transfer/strategies/s3_strategy_test.py
  tests/covalent_tests/quantum/qserver/__init__.py
  tests/covalent_tests/quantum/qserver/database_test.py
  tests/covalent_tests/shared_files/config_test.py
  tests/covalent_tests/shared_files/qelectron_utils_test.py
  tests/covalent_ui_backend_tests/end_points/electrons_test.py
  tests/functional_tests/lepton_test.py
  tests/functional_tests/qa_deps_workflow_test.py
Owners: @AgnostiqHQ/aq-managers, @AgnostiqHQ/aq-engineers

Fix tests breaking on macos
  CHANGELOG.md
  tests/covalent_dispatcher_tests/_cli/service_test.py
Owners: @AgnostiqHQ/aq-engineers

Debug
  tests/functional_tests/workflow_stack_test.py
Owners: @AgnostiqHQ/aq-engineers

Trigger local executor tests for PRs
  .github/workflows/test_matrix.json
Owners: @AgnostiqHQ/aq-managers

Debug
  tests/functional_tests/workflow_stack_test.py
Owners: @AgnostiqHQ/aq-engineers

Fix tests breaking on macos
  .github/workflows/test_matrix.json
  .github/workflows/tests.yml
  CHANGELOG.md
  tests/covalent_dispatcher_tests/_cli/service_test.py
Owners: @AgnostiqHQ/aq-managers, @AgnostiqHQ/aq-engineers

Fix tests breaking on macos (#1976)
  .github/workflows/test_matrix.json
  .github/workflows/tests.yml
  CHANGELOG.md
  tests/covalent_dispatcher_tests/_cli/service_test.py
Owners: @AgnostiqHQ/aq-managers, @AgnostiqHQ/aq-engineers

The new version will be 0.236.0-rc.0
  CHANGELOG.md
  VERSION
Owners: none

Add framework for building sublattices inside new-style executors
  covalent/_dispatcher_plugins/local.py
  covalent/_file_transfer/strategies/shutil_strategy.py
  covalent/_workflow/electron.py
  covalent/executor/utils/wrappers.py
  covalent_dispatcher/_core/data_modules/importer.py
  tests/covalent_tests/file_transfer/strategies/shutil_strategy_test.py
  tests/covalent_tests/workflow/electron_test.py
Owners: @AgnostiqHQ/aq-engineers

Improve automatic file transfer strategy selection
  .gitignore
  covalent/_file_transfer/file_transfer.py
  tests/covalent_tests/file_transfer/file_transfer_test.py
Owners: @AgnostiqHQ/aq-engineers

Reduce memory overhead for TransportableObject
  CHANGELOG.md
  covalent/_workflow/transportable_object.py
  tests/covalent_dispatcher_tests/_service/assets_test.py
  tests/covalent_tests/workflow/transport_test.py
Owners: @AgnostiqHQ/aq-engineers

Changelog
  CHANGELOG.md
Owners: none

Default workflow_executor to lattice-default executor
  CHANGELOG.md
  covalent/_shared_files/defaults.py
  covalent/_workflow/electron.py
  covalent/_workflow/lattice.py
  tests/covalent_tests/workflow/electron_metadata_test.py
  tests/covalent_tests/workflow/lattice_test.py
Owners: @AgnostiqHQ/aq-engineers

Default workflow_executor to lattice-default executor (#1972)
  CHANGELOG.md
  covalent/_shared_files/defaults.py
  covalent/_workflow/electron.py
  covalent/_workflow/lattice.py
  tests/covalent_tests/workflow/electron_metadata_test.py
  tests/covalent_tests/workflow/lattice_test.py
Owners: @AgnostiqHQ/aq-engineers

Allow legacy openssl providers in release pipeline
  .github/workflows/release.yml
  CHANGELOG.md
Owners: @AgnostiqHQ/aq-managers

Allow legacy openssl providers in release pipeline (#1977)
  .github/workflows/release.yml
  CHANGELOG.md
Owners: @AgnostiqHQ/aq-managers

The new version will be 0.237.0-rc.0
  CHANGELOG.md
  VERSION
Owners: none

Fix: Remove unused imports
  covalent_ui/webapp/src/components/common/NodeDrawer.js
  covalent_ui/webapp/src/components/graph/ElectronNode.js
Owners: @mshkanth, @Prasy12

.github/CODEOWNERS:

# Copyright 2021 Agnostiq Inc.
#
# This file is part of Covalent.
#
# Licensed under the Apache License 2.0 (the "License"). A copy of the
# License may be obtained with this software package or at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Use of this file is prohibited except in compliance with the License.
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# CODEOWNERS

# Core code, docs, and tests are owned by the Agnostiq engineering team.
/covalent/		@AgnostiqHQ/aq-engineers
/covalent_dispatcher/	@AgnostiqHQ/aq-engineers
/doc/			@santoshkumarradha
/tests/			@AgnostiqHQ/aq-engineers
.flake8			@AgnostiqHQ/aq-engineers
.gitignore		@AgnostiqHQ/aq-engineers
.pre-commit-config.yaml	@AgnostiqHQ/aq-engineers
.prettierrc 		@AgnostiqHQ/aq-engineers
.pylintrc 		@AgnostiqHQ/aq-engineers
.readthedocs.yaml 	@AgnostiqHQ/aq-engineers
.wci.yaml 		@AgnostiqHQ/aq-engineers
CODE_OF_CONDUCT.md 	@AgnostiqHQ/aq-engineers
CONTRIBUTING.md 	@AgnostiqHQ/aq-engineers
README.md 		@AgnostiqHQ/aq-engineers
pyproject.toml 		@AgnostiqHQ/aq-engineers

# Covalent UI is owned by collaborators from Psiog.
/covalent_ui/**/*.js 		@mshkanth @Prasy12

# Modifying these requires additional approval.
Dockerfile		@AgnostiqHQ/aq-managers
.github/**		@AgnostiqHQ/aq-managers
LICENSE			@AgnostiqHQ/aq-managers
MANIFEST.in		@AgnostiqHQ/aq-managers
meta.yaml		@AgnostiqHQ/aq-managers
**/requirements.txt	@AgnostiqHQ/aq-managers
setup.py		@AgnostiqHQ/aq-managers
Makefile 		@AgnostiqHQ/aq-managers
