Repository AgnostiqHQ/covalent, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AgnostiqHQ/aq-engineers, @santoshkumarradha, @mshkanth, @Prasy12, @AgnostiqHQ/aq-managers

.github/CODEOWNERS:

# Copyright 2021 Agnostiq Inc.
#
# This file is part of Covalent.
#
# Licensed under the Apache License 2.0 (the "License"). A copy of the
# License may be obtained with this software package or at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Use of this file is prohibited except in compliance with the License.
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# CODEOWNERS

# Core code, docs, and tests are owned by the Agnostiq engineering team.
/covalent/		@AgnostiqHQ/aq-engineers
/covalent_dispatcher/	@AgnostiqHQ/aq-engineers
/doc/			@santoshkumarradha
/tests/			@AgnostiqHQ/aq-engineers
.flake8			@AgnostiqHQ/aq-engineers
.gitignore		@AgnostiqHQ/aq-engineers
.pre-commit-config.yaml	@AgnostiqHQ/aq-engineers
.prettierrc 		@AgnostiqHQ/aq-engineers
.pylintrc 		@AgnostiqHQ/aq-engineers
.readthedocs.yaml 	@AgnostiqHQ/aq-engineers
.wci.yaml 		@AgnostiqHQ/aq-engineers
CODE_OF_CONDUCT.md 	@AgnostiqHQ/aq-engineers
CONTRIBUTING.md 	@AgnostiqHQ/aq-engineers
README.md 		@AgnostiqHQ/aq-engineers
pyproject.toml 		@AgnostiqHQ/aq-engineers

# Covalent UI is owned by collaborators from Psiog.
/covalent_ui/**/*.js 		@mshkanth @Prasy12

# Modifying these requires additional approval.
Dockerfile		@AgnostiqHQ/aq-managers
.github/**		@AgnostiqHQ/aq-managers
LICENSE			@AgnostiqHQ/aq-managers
MANIFEST.in		@AgnostiqHQ/aq-managers
meta.yaml		@AgnostiqHQ/aq-managers
**/requirements.txt	@AgnostiqHQ/aq-managers
setup.py		@AgnostiqHQ/aq-managers
Makefile 		@AgnostiqHQ/aq-managers

The new version will be 0.240.0-rc.0
  CHANGELOG.md
  VERSION
Owners: none

Fixing release.yml
  .github/workflows/man_2_create_prerelease.yml
  .github/workflows/release.yml
Owners: @AgnostiqHQ/aq-managers

temp change
  .github/workflows/release.yml
Owners: @AgnostiqHQ/aq-managers

reverted pypi comment
  .github/workflows/release.yml
Owners: @AgnostiqHQ/aq-managers

fixing release stable action
  .github/workflows/release.yml
Owners: @AgnostiqHQ/aq-managers

another try
  .github/workflows/release.yml
Owners: @AgnostiqHQ/aq-managers

another try
  .github/workflows/release.yml
Owners: @AgnostiqHQ/aq-managers

updating
  .github/workflows/release.yml
Owners: @AgnostiqHQ/aq-managers

fixing
  .github/workflows/release.yml
Owners: @AgnostiqHQ/aq-managers

more fixes
  .github/workflows/release.yml
Owners: @AgnostiqHQ/aq-managers

updated changelog
  CHANGELOG.md
Owners: none

updated test matrix for pull requests
  .github/workflows/test_matrix.json
Owners: @AgnostiqHQ/aq-managers

fixing test matrix
  .github/workflows/test_matrix.json
Owners: @AgnostiqHQ/aq-managers

Remove Pydantic and Python deprecations
  covalent_dispatcher/_dal/base.py
  tests/covalent_dispatcher_tests/_dal/exporters/result_export_test.py
  tests/covalent_dispatcher_tests/_dal/import_export_test.py
  tests/covalent_dispatcher_tests/_service/app_test.py
Owners: @AgnostiqHQ/aq-engineers

Update test matrix and nodejs version
  .github/actions/changelog/.nvmrc
  .github/actions/describe/.nvmrc
  .github/actions/stable-changelog/.nvmrc
  .github/actions/version-transform/.nvmrc
  .github/workflows/action_build.yml
  .github/workflows/release.yml
  .github/workflows/test_matrix.json
  .github/workflows/tests.yml
  covalent_ui/webapp/.nvmrc
Owners: @AgnostiqHQ/aq-managers

Fix redispatch bug
  covalent/_shared_files/defaults.py
  covalent_dispatcher/_dal/tg_ops.py
Owners: @AgnostiqHQ/aq-engineers

Added redispatch test
  tests/functional_tests/workflow_stack_test.py
Owners: @AgnostiqHQ/aq-engineers

Add COVALENT_EXTRA_HEADERS support to HTTP upload strategy
  covalent/_file_transfer/strategies/http_strategy.py
Owners: @AgnostiqHQ/aq-engineers

cve fix
  requirements.txt
Owners: @AgnostiqHQ/aq-managers

make 'dask[distributed]' optoinal via 'covalent[dask]'
  CHANGELOG.md
  covalent/_shared_files/defaults.py
  covalent/executor/__init__.py
  covalent/executor/executor_plugins/dask.py
  covalent_dispatcher/_cli/service.py
  covalent_dispatcher/_service/app_dask.py
  covalent_ui/app.py
  requirements-client.txt
  requirements.txt
  setup.py
Owners: @AgnostiqHQ/aq-engineers, @AgnostiqHQ/aq-managers

add unit tests
  tests/covalent_tests/executor/init_test.py
  tests/covalent_tests/shared_files/defaults_test.py
  tests/requirements.txt
Owners: @AgnostiqHQ/aq-engineers, @AgnostiqHQ/aq-managers

ensure executor module load fails silently
  covalent/executor/__init__.py
Owners: @AgnostiqHQ/aq-engineers

move changelog line to unreleased section
  CHANGELOG.md
Owners: none

add setuptools requirement
  requirements.txt
Owners: @AgnostiqHQ/aq-managers

move setuptools installation out of requirements
  .github/workflows/tests.yml
  requirements.txt
Owners: @AgnostiqHQ/aq-managers

update for 'links' -> 'edges' renaming in new networkx
  covalent/_workflow/transport.py
  covalent_dispatcher/_db/dispatchdb.py
  covalent_dispatcher/_db/write_result_to_db.py
  tests/covalent_tests/workflow/transport_test.py
Owners: @AgnostiqHQ/aq-engineers

set lower bound for networkx
  requirements.txt
Owners: @AgnostiqHQ/aq-managers

fix tests
  tests/covalent_dispatcher_tests/_core/data_modules/job_manager_test.py
  tests/covalent_dispatcher_tests/_service/app_test.py
Owners: @AgnostiqHQ/aq-engineers

fix typo for test
  tests/covalent_dispatcher_tests/_core/data_modules/job_manager_test.py
Owners: @AgnostiqHQ/aq-engineers

rename key in test from 'status' to 'job_status'
  tests/covalent_dispatcher_tests/_core/data_modules/job_manager_test.py
Owners: @AgnostiqHQ/aq-engineers

move locust requirement to load test workflow to avoid gevent dependency error
  .github/workflows/benchmark.yml
  tests/requirements.txt
Owners: @AgnostiqHQ/aq-managers

include content-type header to resolve dispatch bug
  covalent/_dispatcher_plugins/local.py
Owners: @AgnostiqHQ/aq-engineers

add another ignore_files entry in docs how to test
  tests/functional_tests/docs_how_to_test.py
Owners: @AgnostiqHQ/aq-engineers

stop python 3.10 support, start python 3.13 support
  .github/workflows/release.yml
  .github/workflows/requirements.yml
  .github/workflows/test_matrix.json
  setup.py
  tests/covalent_dispatcher_tests/_core/runner_modules/jobs_test.py
Owners: @AgnostiqHQ/aq-managers, @AgnostiqHQ/aq-engineers

fix container in test matrix
  .github/workflows/test_matrix.json
Owners: @AgnostiqHQ/aq-managers

fix names
  .github/workflows/test_matrix.json
Owners: @AgnostiqHQ/aq-managers

more links -> edges renaming
  covalent/_serialize/transport_graph.py
  covalent/_shared_files/schemas/transport_graph.py
  covalent_dispatcher/_core/data_modules/graph.py
  covalent_dispatcher/_core/dispatcher.py
  covalent_dispatcher/_dal/exporters/tg.py
  covalent_dispatcher/_dal/importers/tg.py
  covalent_dispatcher/_db/dispatchdb.py
  covalent_ui/api/v1/data_layer/graph_dal.py
  covalent_ui/api/v1/models/lattices_model.py
  covalent_ui/api/v1/routes/end_points/graph_route.py
  covalent_ui/webapp/src/components/graph/LayoutElk.js
  tests/covalent_dispatcher_tests/_core/data_modules/graph_test.py
  tests/covalent_dispatcher_tests/_dal/exporters/result_export_test.py
  tests/covalent_dispatcher_tests/_dal/import_export_test.py
  tests/covalent_dispatcher_tests/_dal/importers/result_import_test.py
  tests/covalent_ui_backend_tests/utils/assert_data/graph.py
Owners: @AgnostiqHQ/aq-engineers, @mshkanth, @Prasy12

fix path in mock
  tests/covalent_dispatcher_tests/_core/dispatcher_db_integration_test.py
  tests/covalent_dispatcher_tests/_core/dispatcher_test.py
Owners: @AgnostiqHQ/aq-engineers

add content-type header for draw_request post
  covalent_ui/result_webhook.py
Owners: none

restore 'links' key in extract_graph for 'json_graph.node_link_data'
  covalent_dispatcher/_db/dispatchdb.py
Owners: @AgnostiqHQ/aq-engineers
