Repository AgnostiqHQ/covalent, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AgnostiqHQ/aq-engineers, @santoshkumarradha, @mshkanth, @Prasy12, @AgnostiqHQ/aq-managers

include `boto3>=1.26.110` requirement
  requirements.txt
Owners: @AgnostiqHQ/aq-managers

add test for no shell error
  tests/functional_tests/lepton_test.py
Owners: @AgnostiqHQ/aq-engineers

Revert "add test for no shell error"
  tests/functional_tests/lepton_test.py
Owners: @AgnostiqHQ/aq-engineers

unit test for shell not found
  tests/covalent_tests/workflow/lepton_test.py
Owners: @AgnostiqHQ/aq-engineers

Fallback to `sh` in remote environment if `bash` not available (#1866)
  CHANGELOG.md
  covalent/_workflow/lepton.py
  requirements.txt
  tests/covalent_tests/workflow/lepton_test.py
Owners: @AgnostiqHQ/aq-engineers, @AgnostiqHQ/aq-managers

Video Changes for read me content
  README.md
  doc/source/_static/readme_hero.svg
  doc/source/_static/readme_hero_light.svg
Owners: @AgnostiqHQ/aq-engineers, @santoshkumarradha

Image changes for readme
  README.md
  doc/source/_static/ai_tutorial.svg
  doc/source/_static/ai_tutorial_light.svg
  doc/source/_static/cloud_hpc.svg
  doc/source/_static/cloud_hpc_light.svg
  doc/source/_static/concepts_of_covalent.svg
  doc/source/_static/concepts_of_covalent_light.svg
  doc/source/_static/covalent_work.svg
  doc/source/_static/covalent_work_light.svg
  doc/source/_static/development.svg
  doc/source/_static/development_light.svg
  doc/source/_static/mnist_tutorial.svg
  doc/source/_static/mnist_tutorial_light.svg
  doc/source/_static/quantum_tutorial.svg
  doc/source/_static/quantum_tutorial_light.svg
  doc/source/_static/what_is_covalent.svg
  doc/source/_static/what_is_covalent_light.svg
Owners: @AgnostiqHQ/aq-engineers, @santoshkumarradha

Update video in readme
  README.md
Owners: @AgnostiqHQ/aq-engineers

Image changes for readme
  README.md
  doc/source/_static/ai_tutorial.svg
  doc/source/_static/aws.svg
  doc/source/_static/aws_light.svg
  doc/source/_static/azure.svg
  doc/source/_static/azure_light.svg
  doc/source/_static/dask.svg
  doc/source/_static/dask_light.svg
  doc/source/_static/google.svg
  doc/source/_static/google_light.svg
  doc/source/_static/ibm.svg
  doc/source/_static/ibmq.svg
  doc/source/_static/ibmq_light.svg
  doc/source/_static/kubernetes.svg
  doc/source/_static/kubernetes_light.svg
  doc/source/_static/many_more.svg
  doc/source/_static/many_more_light.svg
  doc/source/_static/slurm.svg
  doc/source/_static/slurm_light.svg
Owners: @AgnostiqHQ/aq-engineers, @santoshkumarradha

Svg image changes for readme file
  README.md
  doc/source/_static/ai_tutorial.svg
  doc/source/_static/aws.svg
  doc/source/_static/azure.svg
  doc/source/_static/dask.svg
  doc/source/_static/development.svg
  doc/source/_static/google.svg
  doc/source/_static/ibmq.svg
  doc/source/_static/kubernetes.svg
  doc/source/_static/many_more.svg
  doc/source/_static/mnist_tutorial.svg
  doc/source/_static/quantum_tutorial.svg
  doc/source/_static/slurm.svg
Owners: @AgnostiqHQ/aq-engineers, @santoshkumarradha

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

Adding line breaks
  README.md
Owners: @AgnostiqHQ/aq-engineers

some fixes for line breaks
  README.md
Owners: @AgnostiqHQ/aq-engineers

Fix for code block
  README.md
Owners: @AgnostiqHQ/aq-engineers

The new version will be 0.231.0-rc.0
  CHANGELOG.md
  VERSION
Owners: none

Centering changes for divs in readme
  README.md
Owners: @AgnostiqHQ/aq-engineers

porting config vars from old pion
  covalent/_shared_files/defaults.py
Owners: @AgnostiqHQ/aq-engineers

porting some changes from old pion
  covalent/_results_manager/result.py
Owners: @AgnostiqHQ/aq-engineers

Adding tab spaces
  README.md
Owners: @AgnostiqHQ/aq-engineers

code block change in readme
  README.md
Owners: @AgnostiqHQ/aq-engineers

capture terraform errors and outputs
  covalent/cloud_resource_manager/core.py
  covalent_dispatcher/_cli/groups/deploy.py
  covalent_dispatcher/_cli/groups/deploy_print_callbacks.py
Owners: @AgnostiqHQ/aq-engineers

correct leading whitespace
  covalent_dispatcher/_cli/groups/deploy_print_callbacks.py
Owners: @AgnostiqHQ/aq-engineers

update changelog
  CHANGELOG.md
Owners: none

ignore "No state file .." message
  covalent/cloud_resource_manager/core.py
Owners: @AgnostiqHQ/aq-engineers

revise exit return codes
  covalent/cloud_resource_manager/core.py
  covalent_dispatcher/_cli/groups/deploy.py
Owners: @AgnostiqHQ/aq-engineers

update tests
  tests/covalent_tests/cloud_resource_manager/core_test.py
Owners: @AgnostiqHQ/aq-engineers

add tests for coverage
  tests/covalent_dispatcher_tests/_cli/cli_test.py
  tests/covalent_tests/cloud_resource_manager/core_test.py
Owners: @AgnostiqHQ/aq-engineers

check success case in tf version test
  tests/covalent_tests/cloud_resource_manager/core_test.py
Owners: @AgnostiqHQ/aq-engineers

update tests
  covalent/cloud_resource_manager/core.py
  covalent_dispatcher/_cli/groups/deploy.py
  tests/covalent_dispatcher_tests/_cli/cli_test.py
  tests/covalent_tests/cloud_resource_manager/core_test.py
Owners: @AgnostiqHQ/aq-engineers

pre-commit fixes
  tests/covalent_dispatcher_tests/_cli/cli_test.py
Owners: @AgnostiqHQ/aq-engineers

modify to pass without `terraform` in CI test env
  tests/covalent_tests/cloud_resource_manager/core_test.py
Owners: @AgnostiqHQ/aq-engineers

retry tests fix
  tests/covalent_tests/cloud_resource_manager/core_test.py
Owners: @AgnostiqHQ/aq-engineers

retry retry fix
  tests/covalent_tests/cloud_resource_manager/core_test.py
Owners: @AgnostiqHQ/aq-engineers

remove useless pragma tags
  covalent/cloud_resource_manager/core.py
  covalent_dispatcher/_cli/groups/deploy.py
Owners: @AgnostiqHQ/aq-engineers

use exist status 1 for error
  covalent/cloud_resource_manager/core.py
Owners: @AgnostiqHQ/aq-engineers

include crm.up test with 'valid' options
  tests/covalent_tests/cloud_resource_manager/core_test.py
Owners: @AgnostiqHQ/aq-engineers

correct exit code
  covalent_dispatcher/_cli/groups/deploy.py
Owners: @AgnostiqHQ/aq-engineers

update test
  tests/covalent_dispatcher_tests/_cli/cli_test.py
Owners: @AgnostiqHQ/aq-engineers

new test for up command with 'valid' options
  tests/covalent_tests/cloud_resource_manager/core_test.py
Owners: @AgnostiqHQ/aq-engineers

update to work without terraform install
  tests/covalent_tests/cloud_resource_manager/core_test.py
Owners: @AgnostiqHQ/aq-engineers

.github/CODEOWNERS:

# Copyright 2021 Agnostiq Inc.
#
# This file is part of Covalent.
#
# Licensed under the Apache License 2.0 (the "License"). A copy of the
# License may be obtained with this software package or at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Use of this file is prohibited except in compliance with the License.
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# CODEOWNERS

# Core code, docs, and tests are owned by the Agnostiq engineering team.
/covalent/		@AgnostiqHQ/aq-engineers
/covalent_dispatcher/	@AgnostiqHQ/aq-engineers
/doc/			@santoshkumarradha
/tests/			@AgnostiqHQ/aq-engineers
.flake8			@AgnostiqHQ/aq-engineers
.gitignore		@AgnostiqHQ/aq-engineers
.pre-commit-config.yaml	@AgnostiqHQ/aq-engineers
.prettierrc 		@AgnostiqHQ/aq-engineers
.pylintrc 		@AgnostiqHQ/aq-engineers
.readthedocs.yaml 	@AgnostiqHQ/aq-engineers
.wci.yaml 		@AgnostiqHQ/aq-engineers
CODE_OF_CONDUCT.md 	@AgnostiqHQ/aq-engineers
CONTRIBUTING.md 	@AgnostiqHQ/aq-engineers
README.md 		@AgnostiqHQ/aq-engineers
pyproject.toml 		@AgnostiqHQ/aq-engineers

# Covalent UI is owned by collaborators from Psiog.
/covalent_ui/**/*.js 		@mshkanth @Prasy12

# Modifying these requires additional approval.
Dockerfile		@AgnostiqHQ/aq-managers
.github/**		@AgnostiqHQ/aq-managers
LICENSE			@AgnostiqHQ/aq-managers
MANIFEST.in		@AgnostiqHQ/aq-managers
meta.yaml		@AgnostiqHQ/aq-managers
**/requirements.txt	@AgnostiqHQ/aq-managers
setup.py		@AgnostiqHQ/aq-managers
Makefile 		@AgnostiqHQ/aq-managers
