Repository AgnostiqHQ/covalent, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AgnostiqHQ/aq-engineers, @santoshkumarradha, @mshkanth, @Prasy12, @AgnostiqHQ/aq-managers

.github/CODEOWNERS:

# Copyright 2021 Agnostiq Inc.
#
# This file is part of Covalent.
#
# Licensed under the GNU Affero General Public License 3.0 (the "License").
# A copy of the License may be obtained with this software package or at
#
#      https://www.gnu.org/licenses/agpl-3.0.en.html
#
# Use of this file is prohibited except in compliance with the License. Any
# modifications or derivative works of this file must retain this copyright
# notice, and modified files must contain a notice indicating that they have
# been altered from the originals.
#
# Covalent is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
# FITNESS FOR A PARTICULAR PURPOSE. See the License for more details.
#
# Relief from the License may be granted by purchasing a commercial license.

# CODEOWNERS

# Core code, docs, and tests are owned by the Agnostiq engineering team.
/covalent/		@AgnostiqHQ/aq-engineers
/covalent_dispatcher/	@AgnostiqHQ/aq-engineers
/doc/			@santoshkumarradha
/tests/			@AgnostiqHQ/aq-engineers
.flake8			@AgnostiqHQ/aq-engineers
.gitignore		@AgnostiqHQ/aq-engineers
.pre-commit-config.yaml	@AgnostiqHQ/aq-engineers
.prettierrc 		@AgnostiqHQ/aq-engineers
.pylintrc 		@AgnostiqHQ/aq-engineers
.readthedocs.yaml 	@AgnostiqHQ/aq-engineers
.wci.yaml 		@AgnostiqHQ/aq-engineers
CODE_OF_CONDUCT.md 	@AgnostiqHQ/aq-engineers
CONTRIBUTING.md 	@AgnostiqHQ/aq-engineers
README.md 		@AgnostiqHQ/aq-engineers
pyproject.toml 		@AgnostiqHQ/aq-engineers

# Covalent UI is owned by collaborators from Psiog.
/covalent_ui/**/*.js 		@mshkanth @Prasy12

# Modifying these requires additional approval.
Dockerfile		@AgnostiqHQ/aq-managers
.github/**		@AgnostiqHQ/aq-managers
LICENSE			@AgnostiqHQ/aq-managers
MANIFEST.in		@AgnostiqHQ/aq-managers
meta.yaml		@AgnostiqHQ/aq-managers
**/requirements.txt	@AgnostiqHQ/aq-managers
setup.py		@AgnostiqHQ/aq-managers
Makefile 		@AgnostiqHQ/aq-managers

Update doc/source/api/cli.rst
  doc/source/api/cli.rst
Owners: @santoshkumarradha

removing docutils version as it causes panick in RTD
  doc/requirements.txt
Owners: @AgnostiqHQ/aq-managers

added changelog
  CHANGELOG.md
Owners: none

Update doc/source/api/config.rst
  doc/source/api/config.rst
Owners: @santoshkumarradha

Update doc/source/api/executers/index.rst
  doc/source/api/executers/index.rst
Owners: @santoshkumarradha

keep username generic
  doc/source/how_to/execution/using_awslambda_executor.ipynb
Owners: @santoshkumarradha

update changelog
  covalent_ui/lambda_function.py
Owners: none

basic rtd for executing an workflow using the AWS Lambda executor + pre-commit CI fixes
  doc/source/how_to/execution/execute_individual_electron.ipynb
  doc/source/how_to/execution/using_awslambda_executor.ipynb
  doc/source/how_to/index.rst
Owners: @santoshkumarradha

add execution output
  doc/source/how_to/execution/using_awslambda_executor.ipynb
Owners: @santoshkumarradha

updates
  doc/source/how_to/execution/using_awslambda_executor.ipynb
Owners: @santoshkumarradha

cleanup
  covalent_ui/lambda_function.py
Owners: none

add awslambda rst
  doc/source/api/executers/awslambda.rst
Owners: @santoshkumarradha

move lambda executor into plugins
  doc/source/api/executers/awslambda.rst
  doc/source/plugins.rst
Owners: @santoshkumarradha

fix pre-commit
  doc/source/api/executers/awslambda.rst
  doc/source/how_to/execution/using_awslambda_executor.ipynb
Owners: @santoshkumarradha

pre commit ci fixes
  doc/source/api/executers/awslambda.rst
Owners: @santoshkumarradha

remove rtd from how-to section and move into plugins
  doc/source/api/executers/awslambda.rst
  doc/source/how_to/execution/using_awslambda_executor.ipynb
  doc/source/how_to/index.rst
Owners: @santoshkumarradha

update changelog, add rtd for awsbatch
  CHANGELOG.md
  doc/source/api/executers/awsbatch.rst
  doc/source/api/executers/index.rst
  doc/source/plugins.rst
Owners: @santoshkumarradha

fix typo
  doc/source/api/executers/awsbatch.rst
Owners: @santoshkumarradha

init rtd for ECS executor
  doc/source/api/executers/awsecs.rst
  doc/source/plugins.rst
Owners: @santoshkumarradha

update aws ecs executor RTD
  CHANGELOG.md
  doc/source/api/executers/awsecs.rst
Owners: @santoshkumarradha

add rtd for AWS Braket executor
  CHANGELOG.md
  doc/source/api/executers/awsbraket.rst
  doc/source/plugins.rst
Owners: @santoshkumarradha

fix executor name
  doc/source/api/executers/awsbraket.rst
Owners: @santoshkumarradha

pre-commit fixes
  doc/source/api/executers/awsbraket.rst
  doc/source/api/executers/awsecs.rst
Owners: @santoshkumarradha

Updated return values for pre fire hooks for file transfer, updated docs
  covalent/_file_transfer/file_transfer.py
  doc/source/concepts/concepts.rst
  doc/source/how_to/orchestration/file_transfers_for_workflows.ipynb
  tests/covalent_tests/file_transfer/strategies/base_strategy_test.py
  tests/functional_tests/file_transfer_test.py
Owners: @AgnostiqHQ/aq-engineers, @santoshkumarradha

Updated CHANGELOG
  CHANGELOG.md
Owners: none

Updates to RTD
  doc/source/concepts/concepts.rst
Owners: @santoshkumarradha

Starting app using uvicorn
  covalent_ui/app.py
  covalent_ui/webapp/public/index.html
Owners: none

Running covalent start on python3.
  covalent_dispatcher/_cli/service.py
Owners: @AgnostiqHQ/aq-engineers

Remove python3 command used to start covalent
  covalent_dispatcher/_cli/service.py
Owners: @AgnostiqHQ/aq-engineers

Removed db initialization
  covalent_ui/api/v1/database/config/db.py
Owners: none

Remove retry logic
  .github/workflows/tests.yml
Owners: @AgnostiqHQ/aq-managers

Print logs after functional tests
  .github/workflows/tests.yml
Owners: @AgnostiqHQ/aq-managers

Run functional tests only
  .github/workflows/tests.yml
Owners: @AgnostiqHQ/aq-managers

Return 503 in `/submit` if pools haven't started
  .github/workflows/tests.yml
  covalent_dispatcher/_service/app.py
Owners: @AgnostiqHQ/aq-managers, @AgnostiqHQ/aq-engineers

Fix typo
  .github/workflows/tests.yml
Owners: @AgnostiqHQ/aq-managers

Make workflow_pool and tasks_pool module-global
  covalent_dispatcher/_service/app.py
Owners: @AgnostiqHQ/aq-engineers

Fixed tests
  covalent_dispatcher/_cli/service.py
  requirements.txt
  tests/covalent_dispatcher_tests/_cli/service_test.py
Owners: @AgnostiqHQ/aq-engineers, @AgnostiqHQ/aq-managers

add link to lambda executor
  doc/source/api/executers/index.rst
Owners: @santoshkumarradha

Update tests/.gitignore to whitelist the sample result pickles
  tests/.gitignore
Owners: @AgnostiqHQ/aq-engineers

Add utilities to convert legacy (0.110.2-vintage) Result object
  covalent/_workflow/electron.py
  covalent/utils/__init__.py
  covalent/utils/migrate.py
  tests/covalent_tests/utils/migrate_test.py
  tests/covalent_tests/utils/sample_results_dir/legacy_workflow.py
  tests/covalent_tests/workflow/electron_test.py
Owners: @AgnostiqHQ/aq-engineers
