Repository AgnostiqHQ/covalent, pull requests merged in 2022-03, with the labels that each got.

#148 Refer to plugins by their short name
  CHANGELOG.md
  VERSION
  covalent/executor/__init__.py
Labels: ready for review, covalent-executor, electron, priority / medium

#160 Fixes #159
  .github/workflows/tests.yml
  CHANGELOG.md
  VERSION
Labels: test, devops

#164 Config improvements
  CHANGELOG.md
  VERSION
  covalent/_shared_files/config.py
  covalent/_shared_files/defaults.py
  covalent/executor/__init__.py
  covalent/executor/executor_plugins/local.py
Labels: covalent-executor, priority / medium

#158 Remove cova dependency from alternate conda environments
  CHANGELOG.md
  VERSION
  covalent/executor/base.py
  covalent/executor/executor_plugins/local.py
  tests/covalent_tests/executor/base_test.py
Labels: bug, ready for review, covalent-executor, electron, priority / medium

#167 OS Refactor Runner
  .github/workflows/version.yml
  CHANGELOG.md
  VERSION
  refactor/runner/app/api/api_v0/endpoints/task.py
  refactor/runner/app/core/__init__.py
  refactor/runner/app/core/execution.py
  refactor/runner/app/core/task.py
Labels: feature, covalent-dispatcher, covalent-executor, priority / high

#188 fixing the server
  CHANGELOG.md
  VERSION
  covalent_dispatcher/_cli/service.py
  covalent_ui/app.py
  doc/source/how_to/execution/execute_lattice.ipynb
  tests/covalent_dispatcher_tests/_cli/service_test.py
Labels: bug, ready for review, covalent-dispatcher, priority / high

#223 fixing docs
  CHANGELOG.md
  VERSION
  doc/requirements.txt
Labels: bug, documentation

#225 adding tests
  .gitignore
  CHANGELOG.md
  VERSION
  covalent/_workflow/lepton.py
  covalent/executor/base.py
  covalent/notify/notify.py
  tests/covalent_tests/executor/base_test.py
  tests/covalent_tests/notify/init_test.py
  tests/covalent_tests/notify/notify_test.py
  tests/covalent_tests/results_manager/__init__.py
  tests/covalent_tests/results_manager/results_manager_test.py
  tests/covalent_tests/shared_files/config_test.py
  tests/covalent_tests/workflow/lepton_test.py
Labels: test

#19 Add tests for lattice object
  CHANGELOG.md
  VERSION
  covalent/__init__.py
  covalent/_workflow/__init__.py
  covalent/_workflow/lattice.py
  tests/covalent_tests/workflow/lattice_test.py
Labels: test, lattice, transport-graph

#226 misc tests
  CHANGELOG.md
  VERSION
  covalent/_results_manager/result.py
  covalent/_shared_files/context_managers.py
  covalent/_shared_files/utils.py
  covalent/_workflow/electron.py
  covalent/_workflow/lattice.py
  covalent/_workflow/lepton.py
  tests/covalent_tests/executor/base_test.py
  tests/covalent_tests/shared_files/utils_test.py
  tests/covalent_tests/workflow/lepton_test.py
Labels: test

#198 Instantiate DispatchDB upon server start.
  CHANGELOG.md
  covalent_ui/app.py
Labels: covalent-data

#279 add test for version check
  CHANGELOG.md
  covalent/executor/__init__.py
  tests/covalent_tests/executor/init_test.py
Labels: test
